<div class="container-fluid" style="height: auto; margin-bottom: 50px !important;">
    <div class="services">
        <div>
            <button class="btnbackContact" (click)="backToPreviousPage()">Back</button>
        </div>
        <h1>Help / FAQs</h1>
        <h5></h5>
    </div>

    <div class="FAQdeiv text-start">
        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false"
                aria-controls="collapse1">
                <span class="question">
                    1. What is Should Cost Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse1">
                <div class="ans">
                    Should Cost Model Mart is a repository of historically costed models accessible to Procurement teams
                    with role based access.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex">
                <span class="question" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false"
                    aria-controls="collapse2">
                    2. What can I do with Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse2">
                <div class="ans">
                    Model Mart can be used for several scenarios some of which are:
                    <ul>
                        <li>Float requests for new projects and track their completion status</li>
                        <li>Search & download previously costed models</li>
                        <li>Tweak available cost models to simulate new scenarios and download simulated reports</li>
                        <li>Compare & contrast part numbers/models on various parameters like raw material, weight,
                            should cost etc.</li>
                        <li>Check program wise completion reports</li>
                        <li>Check region and BU wise reports</li>
                        <li>Analyze category costs</li>
                        <li>Simulate BOM costs early in the program lifecycle</li>
                        <li>Evaluate design ideas based on comparison of raw material, processes and cost</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex">
                <span class="question" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false"
                    aria-controls="collapse3">
                    3. What are the benefits of Model Mart? Why is it required?
                </span>
            </p>
            <div class="collapse" id="collapse3">
                <div class="ans">
                    Model Mart can help improve the reuse of existing should cost models and help reduce your waiting
                    time for project request from COE team. It also empowers you to simulate various scenarios and take
                    charge of cost analytics to negotiate better and in a timely fashion with the suppliers.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false"
                aria-controls="collapse4">
                <span class="question">
                    4. What is the Reuse-Refresh-Request approach in Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse4">
                <div class="ans">
                    <div>
                        <div class="que4_head">Lead Times</div>
                        <div class="que4_1_line"></div>
                        <div class="que4_2_line"></div>
                        <div class="que4_3_line"></div>

                        <div class="arrow-right"></div>
                        <br>
                        <br>
                        <div class="row que4">
                            <div class="col-md-4">

                                <div class="que4_1">
                                    <h1 class="d-flex flex-column justify-content-center text-center">Reuse</h1>
                                    <ul>
                                        <li>Reuse previously costed models </li>
                                        <li>DIY tweak for changes in raw material and labor rates</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="que4_2">
                                    <h1 class="d-flex flex-column justify-content-center text-center">Refresh</h1>
                                    <ul>
                                        <li>Ask for a refresh of previous models for: <br>
                                            ✔ Supplier Manufacturing Location change <br>
                                            ✔ Changes in supplier process layout <br>
                                            ✔ Overhead cost changes etc.

                                        </li>
                                        <li>Get existing models quickly refreshed to meet your needs</li>
                                        <li>Priority delivery over new requests</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="que4_3">
                                    <h1 class="d-flex flex-column justify-content-center text-center">Request</h1>
                                    <ul>
                                        <li>Request new models if you cannot find a relevant existing model</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse5" role="button" aria-expanded="false"
                aria-controls="collapse5">
                <span class="question">
                    5. How do I find out the correct model for my use on Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse5">
                <div class="ans">
                    You can use search to look for parts by part number, noun names, CAT2/CAT3/CAT4 and even costed
                    location. Then there are several filters on the left pane to filter those out further. Compare
                    feature can be used by selecting up to 4 parts and comparing them on several criteria to find the
                    right or a close model for use. A part # match or a close design match (similar design) make an
                    available model suited for reuse or refresh.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse6" role="button" aria-expanded="false"
                aria-controls="collapse6">
                <span class="question">
                    6. When is the Reuse approach the best?
                </span>
            </p>
            <div class="collapse" id="collapse6">
                <div class="ans">
                    <ul>
                        <li>Reuse approach is best applied when you have found the same part number or a close design
                            match (similar design) part on your search in model mart. You can then either use the same
                            model or tweak the model to adjust raw material rate and other variables and use them</li>
                        <li>Reuse approach can also be used when you are pressed for time and need directional estimates
                            with a plan to request new models later. In this case you can use a relatively inadequate
                            design match for your estimates</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse7" role="button" aria-expanded="false"
                aria-controls="collapse7">
                <span class="question">
                    7. When is Refresh approach the best?
                </span>
            </p>
            <div class="collapse" id="collapse7">
                <div class="ans">
                    Refresh approach is best applied when you have found the same part number or a close design match
                    (similar design) part on your search in model mart. However, you would like the model to be costed
                    for another geographic location, different supplier process and/or would like to have the process
                    overhead cost refreshed.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse8" role="button" aria-expanded="false"
                aria-controls="collapse8">
                <span class="question">
                    8. When is Request approach the best?
                </span>
            </p>
            <div class="collapse" id="collapse8">
                <div class="ans">
                    Request approach works best when the Reuse and Refresh approach don’t seem appropriate.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse9" role="button" aria-expanded="false"
                aria-controls="collapse9">
                <span class="question">
                    9. Why do I need to tweak should cost models in Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse9">
                <div class="ans">
                    Some of the costed models might be dated so it makes sense to adjust the models to reflect current
                    market conditions before reusing them.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse10" role="button" aria-expanded="false"
                aria-controls="collapse10">
                <span class="question">
                    10. What parameters can be tweaked in a should cost model in Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse10">
                <div class="ans">
                    You can adjust raw material rates, labor rates (inflation %), SG&A, Profit, Packaging and Freight to
                    reflect current market conditions.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse11" role="button" aria-expanded="false"
                aria-controls="collapse11">
                <span class="question">
                    11. Why can’t I tweak the Process Overhead Cost in available should cost models?
                </span>
            </p>
            <div class="collapse" id="collapse11">
                <div class="ans">
                    Process overhead cost is a complex ensemble of over 15 parameters which needs the experience of a
                    Cost SME from Tech Cost Management COE to address. Additionally, this bucket is relatively inelastic
                    since many significant contributors to this bucket – like machine depreciation costs don’t change
                    significantly over time. However, if you need the OH cost to be updated, please send a Refresh
                    request via model mart to COE team and they will share an updated model. Refresh requests can be
                    sent via model mart very quickly.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse12" role="button" aria-expanded="false"
                aria-controls="collapse12">
                <span class="question">
                    12. Can I see my previously downloaded and tweaked models in history?
                </span>
            </p>
            <div class="collapse" id="collapse12">
                <div class="ans">
                    Yes, your previous activities on model mart will be accessible to you. You can see the previously
                    downloaded models and tweaked simulations after your login. It is WIP.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse13" role="button" aria-expanded="false"
                aria-controls="collapse13">
                <span class="question">
                    13. Why don’t I see any models for my categories/filters?
                </span>
            </p>
            <div class="collapse" id="collapse13">
                <div class="ans">
                    At the Model Mart launch in July 2024, we have uploaded around 3500+ cost and tooling models for
                    your use. We are in the process of uploading around 8000 models by the end of the year. Therefore,
                    some categories/filters might have no/limited models. In that case, please float a request through
                    Request tab for a new model.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse14" role="button" aria-expanded="false"
                aria-controls="collapse14">
                <span class="question">
                    14. What should I do if I am not aware of benchmark indicators such as raw material rates, %
                    inflation in labor, SG&A etc.?
                </span>
            </p>
            <div class="collapse" id="collapse14">
                <div class="ans">
                    You may send a model for Refresh to COE team who will support. We are currently working on guidance
                    benchmark indicators which we will release in due course of time.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse15" role="button" aria-expanded="false"
                aria-controls="collapse15">
                <span class="question">
                    15. How can I glean over the manufacturing process used for a component in Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse15">
                <div class="ans">
                    Manufacturing process used to arrive at the should cost found in the report that can downloaded from
                    the Download Model button at the end of project details page.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse16" role="button" aria-expanded="false"
                aria-controls="collapse16">
                <span class="question">
                    16. Can I update the weight of the component for a model available in Model Mart?
                </span>
            </p>
            <div class="collapse" id="collapse16">
                <div class="ans">
                    No, the model should be sent for a Refresh to the Tech Cost Management COE. There can be different
                    considerations like yield%, #cavity, process change etc., that needs to be looked into by an SME.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse17" role="button" aria-expanded="false"
                aria-controls="collapse17">
                <span class="question">
                    17. Can I update the assumed supply chain for a component from a Tier 1/Tier 2 structure to a single
                    Tier 1 structure?
                </span>
            </p>
            <div class="collapse" id="collapse17">
                <div class="ans">
                    You can update the SG&A, Profit, Freight, Packaging headers in Tier 2 cost summary to zero which
                    will reflect an integrated supply chain with a single Tier 1 supplier.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse18" role="button" aria-expanded="false"
                aria-controls="collapse18">
                <span class="question">
                    18. Can I update the assumed supply chain for a component from a Tier 1 structure to a Tier 1/Tier 2
                    structure?
                </span>
            </p>
            <div class="collapse" id="collapse18">
                <div class="ans">
                    You can send the model for a quick Refresh to COE team.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse19" role="button" aria-expanded="false"
                aria-controls="collapse19">
                <span class="question">
                    19. Can non-Procurement functions access this application?
                </span>
            </p>
            <div class="collapse" id="collapse19">
                <div class="ans">
                    At this moment, this application is only applicable to Procurement teams.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse20" role="button" aria-expanded="false"
                aria-controls="collapse20">
                <span class="question">
                    20. Can I use the raw material rate and other details provided by my supplier to tweak a model?
                </span>
            </p>
            <div class="collapse" id="collapse20">
                <div class="ans">
                    It is advisable to corroborate supplier provided rates with independent research before using them
                    to tweak models.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse21" role="button" aria-expanded="false"
                aria-controls="collapse21">
                <span class="question">
                    21. When I update a cost model, does it overwrite the data/model available in database?
                </span>
            </p>
            <div class="collapse" id="collapse21">
                <div class="ans">
                    No, user update to cost models does not overwrite should cost model data. User updates are
                    calculated real-time and need to be downloaded for future use. The user history section will keep
                    downloaded and tweaked reports for a limited period for future use. It is WIP.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse22" role="button" aria-expanded="false"
                aria-controls="collapse22">
                <span class="question">
                    22. Can I download the tweaked model report after my updates?
                </span>
            </p>
            <div class="collapse" id="collapse22">
                <div class="ans">
                    Yes, the simulated/tweaked cost model can be downloaded by clicking the Download Report button at
                    top right on the Update Model page.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse23" role="button" aria-expanded="false"
                aria-controls="collapse23">
                <span class="question">
                    23. How are forex fluctuations reflected in model updates?
                </span>
            </p>
            <div class="collapse" id="collapse23">
                <div class="ans">
                    Cost models executed for non-US regions are automatically adjusted for changes in forex before
                    showing the new labor cost. Therefore, at times, even with an actual inflationary increase in labor
                    the labor cost value might come down if the non-US currency has depreciated more than the inflation.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse24" role="button" aria-expanded="false"
                aria-controls="collapse24">
                <span class="question">
                    24. Why don’t I see Supplier Quote field not populated for some cost models?
                </span>
            </p>
            <div class="collapse" id="collapse24">
                <div class="ans">
                    We rely on Procurement teams to share back with us the supplier quotes and agreed price with the
                    supplier. The field remains blank wherever these details are not shared with us.
                </div>
            </div>
        </div>

        <div class="col-md-12 que">
            <p class="d-inline-flex " data-bs-toggle="collapse" href="#collapse25" role="button" aria-expanded="false"
                aria-controls="collapse25">
                <span class="question">
                    25. My questions are still not answered after going through the FAQs section here. How do I reach
                    out for further information?
                </span>
            </p>
            <div class="collapse" id="collapse25">
                <div class="ans">
                    Please click the Help & Support Menu, and then go to the Feedback & Support tile on the left and
                    raise a support request.
                </div>
            </div>
        </div>

    </div>
</div>