<div class="setHeight">
    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../assets/Spin-2.gif" />
    </ngx-spinner>


    <form [formGroup]="useraudit">
        <div class="MasterHeader">
            <div style="width: 50%;">
                <h2>User Analytics</h2>
            </div>
            <div class="text-end" style="width: 50%;">
                <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
            </div>
        </div>

        <div class="MasterHeaderlable">
            <div class="row">
                <div class="col-md-3">
                    <label for="dropdown6" class="default-lbl">User Name<span style="color: red;">*</span></label>
                    <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true" placeholder="Please select"
                        [(ngModel)]="selectedUserName" (change)="GetUserhistory()">
                        <ng-option *ngFor="let item of getUsers" [value]="item.Id">{{item.FullName}} ({{item.UserName}})</ng-option>
                    </ng-select>
                </div>
                <div class="col-md-2">
                    <label for="datepicker1" class="default-lbl">From Date</label>
                    <br>
                    <input type="date" formControlName="currentDate"
                        class="form-control form-control-sm" [(ngModel)]="selectedFromDate" (change)="filterTableData()">
                </div>

                <div class="col-md-2">
                    <label for="datepicker1" class="default-lbl">To Date</label>
                    <br>
                    <input type="date" formControlName="currentDate"
                        class="form-control form-control-sm" [(ngModel)]="selectedToDate" (change)="filterTableData()" >
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                        >View</button>
                </div>
                <!-- <div class="col-md-1 text-center">
                    
                    <br>
                    <img src="../../../../assets/exportexcel.png" class="exportToExcel"
                        title="Export to Excel">
                </div> -->
            </div>
            <!-- <app-tabs [tabs]="tabs"></app-tabs> -->
           
        </div>
        <div class="tabs">
            <ul class="tab-group">
                <li class="tab"  (click)="changeTab('search')" [class.active]="selectedTab === 'search'">Search</li>
                <li class="tab" (click)="changeTab('project')" [class.active]="selectedTab === 'project'">Project</li>
                <li class="tab" (click)="changeTab('compare')" [class.active]="selectedTab === 'compare'">Compare</li>
              <!-- <li *ngFor="let tab of tabs; index as i"
                class="tab" [class.active]="tab.active"
                (click)="changeTab(i)">
                <i class="icon" [ngClass]="tab.iconClass"></i>
                {{tab.title}}
              </li>  -->
            </ul>
            <div class="tab-content-group">
            <div class="tab-content" *ngIf="selectedTab === 'search'">
                <div class="d-flex justify-content-center" style="font-size: 12px !important;">
                    <table class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Keyword</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of filteredsearchdata | search: textsearch: filterMetadata1 | paginate: { itemsPerPage: 10, currentPage: page1 } let i=index">
                                <td>{{ i + 1 }}</td> <!-- Serial number -->
                                <td>{{val.CreatedOn | date:'dd-MMM-yyyy HH:MM:ss'}}</td>
                                <td>{{val.Action}}</td>
                                <td>{{val.Keyword}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between p-2 pagination">
                    <ngb-pagination [collectionSize]="filterMetadata1.count" [(page)]="page1" [pageSize]="pageSize"
                        [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
                    <br>
                </div>
            </div>
            <div class="tab-content" *ngIf="selectedTab === 'project'">
                <div class="d-flex justify-content-center" style="font-size: 12px !important;">
                    <table class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Model Mart ID</th>
                                <th>Program Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of filteredprojectdata | search: textsearch: filterMetadata | paginate: { itemsPerPage: 10, currentPage: page } let i=index">
                                <td>{{ i + 1 }}</td> <!-- Serial number -->
                                <td>{{val.CreatedOn | date:'dd-MMM-yyyy HH:MM:ss'}}</td>
                                <td>{{val.Action}}</td>
                                <td>{{val.ModelMartId}}</td>
                                <td>{{val.ProgramName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="d-flex justify-content-between p-2 pagination">
                    <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                        [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
                    <br>
                </div>
                </div>
                <div class="tab-content" *ngIf="selectedTab === 'compare'">
                    <div class="d-flex justify-content-center" style="font-size: 12px !important;">
                        <table class="table table-bordered table-striped ">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Date</th>
                                    <th>Model Mart ID</th>
                                    <th>Program Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let group of filteredcomparedata | keyvalue let i=index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ group.value.CreatedOn | date:'dd-MMM-yyyy HH:MM:ss'}}</td>
                                    <td>
                                        <ul style="list-style-type: none; padding-left: 0;margin-bottom: 0;">
                                            <li *ngFor="let detail of group.value.Details">
                                            {{detail.ModelMartId }}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="list-style-type: none; padding-left: 0;;margin-bottom: 0;">
                                        <li *ngFor="let detail of group.value.Details">
                                          {{detail.ProgramName}}
                                        </li>
                                    </ul>
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="d-flex justify-content-between p-2 pagination">
                        <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                            [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>Next</ng-template>
                        </ngb-pagination>
                        <br>
                    </div>
                    </div>
            </div>
            
          </div>
    </form>
</div>