<div class="setHeight">

    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../../assets/Spin-2.gif" />
    </ngx-spinner>

    <!-- <div class="setHeight"> -->
    <div class="MasterHeader">
        <div style="width: 50%;">
            <h2>Upload Should Cost File</h2>
        </div>
        <div class="text-end" style="width: 50%;">
            <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
        </div>
    </div>

    <div class="MasterHeaderlable">
        <form #myForm="ngForm">

            <div class="container">

                <div class="row" id="panleborder">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="dropdown0" class="default-lbl">Request ID <span
                                    style="color: red;">*</span></label>
                            <ng-select #ngSelectRequestID [ngModelOptions]="{standalone: true}" [searchable]="true"
                                placeholder="Please select" [(ngModel)]='selectedID'><ng-option
                                    *ngFor="let item of getID"
                                    [value]="item.requestHeaderID">{{item.requestHeaderID}}</ng-option>
                            </ng-select>
                            <div class="error-message" *ngIf="showError0"> Please select Request ID.</div>
                        </div>

                        <div class="col-md-3">
                            <label for="dropdown1" class="default-lbl">Model Mart ID <span
                                    style="color: red;">*</span></label>
                            <ng-select #ngSelectUniqueID [ngModelOptions]="{standalone: true}" [searchable]="true"
                                placeholder="Please select" [(ngModel)]='selectedUniqueID' [loading]='loading'
                                loadingText='Loading...'><ng-option *ngFor="let item of HopperColumns | keyvalue"
                                    [value]="item.value">{{item.value}}</ng-option>
                            </ng-select>
                            <div class="error-message" *ngIf="showError1"> Please select Model Mart ID.</div>
                        </div>

                        <div class="col-md-3">
                            <label for="dropdown0" class="default-lbl">Model Types <span
                                    style="color: red;">*</span></label>
                            <ng-select class="ngModelTypeID" [ngModelOptions]="{standalone: true}" [searchable]="true"
                                placeholder="Please select" [(ngModel)]='modelTypesID'><ng-option
                                    *ngFor="let item of ModelTypes"
                                    [value]="item.id">{{item.modelTypes_Desc}}</ng-option>
                            </ng-select>
                            <div class="error-message" *ngIf="showError11"> Please select Model Types.</div>
                        </div>

                        <div class="col-md-3">
                            <button   type="button" class="btn  btn-view" (click)="onSelected();"
                                style="margin-top: 15px;" data-bs-dismis="modal">View</button>  
                                <button type="button" class="btn btn-bulkupload" (click)="BulkUpload()" style="margin-top: 15px;"
                                data-bs-dismis="modal">Bulk Upload</button>                           
                        </div>
                        <!-- <div class="col-md-2 ">
                            <button type="button" class="btn btn-bulkupload" (click)="BulkUpload()" style="margin-top: 15px;"
                                data-bs-dismis="modal">Bulk Upload</button>
                        </div> -->
                    </div>

                </div>

                <div class="row" id="panleborder">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="dropdown6" class="default-lbl">Length (mm)<span
                                    style="color: red;">*</span></label>
                            <input class="form-control form-control-sm" type="number" placeholder="Length"
                                (blur)="onBlurLength($event)" [(ngModel)]="length"
                                [ngModelOptions]="{standalone: true}">
                            <div class="error-message" *ngIf="showError9"> Please enter Length.</div>
                        </div>
                        <div class="col-md-2">
                            <label for="dropdown6" class="default-lbl">Width (mm)<span
                                    style="color: red;">*</span></label>
                            <input class="form-control form-control-sm" type="number" placeholder="Width"
                                (blur)="onBlurWidth($event)" [(ngModel)]="width" [ngModelOptions]="{standalone: true}">
                            <div class="error-message" *ngIf="showError10"> Please enter Length.</div>
                        </div>
                        <div class="col-md-2">
                            <label for="dropdown6" class="default-lbl">Height (mm)<span
                                    style="color: red;">*</span></label>
                            <input class="form-control form-control-sm" type="number" placeholder="Height"
                                (blur)="onBlurHeight($event)" [(ngModel)]="height"
                                [ngModelOptions]="{standalone: true}">
                            <div class="error-message" *ngIf="showError12"> Please enter Height.</div>
                        </div>
                        <div class="col-md-2">
                            <label for="dropdown6" class="default-lbl">Part Weight (kg)<span
                                    style="color: red;">*</span></label>
                            <input class="form-control form-control-sm" type="number" placeholder="Part Weight"
                                (blur)="onBlurPartWeight($event)" [(ngModel)]="partWeight"
                                [ngModelOptions]="{standalone: true}">
                            <div class="error-message" *ngIf="showError13"> Please enter Part Weight.</div>
                        </div>
                        <div class="col-md-3">
                            <label for="dropdown6" class="default-lbl">Cat 4 </label>
                            <!-- <span style="color: red;">*</span> -->
                            <ng-select #ngSelectCat4 [ngModelOptions]="{standalone: true}" [searchable]="true"
                                placeholder="Please select" [(ngModel)]="selectedCat4"
                                (ngModelChange)="getCategoryIdcat4()">
                                <ng-option *ngFor="let item of getCat4 "
                                    [value]="item.categoryId">{{item.childCategory}}</ng-option>
                            </ng-select>
                            <div class="error-message" *ngIf="showError8"> Please select Category 4.</div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-3">
                            <label for="dropdown6" class="default-lbl">Part Secification </label>
                            <!-- <span style="color: red;">*</span> -->
                            <ngx-treeview #partspecific [config]="config" [items]="PartSpecific"
                                (selectedChange)="onSelectedChangePartSpec($event)">
                            </ngx-treeview>
                            <div class="error-message" *ngIf="showError8"> Please select Part Secification</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex" style="overflow-x: auto;">
                    <table class="table table-bordered table-striped " style="width: 100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Part Name</th>
                                <th>Part Number</th>
                                <th>Business Unit</th>
                                <th>Program Name</th>
                                <th>Category 2</th>
                                <th>Category 3</th>
                                <th>Category 4</th>
                                <th>Debrief Date</th>
                                <th>Should Cost Modeller</th>
                                <th>Supp. Manu. Location</th>
                                <th>Tooling Should Cost</th>
                                <th>Cost Type</th>
                                <th hidden>CSHeaderID</th>
                                <th>Model Mart ID</th>
                                <th>Iterations</th>
                                <th *ngIf="IsHopperValide">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of getArr; let i=index" style="font-size: 12px !important;">
                                <td hidden></td>
                                <td>{{i+1}}</td>
                                <td>{{data.partName}}</td>
                                <td>{{data.partNumber}}</td>
                                <td>{{data.businessUnit}}</td>
                                <td>{{data.programName}}</td>
                                <td>{{data.cat2}}</td>
                                <td>{{data.cat3}}</td>
                                <td>{{data.cat4}}</td>
                                <td>{{data.debriefDate | date :'dd-MMM-yyyy'}}</td>
                                <td>{{data.shouldCostModeller}}</td>
                                <td>{{data.suppManuLoc}}</td>
                                <td>{{data.toolingShouldCost}}</td>
                                <td>{{data.costType}}</td>
                                <td hidden *ngIf="getUArr[i]">{{ getUArr[i].csHeaderID }}</td>
                                <td hidden *ngIf="!getUArr[i]"></td>
                                <td>{{data.uniqueID}}</td>
                                <td>{{data.iterationsCount}}</td>
                                <td *ngIf=" IsHopperValide && getUArr[i] && (getUArr[i].iterationCount == data.iterationsCount)">
                                    <i class="bi bi-pencil-fill" style="color: #da291c;
                                            font-size:larger;" (click)="editModalMethod(i)"
                                        ngbTooltip="Update Model"></i>
                                    <i class="bi bi-trash-fill" style="color: #da291c; padding-left:4px;
                                            font-size:larger;" (click)="deleteUploadedData(i)"
                                        ngbTooltip="Delete Model"></i>
 
                                </td>
                                <td  *ngIf="IsHopperValide && ( !getUArr[i] || getUArr[i].iterationCount < data.iterationsCount)"><i class="bi bi-plus-lg"
                                        style="color: #da291c; font-size:larger;" id="plus-icon"
                                        (click)="addModalMethod(i)" ngbTooltip="Add new Model"></i>
 
                                </td>

                            </tr>
                        </tbody>
                    </table>                    
                </div>

                <div class="error-message" *ngIf="IsNullDebriefDate"> Debrief Date should not be blank</div>
                <div class="error-message" *ngIf="IsNullCostType"> Cost Type should not be blank</div>
                <div class="error-message" *ngIf="IsNullShouldCostModeller"> Should Cost Modeller should not be blank</div>

                <br><br>
                <div class="row">
                    <div class="col-md-3 text-start">
                        <div class="input-group custom-file-button">
                            <label  class="input-group-text" for="inputGroupFile" id="excelFile_lbl">Excel File</label>
                            <input #takeInputExcel  type="file" class="form-control" (change)="onChange($event,'excel')" id="excelFile"
                                accept=".xlsx, .xls, .xlsm">
                        </div>
                        <!-- <input class="form-control" type="file" (change)="onChange($event,'excel')" id="excelFile" accept=".xlsx, .xls, .xlsm"> -->
                    </div>
                    <div class="col-md-3 text-start">
                        <!-- <input class="form-control" type="file" (change)="onChange($event,'pdf')" id="pdfFile" accept=".pdf"> -->
                        <div class="input-group custom-file-button">
                            <label class="input-group-text" for="inputGroupFile">PDF File</label>
                            <input #takeInputPDF type="file" class="form-control" (change)="onChange($event,'pdf')" id="pdfFile"
                                accept=".pdf" multiple>
                        </div>
                    </div>
                    <div class="col-md-3 text-start">

                        <!-- <input class="form-control" type="file" (change)="onChange($event,'image')" id="imageFiles" accept=".jpg, .jpeg, .png" multiple> -->
                        <div class="input-group custom-file-button">
                            <label class="input-group-text" for="inputGroupFile">Image File</label>
                            <input #takeInputImage type="file" class="form-control" (change)="onChange($event,'image')" id="imageFiles"
                                accept=".jpg, .jpeg, .png" multiple>
                        </div>
                    </div>
                    <div class="col-md-3 text-end">
                        <button type="button" class="btn btn-lg btn-upload" (click)="onUpload();" data-bs-dismis="modal"
                            [disabled]="!addSuccess">Upload</button>

                            <button type="button" id="testbtn" (click)="ngSelectRequestID.clearModel(); ngSelectUniqueID.clearModel();ngSelectCat4.clearModel()" style="visibility: hidden;">
                            </button>


                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- </div> -->
</div>