<div class="container-fluid maxheight">
    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../assets/Spin-2.gif" />
    </ngx-spinner>
<div class="setheight">
    <div class="MasterHeader">
        <div style="width: 50%;">
            <h2>Bom Simulation</h2>
        </div>
        <div class="text-end" style="width: 80%;">
           <button class="btnCreateCart" (click)="Downloadtemplate()">Download Template</button>
            <button class="btnCreateCart" (click)="excelU=true" (click)="cartcreate=false"(click)="openUploadModal()">Upload Excel</button>
           <!-- <button class="btnCreateCart" (click)="cartcreate=true" (click)="excelU=false" (click)="openModal()">Create New Cart</button>-->
            <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
        </div>
    </div>
<!--Start model-->
    <div id="myModal" class="modal fade"  tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Excel File</h4>
                    <button type="button" class="close" (click)="closeUploadModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; align-items: center;">
                        <div style="flex: 1;">
                            <input type="file" id='fileInput' (change)="onFileSelected($event)" accept=".xlsx">
                            <div class="error-message" *ngIf="showError7"> Please select file to upload</div>
                        </div>
                        
                    </div>
                    <!-- <input type="date" #fromDateCalendar [(ngModel)]="uploadfromdate" dateFormat="dd-mm-yy"> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeUploadModal()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="uploadExcel()">Upload</button>
                </div>
            </div>
        </div>
    </div>
<!--end model for upload-->

<form [formGroup]="BUnitMasterForm">
    
    <div class="MasterHeaderlable">
        <div class="row">
            <div class="col-md-3 form-group has-search" style="margin-top: 2%;">
                
                <span class="bi bi-search form-control-feedback"></span>
                <input type="text" class="form-control search-input" placeholder="Search"
                    formControlName="textsearch" [(ngModel)]="textsearch" >
                

            </div>
           <!-- <div class="col-md-3">
                <label for="dropdown5" class="default-lbl">Cart Name</label>
                <ng-select [ngModelOptions]="{standalone: true}"  [searchable]="true" placeholder="Please select"
                    [(ngModel)]='selectedcatagory' (change)="ClearGird()" (change)="getCategoryIdcat3()">
                    <ng-option *ngFor="let g of Cat3"
                        [value]="g.value">{{g.text}}</ng-option>
                </ng-select>

            </div>-->

          <!--  <div class="col-md-3">
                <label for="engineDisplace" class="default-lbl">Engine Displacement</label>
                <br>
                
                <input type="text" name="engineDisplace" id="engine" [(ngModel)]="engineDisplace" class="form-control form-control-sm">
            </div>-->

            <!--<div class="col-md-2">
                <label for="datepicker1" class="default-lbl">Platform</label>
                <br>
                <input type="text" formControlName="platform" [(ngModel)]="selectedplatform"
                    class="form-control form-control-sm">
            </div>-->
            <div class="col-md-6"></div>

            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                (click)="enginefilter()">View</button>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                (click)="ReseatFilter()">Reset</button>
            </div>
            <div class="col-md-1 text-center">
                <!-- <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal" (click)="exportToExcel()">Download</button> -->
                <br>
                <img src="../../../../assets/exportexcel.png" class="exportToExcel" (click)="exportToExcel()"
                    title="Export to Excel">
            </div>
        </div>

        
    </div>
  
    <div class="d-flex table-responsive" style="font-size: 13px !important;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th hidden>ID</th>
                    <th hidden>Bomid</th>
                    
                    <th ><thead>
                        <tr class="group-header"><th colspan="13" class="group-header">Part Level Constraints (Filters)</th></tr>
                        <tr>
                           <!-- <th>Noune Name</th>-->
                            <th>Part Number</th>
                            <!--<th>Part Name</th>-->
                            <th>Material</th>
                            <th>Weight</th>
                            <th>Price Details</th>
                            <th>Mfg Loc</th>
                            <th>Parent</th>
                            <th>Parent Part Id</th>
                            <th>CostType</th>
                            <th>Current Program</th>
                            <th>Parent Program</th>
                            <th>Utilization</th>
                            <th>SupplierName</th>
                            <th>Bom Qty</th>
                            
                        </tr></thead>
                    </th>
                    <!--<th>Part.Id</th>
                    <th>Material</th>
                    <th>Weight</th>
                    <th>Price</th>
                    <th>Mfg.Location</th>
                    <th>Parent</th>
                    <th>Parent.Part.Id</th>
                    <th>Bom.Qty</th>
                    <th>Cost.Region</th>-->
                    <th>Name</th>
                    <th>ModelMart Id</th>
                    <th>Representative Part Number</th>
                    <th>Representative Program</th>
                    <th>Representative Region</th>
                    <th>Representative SC</th>
                    <th>Representative Simulated Cost</th>
                    <th>Final.Cost</th>
                    <th>Gbpa Cost</th>
                    <th>Representative Invoice</th>
                    <th>Model.Type</th>
                    <th>Match.Type</th>
                    <th>Dimensions</th>
                    <th>Weight</th>
                    <th>Raw Material</th>
                    <th>Mfg Process </th>
                    <th>Utilization</th>
                    <th>Supplier Name</th>
                    <th>Cost Type</th>
                    <th>Debrief Date</th>
                    <th colspan="4">Action</th>
                </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let row of SearchProductList | search: textsearch:filterMetadata | paginate: { itemsPerPage: 5, currentPage: page }  let i=index">
                   <!--<tr>--> 
                    <td hidden>{{row.cartId}}</td>
                    <td hidden>{{row.bomId}}</td>
                    
                    <td>
                        
                        <tr>
                            <td>
                                <span *ngIf="!row.editable">{{ row.excelpartno }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelpartno"  value="{{row.excelpartno}}"/>
                              </td>
                              <!--<td>
                                <span *ngIf="!row.editable">{{ row.excelname }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelname"  value="{{row.excelname}}"/>
                              </td>-->
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelmeterial }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelmeterial" value="{{row.excelmeterial}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelweight }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelweight" value="{{row.excelweight}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelprice }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelprice" value="{{row.excelprice}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelcostregion }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelcostregion" value="{{row.excelcostregion}}" />
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelparent }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelparent" value="{{row.excelparent}}" />
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelparentpartid }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelparentpartid" value="{{row.excelparentpartid}}" />
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelcosttype }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelcosttype" value="{{row.excelcosttype}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelcurrentprogram}}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelcurrentprogram" value="{{row.excelcurrentprogram}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelparentprogram}}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelparentprogram" value="{{row.excelparentprogram}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelutilization}}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelutilization" value="{{row.excelutilization}}"/>
                              </td>
                              <td>
                                <span *ngIf="!row.editable">{{ row.excelsuppliername}}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelsuppliername" value="{{row.excelsuppliername}}"/>
                              </td>

                              <td>
                                <span *ngIf="!row.editable">{{ row.excelitemcount }}</span>
                                <input *ngIf="row.editable" [(ngModel)]="row.excelitemcount" value="{{row.excelitemcount}}"/>
                              </td>
                              
                        <!--<td>{{data.excelname}}</td> -->   
                        <!--<td>{{data.excelpartno}}</td>
                        <td>{{data.excelmeterial}}</td>
                        <td >{{data.excelweight}}</td>
                        <td >{{data.excelprice}}</td>
                        <td >{{data.excelcostregion}}</td>
                        <td >{{data.excelparent}}</td>
                        <td>{{data.excelparentpartid}}</td>
                        <td>{{data.excelitemcount}}</td>
                        <td>{{data.excelcostregion}}</td>-->
                        </tr>
                        </td>
                    <td>{{row.name}}</td>
                    <td>{{row.categoryId}}</td>
                    <td>{{row.partNumber}}</td>
                    <td>{{row.projectName}}</td>
                    <td>{{row.mfgRegion}}</td>
                    <td>{{row.scost}}</td>
                    <td>{{row.ucost}}</td>
                    <td *ngIf="row.ucost <= 0">
                    <span *ngIf="!row.editable">{{row.scost}}</span>
                    <input *ngIf="row.editable" [(ngModel)]="row.scost" value="{{row.scost}}"/>
                    </td>
                    <td *ngIf="row.ucost > 0">{{row.ucost}}</td>
                    <!--<td *ngIf="data.ucost === 0 && data.scost===0">0</td>-->
                    <td>00</td>
                    <td>{{row.invoice}}</td>
                    <td *ngIf="row.ucost <= 0">Original</td>
                    <td *ngIf="row.ucost > 0">Simulated</td>
                   <!-- <td *ngIf="data.ucost === 0 && data.scost===0">Original</td>-->
                    <td>{{row.partNumber}}/{{row.name}}-{{row.engineDisplacement}}</td>
                    <td>{{row.height}} X {{row.length}} X {{row.width}}</td>
                    <td>{{row.weight}}</td>
                    <td>{{row.rowmaterial}}</td>
                    <td>{{row.mfgProcess}}</td>
                    <td>{{row.utilization}}</td>
                    <td>{{row.supplierName}}</td>
                    <td>{{row.costType}}</td>
                    <td>{{row.dbdate}}</td>
                    
                    <td class="action-buttons" *ngIf="row.excelpartno!=''">
                        <button *ngIf="!row.editable" (click)="editRow(row)">Re-Run</button>
                        <button *ngIf="row.editable" (click)="saveRow(row)">Save</button>
                        <button *ngIf="row.editable" (click)="cancelEdit(row)">Cancel</button>
                        <button  (click)="cancelEdit(row)">override</button>
                    </td>

                    <!--<td><i class="bi bi-trash-fill" style="color: #da291c; font-size:larger;" (click)="deleteRow(data.BUId)"></i>
                        <i class="bi bi-pencil-fill" style="padding-left: 20px; color: #da291c; font-size:larger;"
                            (click)="editModalMethod(data)"></i>
                    </td>-->
                </tr>
            </tbody>
        </table>

    </div>

    <div class="d-flex justify-content-between p-2 pagination">
                         
        <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
            [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm" >
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
        <br>
    </div>

</form>
</div>
<!--Start cratdetails-->
<div class="table-responsive">
    <div class="modal "  tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content" *ngIf="cartcreate">
                <div class="modal-header">
                    <h4 class="modal-title">{{header}}</h4>
                    <label class="close modal-close-icn" (click)="onCloseHandled()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </label>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                              
                               
                                
    
                                
                                        <label for="cartName"  class="default-lbl" style="font-size: 16px;">Cart Name</label>
                                        <input class="form-control form-control-sm" type="text" name="cartName" id="cartName" 
                                            placeholder="Please enter Cart Name" [(ngModel)]='Cartcategory'>
                                            <!-- (keypress)="keyPressDecimal($event)" -->
                                        <div class="error-message" *ngIf="showError1" style="font-size: 10px;color: red;">
                                            Please enter CartName.
                                        </div>
                                        <div class="error-message" *ngIf="showError2" style="font-size: 10px;color: red;">
                                            CartName allready exist please use different Cart Name.
                                        </div>
                                    
    
    
                                <!-- (keypress)="keyPressDecimal($event)" -->
                            
                        </div>
    
                        <!-- <div class="form-group">
                        <label for="exampleInput" class="default-lbl">Status</label>
                        <select class="form-select form-select-sm " (change)="onSelected($event)"
                            value="{{statusValue}}"name="status">
                            <option value="" selected hidden>Please select</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                        <div class="error-message" *ngIf="showError2">
                            Please select status.</div>
                    </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismis="modal"
                        (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-sm  btn-default default-btn_popup"
                        (click)="onSaveButton()">{{txt_btn}}</button>
                </div>
            </div>


<!--model for upload excel-->
            <div class="modal-content" *ngIf="excelU">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Excel File</h4>
                    <button type="button" class="close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; align-items: center;">
                        <div style="flex: 1;">
                            <input type="file" id='fileInput' (change)="onFileSelected($event)" accept=".xlsx">
                            <div class="error-message" *ngIf="showError7"> Please select file to upload</div>
                        </div>
                        
                    </div>
                    <!-- <input type="date" #fromDateCalendar [(ngModel)]="uploadfromdate" dateFormat="dd-mm-yy"> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-sm  btn-default default-btn_popup" (click)="uploadExcel()">Upload</button>
                </div>
            </div>
<!--Model for override--> 
<div  class="modal-content modalwidth" style="font-size: 10px !important;" *ngIf="override">
    <div class="modal-header">
        <h4 class="modal-title">Suggested Bom</h4>
        <button type="button" class="close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Name</th>
                <th>MMId</th>
                <th>Rep.PId</th>
                <th>Rep.Program</th>
                <th>Rep.Region</th>
                <th>Rep.SC</th>
                <th>Rep.Simulated.Cost</th>
                
                <th>Model.Type</th>
                <th>Match.Type</th>
                <th>Dimensions</th>
                <th>Weight</th>
                <th>Raw.Material</th>
                
                <th colspan="4">Action</th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let data of OverrideProductList | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page }  let i=index">
               <!--<tr>--> 
                <td hidden>{{data.cartId}}</td>
                <td>{{data.name}}</td>
                <td>{{data.categoryId}}</td>
                <td>{{data.partNumber}}</td>
                <td>{{data.projectName}}</td>
                <td>{{data.mfgRegion}}</td>
                <td>{{data.scost}}</td>
                <td>{{data.ucost}}</td>
                
                <td *ngIf="data.ucost <= 0">Original</td>
                <td *ngIf="data.ucost > 0">Simulated</td>
               <!-- <td *ngIf="data.ucost === 0 && data.scost===0">Original</td>-->
                <td>{{data.partNumber}}/{{data.name}}-{{data.engineDisplacement}}</td>
                <td>{{data.height}} X {{data.length}} X {{data.width}}</td>
                <td>{{data.weight}}</td>
                <td>{{data.rowmaterial}}</td>
              
                <td class="action-buttonsmodel">
                    <button (click)="Replace(data)">Replace</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="onCloseHandled()">Close</button>
    </div>
</div>

        </div>

        

        
    </div>
</div>
</div>









