<div class="container-fluid maxheight">

    <div class="row">
        <div class="col-md-2 text-center">
            <button class="btnback" (click)="backToPreviousPage()">Back</button>
        </div>
        <div class="col-md-10 text-end">

        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
        </div>
    </div>

    <div class="popup" id="Tier2Pupop">
        <label class="CostHeading">Tier#2 Cost </label>
        <table class="table table-bordered" style="font-size: 12px !important; width: 100% !important;">
            <thead>
                <tr>
                    <th style="width: 32%;" class="ShouldCostBreakdowntableth"> Cost Header </th>
                    <th style="width: 14%;" class="ShouldCostBreakdowntableth">In USD($)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of shouldCostBreakdownList; let i=index" class="ShouldCostBreakdowntabletr">
                    <td style="padding: 10px 10px;"> {{val.col1}}</td>
                    <td> $ {{val.col2 |number:'1.2-2' }} </td>

                </tr>
                <!-- ----- Total Manufacturing Cost ------ -->
                <tr>
                    <td colspan="1" class="footer-color"><b>Total Manufacturing Cost</b></td>
                    <td colspan="1" class="footer-color"><b>$ {{Manu_TotalInUSD |number:'1.2-2'}}</b>
                    </td>

                </tr>
                <tr *ngFor="let val of shouldCostBreakdownNonList; let i=index" class="ShouldCostBreakdowntabletr">
                    <td *ngIf="val.col2 > 0" style="padding: 10px 10px;"> {{val.col1}}</td>
                    <td *ngIf="val.col2 > 0">$ {{val.col2|number:'1.2-2' }}</td>

                </tr>
                <!-- ----- Total Cost ------ -->
                <tr>
                    <td colspan="1" class="footer-color tfoot"><b>Part Cost</b> </td>
                    <td colspan="1" class="footer-color tfoot"><b>$ {{TotalInUSD | number:'1.2-2'}}</b></td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center setimage ">

        <table class="table table-borderless">
            <tbody>
                <tr *ngFor="let row of compardata">
                    <!-- [class.setRowColorTotalCost]="(row.id == 26  || row.id == 35 ) && row.details1 != null" -->
                    <ng-container *ngIf="row.id != 1">
                        <td class="particular"
                            [class.setRowColor3]="row.id >= 3  && row.row_num == 100 && row.details1 != null "
                            [class.setRowColor]="row.id >= 15  && row.id <= 22  && row.details1 != null"
                            [class.setRowColor2]="row.id >= 23  && row.id <= 33  && row.details1 != null"
                            [class.hideCsHeaderId]="(row.id == 23  || row.id == 32) && row.details1 != null"
                            [class.setRowColorTotalCost]="row.id == 32  && row.details1 != null"
                            [class.setheadernone]="row.id == 1" [class.setHeaderColor]="row.particular === 'PartName'"
                            [class.setRowColor5]="row.row_num == 200 &&  row.details1 != null"
                            class="setCoulnmfontfirst text-start"> {{row.particular}} </td>
                        <!-- (click)="showPopup(row, $event, 'header',row.particular,0)" -->

                        <td class="part1"
                            [class.setRowColor3]="row.id >= 3 && row.row_num == 100  && row.details1 != null  "
                            [class.setRowColor]="row.id >= 15  && row.id <= 22 && row.details1 != null"
                            [class.setRowColor2]="row.id >= 23  && row.id <= 33  && row.details1 != null"
                            [class.hideCsHeaderId]="(row.id == 23  || row.id == 32) && row.details1 != null"
                            [class.setRowColorTotalCost]="row.id == 32  && row.details1 != null"
                            [class.tablerow]="row.particular === 'PartName' && row.details1 != null"
                            [class.setRowColor4]="row.row_num == 200 &&  row.details1 != null"
                            [class.setcursorpointer]="row.id == 19 && row.details1 > 0"
                            [class.setheadernone]="row.id == 1" [class.setCoulnmfont]="row.details1 != null">
                            {{row.details1 }} </td>
                        <!-- (click)="showPopup(row, $event,'data',row.details1,1)" -->

                        <td class="part2"
                            [class.setRowColor3]="row.id >= 3  && row.row_num == 100  &&  row.details2 != null   "
                            [class.setRowColor]="row.id >= 15  && row.id <= 22  && row.details2 != null"
                            [class.setRowColor2]="row.id >= 23  && row.id <= 33  && row.details2 != null"
                            [class.hideCsHeaderId]="(row.id == 23  || row.id == 32) && row.details2 != null"
                            [class.setRowColorTotalCost]="row.id == 32  && row.details2 != null"
                            [class.tablerow]="row.particular === 'PartName' && row.details2 != null"
                            [class.setRowColor4]="row.row_num == 200 &&  row.details2 != null"
                            [class.setheadernone]="row.id == 1" [class.setCoulnmfont]="row.details2 != null"
                            [class.setcursorpointer]="row.id == 19 && row.details2 > 0" style="white-space: pre-wrap;">
                            {{row.details2 }}
                        </td>
                        <!-- (click)="showPopup(row, $event,'data',row.details2,2)" -->

                        <td class="part3"
                            [class.setRowColor3]="row.id >= 3  && row.row_num == 100 && row.details3 != null   "
                            [class.setRowColor]="row.id >= 15  && row.id <= 22  && row.details3 != null"
                            [class.setRowColor2]="row.id >= 23  && row.id <= 33  && row.details3 != null"
                            [class.hideCsHeaderId]="(row.id == 23  || row.id == 32) && row.details3 != null"
                            [class.setRowColorTotalCost]="row.id == 32  && row.details3 != null"
                            [class.tablerow]="row.particular === 'PartName' && row.details3 != null"
                            [class.setRowColor4]="row.row_num == 200 &&  row.details3 != null"
                            [class.setheadernone]="row.id == 1" [class.setCoulnmfont]="row.details3 != null"
                            [class.setcursorpointer]="row.id == 19 && row.details3 > 0" style="white-space: pre-wrap;">
                            {{row.details3 }}
                        </td>
                        <!-- (click)="showPopup(row, $event,'data',row.details3,3)" -->

                        <td class="part4"
                            [class.setRowColor3]="row.id >= 3  && row.row_num == 100 &&  row.details4 != null  "
                            [class.setRowColor]="row.id >= 15  && row.id <= 22  && row.details4 != null"
                            [class.setRowColor2]="row.id >= 23  && row.id <= 33  && row.details4 != null"
                            [class.hideCsHeaderId]="(row.id == 23  || row.id == 32) && row.details4 != null"
                            [class.setRowColorTotalCost]="row.id == 32  && row.details4 != null"
                            [class.tablerow]="row.particular === 'PartName'  && row.details4 != null"
                            [class.setRowColor4]="row.row_num == 200 &&  row.details4 != null"
                            [class.setheadernone]="row.id == 1" [class.setCoulnmfont]="row.details4 != null"
                            [class.setcursorpointer]="row.id == 19 && row.details4 > 0" style="white-space: pre-wrap;">
                            {{row.details4 }}</td>
                        <!-- (click)="showPopup(row, $event,'data',row.details4,4)" -->
                    </ng-container>
                </tr>
                <tr *ngFor="let row of compardata;let indexOfelement=index;">
                    <ng-container *ngIf="row.id == 1">
                        <td></td>
                        <td [class.setheadernone]="row.details1 == null || row.id != 1" class="footer-color"><b> <button
                                    type="button" class="btn btn-sm btn-outline-danger" style="font-weight:bold"
                                    data-bs-dismis="modal" (click)="getComparison(row.details1)">View
                                    Details</button></b></td>
                        <td [class.setheadernone]="row.details2 == null || row.id != 1" class="footer-color"><b> <button
                                    type="button" class="btn btn-sm btn-outline-danger" style="font-weight:bold"
                                    data-bs-dismis="modal" (click)="getComparison(row.details2)">View
                                    Details</button></b></td>
                        <td [class.setheadernone]="row.details3 == null || row.id != 1" class="footer-color"><b> <button
                                    type="button" class="btn btn-sm btn-outline-danger" style="font-weight:bold"
                                    data-bs-dismis="modal" (click)="getComparison(row.details3)">View
                                    Details</button></b></td>
                        <td [class.setheadernone]="row.details4 == null || row.id != 1" class="footer-color"><b> <button
                                    type="button" class="btn btn-sm btn-outline-danger" style="font-weight:bold"
                                    data-bs-dismis="modal" (click)="getComparison(row.details4)">View
                                    Details</button></b></td>
                    </ng-container>
                </tr>


            </tbody>
        </table>


    </div>
</div>