<div class="container-fluid maxheight ">
    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../assets/Spin-2.gif" />
    </ngx-spinner>

    <div class="row">
        <div class="col-md-2 text-center">
            <button class="btnback" (click)="backToPreviousPage()">Back</button>
        </div>
        <div class="col-md-10 text-end">

        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
        </div>
    </div>-->


    <!-- <div class="d-flex justify-content-center setimage ">

        <table class="table table-bordered tablePartDetails">
            <tr >
                <th rowspan="3" class="text-center mainpart" (click)="isExpand = !isExpand" style="height: 40px;">Part Details
                    <i *ngIf="isExpand" class="bi-chevron-down showhiderows"></i>
                    <i *ngIf="!isExpand" class="bi-chevron-right showhiderows"></i>
                </th>
            </tr>
            <tr *ngIf="!isExpand">
                <th></th>
            </tr>
            <tr *ngIf="isExpand">
                <th class="particular">ModelMart ID</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.modelMartID}}
                </td>
            </tr>
            <tr *ngIf="isExpand">
                <th class="particular">Part Name </th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.partName}}
                </td>
            </tr>

        </table>

    </div> -->
    <br>
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-5 text-center ">
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'250px'}"
                id="chartOptionsId"></canvasjs-chart>
            <b>Should Cost</b>
        </div>
        <div class="col-md-5 text-center ">
            <canvasjs-chart [options]="chartOptionssupplier" [styles]="{width: '100%', height:'250px'}"
                id="chartOptionssupplierId"></canvasjs-chart>
            <b>Supplier Cost</b>
        </div>
    </div>

    <!--     
    <div class="chartOptions">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
    </div>
    <div class="chartOptions">
        <canvasjs-chart [options]="chartOptionssupplier" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
    </div> -->



    <!--  -->

    <!-- Part Details -->
    <div class="d-flex justify-content-center setimage ">
        <table #tablePartDetails class="table table-bordered tablePartDetails" id="tablePartDetails">
            <tr>
                <th rowspan="12" class="text-center mainpart">Part Details </th>
                <th hidden>CSHeaderId</th>
                <td hidden class="right" *ngFor="let i of this.partDetails">
                    {{i.csHeaderId}}
                    {{i.scReportId}}

                </td>
            </tr>
            <tr id="tablePartDetailsImg">
                <th class="particular">Part Image</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    <img *ngIf="i.imagePath == null else multi" src="../../../assets/No-Image.png"
                        style="width: 130px; height: 130px;">
                    <ng-template #multi>
                        <img src="{{i.imagePath}}" style="width: 130px; height: 130px;">
                    </ng-template>
                </td>
            </tr>
            <tr>
                <th class="particular">ModelMart ID</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    <span style="padding: 0px; margin: 0px ;"
                        *ngIf="i.modelCostType != 'Simulated Model' else simulatedmodel">
                        {{i.modelMartID}}
                    </span>
                    <ng-template #simulatedmodel>
                        -
                    </ng-template>
                </td>
            </tr>
            <tr>
                <th class="particular">Part Number</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.partNumber}}
                </td>
            </tr>
            <tr>
                <th class="particular">Part Name </th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.partName}}
                </td>
            </tr>
            <tr>
                <th class="particular">Cat2</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.caT2}}
                </td>
            </tr>
            <tr>
                <th class="particular">Cat3</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.caT3}}
                </td>
            </tr>
            <tr>
                <th class="particular">Cat4</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.caT4}}
                </td>
            </tr>
            <tr>
                <th class="particular">Program Name</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.programName}}
                </td>
            </tr>
            <tr>
                <th class="particular">Business Unit</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.businessUnit}}
                </td>
            </tr>
            <tr>
                <th class="particular">Model Type</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.modelTypes_Desc}}
                </td>
            </tr>
            <tr>
                <th class="particular">Model Cost Type</th>
                <td class="right" *ngFor="let i of this.partDetails">
                    {{i.modelCostType}}
                </td>
            </tr>

        </table>
    </div>

    <!-- Should Cost Volume -->
    <div class="d-flex justify-content-center setimage " id="tableShouldCostVolume">
        <!-- <table class="table table-bordered ShouldCostVolume">
            <tr>
                <th rowspan="8" class="text-center mainpart">Should Cost Volume and Location</th>
                <th hidden class="particular">csHeaderId</th>
                <td hidden class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.csHeaderId}}
                    {{i.scReportId}}
                </td>
            </tr>
            <tr>
                <th class="particular">Invoice ($)</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.invoice | number:'1.2-2'}}
                </td>
            </tr>
           <tr>
                <th class="particular">Annual Volume</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.annualVolume | number:'1.0-0'}}
                </td>
            </tr>
            <tr>
                <th class="particular">Estimated Spend ($)</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    <span style="padding: 0px; margin: 0px ;" *ngIf="i.estimatedSpend == '-'">
                        {{i.estimatedSpend}}
                    </span>
                    <span style="padding: 0px; margin: 0px ;" *ngIf="i.length != '-'">
                        {{i.estimatedSpend | number:'1.0-0'}}
                    </span>
                </td>
            </tr>
            <tr>
                <th class="particular">Supplier Manufcaturing Location</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.mfgRegion}}
                </td>
            </tr>
            <tr>
                <th class="particular">Supplier</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.supplier}}
                </td>
            </tr>
            <tr hidden>
                <th class="particular">finishWeight</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.finishWeight | number:'1.2-2'}}
                </td>
            </tr>
            <tr>
                <th class="particular">Invoice Price (per/kg)</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.invoicePrice_kg | number:'1.2-2'}}
                </td>
            </tr>
            <tr>
                <th class="particular">Should Cost (per/kg)</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.shouldCost_kg | number:'1.2-2'}}
                </td>
            </tr>
        </table> -->
        <table class="table table-bordered ShouldCostVolume">
            <tr>
              <th rowspan="8" class="text-center mainpart">Should Cost Volume and Location</th>
              <th hidden class="particular">csHeaderId</th>
              <td hidden class="right" *ngFor="let i of shouldCostVolume">
                {{ i.csHeaderId ? i.csHeaderId : 'N/A OR Not Available' }}
                {{ i.scReportId ? i.scReportId : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Invoice/Quoted Price ($)</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.invoice != null ? (i.invoice | number:'1.2-2') : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Annual Volume</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.annualVolume != null ? (i.annualVolume | number:'1.0-0') : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Estimated Spend ($)</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                <span style="padding: 0px; margin: 0px ;" *ngIf="i.estimatedSpend === '-'">
                  {{ i.estimatedSpend }}
                </span>
                <span style="padding: 0px; margin: 0px ;" *ngIf="i.estimatedSpend !== '-' && i.estimatedSpend != null">
                  {{ i.estimatedSpend | number:'1.0-0' }}
                </span>
                <span style="padding: 0px; margin: 0px ;" *ngIf="!i.estimatedSpend">
                  N/A OR Not Available
                </span>
              </td>
            </tr>
          
            <tr>
              <th class="particular">Supplier Manufcaturing Location</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.mfgRegion ? i.mfgRegion : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Supplier</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.supplier ? i.supplier : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr hidden>
              <th class="particular">finishWeight</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.finishWeight != null ? (i.finishWeight | number:'1.2-2') : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Invoice Price (per/kg)</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.invoicePrice_kg != null ? (i.invoicePrice_kg | number:'1.2-2') : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Should Cost (per/kg)</th>
              <td class="right" *ngFor="let i of shouldCostVolume">
                {{ i.shouldCost_kg != null ? (i.shouldCost_kg | number:'1.2-2') : 'N/A OR Not Available' }}
              </td>
            </tr>
          </table>
          
    </div>

    <!-- Technical Parameters -->
    <div class="d-flex justify-content-center setimage ">
        <!-- <table class="table table-bordered tableTechnicalParameters">
            <tr>
                <th  [rowSpan]="TechnicalParametersrowspan"  class="text-center mainpart">Technical Parameters</th>
                <th hidden class="particular">csHeaderId</th>
                <td hidden class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.csHeaderId}}
                    {{i.scReportId}}
                </td>
            </tr>
            <tr>
                <th class="particular">Finish Weight (kg)</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.finishWeight}}
                </td>
            </tr>
            <tr>
                <th class="particular">Dimension (LxWxH) mm</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    <span style="padding: 0px; margin: 0px ;" *ngIf="i.length == '-'">
                        {{i.length + i.width + i.height}}
                    </span>
                    <span style="padding: 0px; margin: 0px ;" *ngIf="i.length > 0 ">
                        {{i.length | number:'1.2-2'}}
                        X {{i.width | number:'1.2-2'}}
                        X {{i.height | number:'1.2-2'}}
                    </span>
                </td>
            </tr>
            <tr [hidden]="!IsEngineDisplacement">
                <th class="particular">Engine Displacement</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.engineDisplacement}}
                </td>
            </tr>
            <tr [hidden]="!IsPlatform">
                <th class="particular">Platform</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.plat_form}}
                </td>
            </tr>
             <tr [hidden]="!IsGensetOuputPower">
                <th class="particular">Genset Ouput Power (KVA)</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.gensetoutputpower}}
                </td>
            </tr>
            <tr [hidden]="!IsFrameSize">
                <th class="particular">Model</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.frameSize}}
                </td>
            </tr>
            <tr [hidden]="!IsSizeofAftertreatment">
                <th class="particular">Substrate Size</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.sizeOfAfterTreatment}}
                </td>
            </tr>
             <tr>
                <th class="particular">No of Cores</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.no_of_Cores}}
                </td>
            </tr>
            <tr>
                <th class="particular">No of Cavities</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.no_of_Cavities}}
                </td>
            </tr>
            <tr>
                <th class="particular">Yield</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.yield | number:'1.0-0'}}<span style="margin: 0; padding: 0;" *ngIf="i.yield > 0">%</span>
                </td>
            </tr>
            <tr>
                <th class="particular"> Avg Wall Thickness</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.avg_Wall_Thickness}}
                </td>
            </tr>



            <tr>
                <th [rowSpan]="TechnicalParameterDetailed.length + 1"
                    class="text-center mainpart hideCommericalDetailsShouldCost"
                    (click)="IsTechnicalParameterDetailed = !IsTechnicalParameterDetailed">
                    Part Attributes
                   
                    <i *ngIf="IsTechnicalParameterDetailed" class="bi-chevron-down showhiderowstier2"></i>
                    <i *ngIf="!IsTechnicalParameterDetailed" class="bi-chevron-right showhiderowstier2"></i>
                </th>
            </tr>
            <ng-container *ngIf="IsTechnicalParameterDetailed">
                <tr *ngFor="let i of this.TechnicalParameterDetailed">
                    <th *ngIf="i.id != 100" class="particular">
                        {{i.particular}}
                    </th>
                    <td *ngIf="this.partDetails.length >= 1 &&  i.id != 100" class="right">
                        {{i.details1}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 2 &&  i.id != 100" class="right">
                        {{i.details2}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 3 &&  i.id != 100" class="right">
                        {{i.details3}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 4 &&  i.id != 100" class="right">
                        {{i.details4}}
                    </td>
                </tr>
                
            </ng-container>
        </table> -->
        <table class="table table-bordered tableTechnicalParameters">
            <tr>
              <th [rowSpan]="TechnicalParametersrowspan" class="text-center mainpart">Technical Parameters</th>
              <th hidden class="particular">csHeaderId</th>
              <td hidden class="right" *ngFor="let i of technicalParatameters">
                {{ i.csHeaderId ? i.csHeaderId : 'N/A OR Not Available' }}
                {{ i.scReportId ? i.scReportId : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Finish Weight (kg)</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.finishWeight ? i.finishWeight : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Dimension (LxWxH) mm</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                <span style="padding: 0px; margin: 0px ;"  *ngIf="i.length && i.width && i.height">
                  {{ i.length | number:'1.2-2' }} X {{ i.width | number:'1.2-2' }} X {{ i.height | number:'1.2-2' }}
                </span>
                <span style="padding: 0px; margin: 0px ;"  *ngIf="!i.length || !i.width || !i.height">
                  N/A OR Not Available
                </span>
              </td>
            </tr>
          
            <tr [hidden]="!IsEngineDisplacement">
              <th class="particular">Engine Displacement</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.engineDisplacement ? i.engineDisplacement : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr [hidden]="!IsPlatform">
              <th class="particular">Platform</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.plat_form ? i.plat_form : 'N/A OR Not Available' }}
              </td>
            </tr>
             <tr [hidden]="!IsGensetOuputPower">
                <th class="particular">Genset Ouput Power (KVA)</th>
                <td class="right" *ngFor="let i of this.technicalParatameters">
                    {{i.gensetoutputpower}}
                </td>
            </tr>
          
            <tr [hidden]="!IsFrameSize">
              <th class="particular">Model</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.frameSize ? i.frameSize : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr [hidden]="!IsSizeofAftertreatment">
              <th class="particular">Substrate Size</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.sizeOfAfterTreatment ? i.sizeOfAfterTreatment : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">No of Cores</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.no_of_Cores ? i.no_of_Cores : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">No of Cavities</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.no_of_Cavities ? i.no_of_Cavities : 'N/A OR Not Available' }}
              </td>
            </tr>
          
            <tr>
              <th class="particular">Yield</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                <span style="padding: 0px; margin: 0px;" *ngIf="i.yield > 0">{{ i.yield | number:'1.0-0' }}%</span>
                <span style="padding: 0px; margin: 0px;" *ngIf="!i.yield || i.yield <= 0">N/A OR Not Available</span>
              </td>
            </tr>
          
          
            <tr>
              <th class="particular">Avg Wall Thickness</th>
              <td class="right" *ngFor="let i of technicalParatameters">
                {{ i.avg_Wall_Thickness ? i.avg_Wall_Thickness : 'N/A OR Not Available' }}
              </td>
            </tr>
            
            <tr>
                <th class="particular">Type Code</th>
                <td class="right" *ngFor="let i of technicalParatameters">
                  {{ i.type_Code ? i.type_Code : 'N/A OR Not Available' }}
                </td>
            </tr>
          
            <tr>
              <th [rowSpan]="TechnicalParameterDetailed.length + 1"
                  class="text-center mainpart hideCommericalDetailsShouldCost"
                  (click)="IsTechnicalParameterDetailed = !IsTechnicalParameterDetailed">
                Part Attributes
                <i *ngIf="IsTechnicalParameterDetailed" class="bi-chevron-down showhiderowstier2"></i>
                <i *ngIf="!IsTechnicalParameterDetailed" class="bi-chevron-right showhiderowstier2"></i>
              </th>
            </tr>
          
            <ng-container *ngIf="IsTechnicalParameterDetailed">
                <!-- <tr *ngFor="let i of TechnicalParameterDetailed">

                     <td *ngIf="partDetails.length&& i.id != 100" class="right">
                    {{ i.type_Code }}
                  </td>
                </tr> -->
                

              <tr *ngFor="let i of TechnicalParameterDetailed">
                
                <th *ngIf="i.id != 100" class="particular">
                  {{ i.particular ? i.particular : 'N/A OR Not Available' }}
                </th>
                <td *ngIf="partDetails.length >= 1 && i.id != 100" class="right">
                  {{ i.details1 ? i.details1 : 'N/A OR Not Available' }}
                </td>
                <td *ngIf="partDetails.length >= 2 && i.id != 100" class="right">
                  {{ i.details2 ? i.details2 : 'N/A OR Not Available' }}
                </td>
                <td *ngIf="partDetails.length >= 3 && i.id != 100" class="right">
                  {{ i.details3 ? i.details3 : 'N/A OR Not Available' }}
                </td>
                <td *ngIf="partDetails.length >= 4 && i.id != 100" class="right">
                  {{ i.details4 ? i.details4 : 'N/A OR Not Available' }}
                </td>
              </tr>
            </ng-container>
            <!-- <ng-container *ngIf="IsTechnicalParameterDetailed">
                <ng-container *ngFor="let group of groupedTechnicalParameters">
                  
                  <tr *ngFor="let i of group.items">
                    <th *ngIf="i.id != 100" class="particular">
                      {{ i.particular ? i.particular : 'N/A OR Not Available' }}
                    </th>
                    <td *ngIf="partDetails.length >= 1 && i.id != 100" class="right">
                      {{ i.details1 ? i.details1 : 'N/A OR Not Available' }}
                    </td>
                    <td *ngIf="partDetails.length >= 2 && i.id != 100" class="right">
                      {{ i.details2 ? i.details2 : 'N/A OR Not Available' }}
                    </td>
                    <td *ngIf="partDetails.length >= 3 && i.id != 100" class="right">
                      {{ i.details3 ? i.details3 : 'N/A OR Not Available' }}
                    </td>
                    <td *ngIf="partDetails.length >= 4 && i.id != 100" class="right">
                      {{ i.details4 ? i.details4 : 'N/A OR Not Available' }}
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
               -->

              
          </table>
          
    </div>

    <!-- Technical Parameters material Main -->
    <div class="d-flex justify-content-center setimage ">
        <table class="table table-bordered tableTechnicalParameters">
            <tr>
                <th rowspan="101" class="text-center mainpart ">
                    Technical Parameters <br> Material Info
                </th>
                <th hidden class="particular">csHeaderId</th>
                <td hidden class="right" *ngFor="let i of this.material_Main">
                    {{i.csHeaderId}}
                    {{i.scReportId}}
                </td>
            </tr>
            <tr>
                <th class="particular">Material (Main)</th>
                <td class="right" *ngFor="let i of this.material_Main">
                    <!-- {{i.materialType}} -->
                    {{ i.materialType ? i.materialType : 'N/A OR Not Available' }}
                </td>
            </tr>
            <tr>
                <th rowspan="101" class="particular mainpart hideCommericalDetailsShouldCost"
                    (click)="IsMaterialDetails = !IsMaterialDetails">Material (Detailed)
                    <i *ngIf="IsMaterialDetails" class="bi-chevron-down showhiderowstier2"></i>
                    <i *ngIf="!IsMaterialDetails" class="bi-chevron-right showhiderowstier2"></i>
                </th>
            </tr>
            <ng-container *ngIf="IsMaterialDetails">
                <tr>
                    <td class="particular" style="vertical-align: top; ">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.material_Detailed">
                                <td style="border: 1px solid #80808041" *ngIf="i.details1 && i.id != 1 ">
                                    <!-- {{i.details1}} -->
                                    {{ i.details1 ? i.details1 : 'N/A OR Not Available' }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="particular" style="vertical-align: top; ">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.material_Detailed">
                                <td style="border: 1px solid #80808041" *ngIf="i.details2  && i.id != 1">
                                    <!-- {{i.details2}} -->
                                    {{ i.details2 ? i.details2 : 'N/A OR Not Available' }}
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td [hidden]="Hidematerial_Detailedtable3" class="particular" style="vertical-align: top; ">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.material_Detailed">
                                <td style="border: 1px solid #80808041" *ngIf="i.details3  && i.id != 1">
                                    <!-- {{i.details3}} -->
                                    {{ i.details3 ? i.details3 : 'N/A OR Not Available' }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td [hidden]="Hidematerial_Detailedtable4" class="particular" style="vertical-align: top; ">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.material_Detailed">
                                <td style="border: 1px solid #80808041" *ngIf="i.details4  && i.id != 1">
                                    <!-- {{i.details4}} -->
                                    {{ i.details4 ? i.details4 : 'N/A OR Not Available' }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </ng-container>

        </table>
    </div>

    <!-- Commerical Details <br> (Should Cost) -->
    <div class="d-flex justify-content-center setimage ">
        <table class="table CommericalDetails">
            <tr>
                <th rowspan="25" class="text-center mainpart hideCommericalDetailsShouldCost"
                    (click)="IsCommericalDetailsSC = !IsCommericalDetailsSC">
                    Commerical Details <br> (Should Cost)
                    <i *ngIf="IsCommericalDetailsSC" class="bi-chevron-down showhiderowstier2"></i>
                    <i *ngIf="!IsCommericalDetailsSC" class="bi-chevron-right showhiderowstier2"></i>
                </th>
            </tr>
            <tr>
                <th class="particular mainpart">Part Cost ($)</th>
                <ng-container *ngFor="let i of this.CommericalDetailsShouldCost">
                    <td *ngIf="this.partDetails.length >= 1 && i.row_num == 19 " class="right TotalCostData">
                        {{i.details1}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 2 && i.row_num == 19 " class="right TotalCostData">
                        {{i.details2}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 3 && i.row_num == 19 " class="right TotalCostData">
                        {{i.details3}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 4 && i.row_num == 19 " class="right TotalCostData">
                        {{i.details4}}
                    </td>
                </ng-container>
            </tr>

            <ng-container *ngIf="IsCommericalDetailsSC">
                <tr *ngFor="let i of this.CommericalDetailsShouldCost">
                    <th *ngIf="i.row_num != 100 && i.row_num != 1 && i.row_num != 19 " class="particular"
                        [class.showShouldCostTier2]="i.row_num == 3" (click)="i.row_num == 3 && showShouldCostTier2()">
                        {{i.particular}}
                        <ng-container *ngIf="i.row_num == 3">
                            <i *ngIf="isExpandShouldCostTier2" class="bi-chevron-down showhiderowstier2"></i>
                            <i *ngIf="!isExpandShouldCostTier2" class="bi-chevron-right showhiderowstier2"></i>
                        </ng-container>

                    </th>
                    <td *ngIf="this.partDetails.length >= 1 &&  i.row_num != 100 && i.row_num != 1 && i.row_num != 19 "
                        class="right" [class.TotalCostData]="i.row_num == 17 || i.row_num == 19"
                        [class.directCostminus]="i.details1 < 0">
                        {{i.details1}}
                        <ng-container *ngIf="i.row_num == 3">
                            <table *ngIf="isExpandShouldCostTier2">
                                <tr *ngFor="let t2 of this.CommericalDetailsShouldCostTier2">
                                    <th *ngIf="t2.row_num != 1" class="particular">
                                        {{t2.particular}}
                                    </th>
                                    <td *ngIf="t2.details1  && t2.row_num != 1" class="right">
                                        {{t2.details1}}
                                    </td>
                                </tr>
                            </table>
                        </ng-container>
                    </td>
                    <td *ngIf="this.partDetails.length >= 2 &&  i.row_num != 100 && i.row_num != 1  && i.row_num != 19 "
                        class="right" [class.TotalCostData]="i.row_num == 17 || i.row_num == 19"
                        [class.directCostminus]="i.details2 < 0">
                        {{i.details2}}
                        <ng-container *ngIf="i.row_num == 3">
                            <table *ngIf="isExpandShouldCostTier2">
                                <tr *ngFor="let t2 of this.CommericalDetailsShouldCostTier2">
                                    <th *ngIf="t2.row_num != 1" class="particular">
                                        {{t2.particular}}
                                    </th>
                                    <td *ngIf="t2.details2  && t2.row_num != 1" class="right">
                                        {{t2.details2}}
                                    </td>
                                </tr>
                            </table>
                        </ng-container>
                    </td>
                    <td *ngIf="this.partDetails.length >= 3 &&  i.row_num != 100 && i.row_num != 1  && i.row_num != 19 "
                        class="right" [class.TotalCostData]="i.row_num == 17 || i.row_num == 19"
                        [class.directCostminus]="i.details3 < 0">
                        {{i.details3}}
                        <ng-container *ngIf="i.row_num == 3">
                            <table *ngIf="isExpandShouldCostTier2">
                                <tr *ngFor="let t2 of this.CommericalDetailsShouldCostTier2">
                                    <th *ngIf="t2.row_num != 1" class="particular">
                                        {{t2.particular}}
                                    </th>
                                    <td *ngIf="t2.details3  && t2.row_num != 1" class="right">
                                        {{t2.details3}}
                                    </td>
                                </tr>
                            </table>
                        </ng-container>
                    </td>
                    <td *ngIf="this.partDetails.length >= 4 &&  i.row_num != 100 && i.row_num != 1  && i.row_num != 19 "
                        class="right" [class.TotalCostData]="i.row_num == 17 || i.row_num == 19"
                        [class.directCostminus]="i.details4 < 0">
                        {{i.details4}}
                        <ng-container *ngIf="i.row_num == 3">
                            <table *ngIf="isExpandShouldCostTier2">
                                <tr *ngFor="let t2 of this.CommericalDetailsShouldCostTier2">
                                    <th *ngIf="t2.row_num != 1" class="particular">
                                        {{t2.particular}}
                                    </th>
                                    <td *ngIf="t2.details4  && t2.row_num != 1" class="right">
                                        {{t2.details4}}
                                    </td>
                                </tr>
                            </table>
                        </ng-container>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <!-- Commerical Details <br> (Supplier Cost) -->
    <div class="d-flex justify-content-center setimage ">
        <table class="table CommericalDetails">
            <tr>
                <th rowspan="50" class="text-center mainpart hideCommericalDetailsShouldCost"
                    (click)="IsCommericalDetailsSupplierCost = !IsCommericalDetailsSupplierCost">
                    Commerical Details <br> (Supplier Cost)
                    <i *ngIf="IsCommericalDetailsSupplierCost" class="bi-chevron-down showhiderowstier2"></i>
                    <i *ngIf="!IsCommericalDetailsSupplierCost" class="bi-chevron-right showhiderowstier2"></i>
                </th>
                <th class="particular mainpart">Part Name </th>
                <ng-container *ngFor="let i of this.CommericalDetailsSupplierCost">
                    <td *ngIf="i.details1 && i.id == 3" class="right TotalCostData">
                        {{i.details1}}
                    </td>
                    <td *ngIf="i.details2 && i.id == 3" class="right TotalCostData">
                        {{i.details2}}
                    </td>
                    <td *ngIf="i.details3 && i.id == 3" class="right TotalCostData">
                        {{i.details3}}
                    </td>
                    <td *ngIf="i.details4 && i.id == 3" class="right TotalCostData">
                        {{i.details4}}
                    </td>
                </ng-container>
            </tr>
            <tr>
                <th class="particular mainpart">Part Number </th>
                <ng-container *ngFor="let i of this.CommericalDetailsSupplierCost">
                    <td *ngIf="i.details1 && i.id == 4" class="right TotalCostData">
                        {{i.details1}}
                    </td>
                    <td *ngIf="i.details2 && i.id == 4" class="right TotalCostData">
                        {{i.details2}}
                    </td>
                    <td *ngIf="i.details3 && i.id == 4" class="right TotalCostData">
                        {{i.details3}}
                    </td>
                    <td *ngIf="i.details4 && i.id == 4" class="right TotalCostData">
                        {{i.details4}}
                    </td>
                </ng-container>
            </tr>
            <!-- <tr>
                <th class="particular mainpart">Total Cost ($)</th>
                <ng-container *ngFor="let i of this.CommericalDetailsSupplierCost">
                    <td *ngIf="this.partDetails.length >= 1 && i.id == 22 " class="right TotalCostData">
                        {{i.details1}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 2 && i.id == 22 " class="right TotalCostData">
                        {{i.details2}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 3 && i.id == 22 " class="right TotalCostData">
                        {{i.details3}}
                    </td>
                    <td *ngIf="this.partDetails.length >= 4 && i.id == 22 " class="right TotalCostData">
                        {{i.details4}}
                    </td>
                </ng-container>
            </tr> -->
            <tr>
                <th class="particular mainpart">Total Cost ($)</th>
                <ng-container *ngFor="let i of this.CommericalDetailsSupplierCost">
                    <td *ngIf="this.partDetails.length >= 1 && i.id == 22" class="right TotalCostData">
                        {{ i.details1 ? i.details1 : 'TCO Not Available' }}
                    </td>
                    <td *ngIf="this.partDetails.length >= 2 && i.id == 22" class="right TotalCostData">
                        {{ i.details2 ? i.details2 : 'TCO Not Available' }}
                    </td>
                    <td *ngIf="this.partDetails.length >= 3 && i.id == 22" class="right TotalCostData">
                        {{ i.details3 ? i.details3 : 'TCO Not Available' }}
                    </td>
                    <td *ngIf="this.partDetails.length >= 4 && i.id == 22" class="right TotalCostData">
                        {{ i.details4 ? i.details4 : 'TCO Not Available' }}
                    </td>
                </ng-container>
            </tr>
            
            <ng-container *ngIf="IsCommericalDetailsSupplierCost">
                <tr *ngFor="let i of this.CommericalDetailsSupplierCost">
                    <th *ngIf=" i.id >= 6 && i.id <= 21" class="particular">
                        {{i.particular}}
                    </th>
                    <td [class.directCostminus]="i.id == 7"
                        *ngIf="this.partDetails.length >= 1 && i.id >= 6 && i.id <= 21 ">
                        {{i.details1}}
                    </td>
                    <td [class.directCostminus]="i.id == 7"
                        *ngIf="this.partDetails.length >= 2 && i.id >= 6 && i.id <= 21 ">
                        {{i.details2}}
                    </td>
                    <td [class.directCostminus]="i.id == 7"
                        *ngIf="this.partDetails.length >= 3 && i.id >= 6 && i.id <= 21 ">
                        {{i.details3}}
                    </td>
                    <td [class.directCostminus]="i.id == 7"
                        *ngIf="this.partDetails.length >= 4 && i.id >= 6 && i.id <= 21 ">
                        {{i.details4}}
                    </td>
                </tr>
            </ng-container>

        </table>
    </div>


    <!-- Manufacturing Process -->
    <div class="d-flex justify-content-center setimage ">
        <table class="table CommericalDetails">
            <tr>
                <th rowspan="101" class="text-center mainpart ">
                    Manufacturing Process
                </th>
                <th class="particular">High Level Process</th>
                <td class="right" *ngFor="let i of this.shouldCostVolume">
                    {{i.highLevelProcess}}
                </td>
            </tr>
            <tr>
                <th rowspan="101" class="particular mainpart hideCommericalDetailsShouldCost"
                    (click)="IsDetailedProcess = !IsDetailedProcess">Detailed Process
                    <i *ngIf="IsDetailedProcess" class="bi-chevron-down showhiderowstier2"></i>
                    <i *ngIf="!IsDetailedProcess" class="bi-chevron-right showhiderowstier2"></i>
                </th>
            </tr>

            <ng-container *ngIf="IsDetailedProcess">
                <tr>
                    <td class="particular" style="vertical-align: top; ">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.ManufacturingProcessDetail">
                                <!-- && i.id != 1 -->
                                <td style="border: 1px solid #80808041" *ngIf="i.details1 && i.id != 1">
                                    {{i.details1}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="particular" style="vertical-align: top;">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.ManufacturingProcessDetail">
                                <td style="border: 1px solid #80808041" *ngIf="i.details2  && i.id != 1">
                                    {{i.details2}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td [hidden]="Hidematerial_Detailedtable3" class="particular" style="vertical-align: top;">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.ManufacturingProcessDetail">
                                <td style="border: 1px solid #80808041" *ngIf="i.details3 && i.id != 1 ">
                                    {{i.details3}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td [hidden]="Hidematerial_Detailedtable4" class="particular" style="vertical-align: top;">
                        <table class="setimage" style="width: 100%;">
                            <tr *ngFor="let i of this.ManufacturingProcessDetail">
                                <td style="border: 1px solid #80808041" *ngIf="i.details4 && i.id != 1 ">
                                    {{i.details4}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <!-- Click to view Should Cost in details -->
    <div class="d-flex justify-content-center setimage">
        <table class="table setimageviewShould">
            <tr>
                <th rowspan="9" class="text-center mainpart"></th>
                <th class="particular"></th>
                <td class="right text-center" *ngFor="let i of this.partDetails" style="padding: 5px;">
                    <!-- <button type="button" class="btn btn-sm btn-outline-danger btnview"
                        data-bs-dismis="modal" (click)="getComparison(i.csHeaderId)">View <span *ngIf="i.scReportId > 0">Base</span> Model</button> -->
                    <button type="button" class="btn btn-sm btn-outline-danger btnview" data-bs-dismis="modal"
                        (click)="getComparison(i)">
                        <span *ngIf="i.scReportId > 0 else multi">View Report</span>
                        <ng-template #multi>View Model</ng-template>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>
<!-- <app-suppcomparison *ngIf="showChild" [Shouldcost]="suppshouldcost"></app-suppcomparison> -->