* {
  font-family: Helvetica, Arial !important;
}

h1 {
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 5px 0;
}

.custom-modal-size {
  max-width: 90%;
}

.sticky-col {
  position: sticky;
  right: 0;
  background: white;
  z-index: 8;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
 }
 





/* .graph-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}


.chart-box {
  border: 1px solid black;
  height: 400px;
  min-width: 100%;
  width: fit-content;
  padding: 10px;
  box-sizing: border-box;
}


.canvas-chart {
  display: block;
  height: 375px;
} */

/* Your exact styles with added improvements */
.graph {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
  /* Added for smooth mobile scrolling */
}

.chart-box {
  border: 1px solid black;
  font-family: 'Helvetica, Arial', sans-serif;
  width: 90%;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  box-sizing: border-box;
  /* Added to include padding in width calculation */
  margin: 0 auto;
  /* Center the box */
}

.canvas-chart {
  text-align: center;
  padding-left: 3%;
  padding-right: 5%;
  display: inline-block;
  display: block;
  width: auto;
  /* Changed from 100% to auto */
  min-width: 100%;
  /* Ensures full width when not scrolling */
  height: 100%;
  overflow: visible;
  /* Changed from auto to visible */
}

/* Added for very wide charts */
.chart-box.wide-chart {
  width: fit-content;
  min-width: 90%;
}

.canvas-chart_GreaterThan30 {

  text-align: center;
  padding-left: 3%;
  padding-right: 5%;
  display: block;
  height: 100%;
  /* Match parent height */

  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  /* Disable vertical scrolling if unnecessary */
  white-space: nowrap;
  /* Prevent line breaks for part numbers */
}
.Mfgcanvas-chart {
  text-align: center;
  padding-left: 3%;
  padding-right: 5%;
  display: inline-block;
  display: block;
  width: auto;
  /* Changed from 100% to auto */
  min-width: 100%;
  /* Ensures full width when not scrolling */
  height: max-content;
  max-height: 100%;
  overflow: visible;
  overflow-y: visible;
  /* Changed from auto to visible */
}

.Mfgcanvas-chart_GreaterThan30 {

  text-align: center;
  padding-left: 3%;
  padding-right: 5%;
  display: block;
  height: 100%;
  /* Match parent height */

  overflow-x: auto;
  /* Enable horizontal scrolling */
  /* overflow-y: auto; */
  /* Disable vertical scrolling if unnecessary */
  white-space: nowrap;
  /* Prevent line breaks for part numbers */
}





.custom-button {
  margin: 10px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  background-color: #0f3b6a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #6486ab;
}

.custom-button1 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  background-color: #da291c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button1:hover {
  background-color: #6486ab;
}

.custom-button.active {
  background-color: #da291c;
  color: white;
  border: 2px solid #da291c;
}

.table {
  font-size: 12px !important;
  /* border-collapse: separate; */

  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  /* table-layout: fixed; */
  border: 1px solid white
}

.align-left {
  text-align: left;
  /* Align text to the left */
}

.align-center {
  text-align: center;
  /* Align numbers to the center */
}

.table th,
.table td {
  /* border: #fff 1px solid; */
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  /* color: #000; */
  padding: 8px;

  vertical-align: middle;
  white-space: nowrap;
}

.table th {
  text-align: auto;
  position: sticky;
  top: -1px;
  background-color: #da291c;
  color: #fff;
  /* border: 1px solid #808080; */
}




.table-responsive {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  border: 1px solid #808080;
  overflow: auto;
}

/* Style for Save button */
button.button1 {
  background-color: #da291c;
  /* Green background */
  color: white;
  /* White text */
  border: none;
  /* Remove borders */
  border-radius: 5px;
  /* Rounded corners */
  padding: 6px 10px;
  /* Padding for size */
  font-size: 8px;
  /* Font size */
  margin-right: 5px;
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s ease;
  /* Smooth hover effect */
}

button.save:hover {
  background-color: #da291c;
  /* Darker green on hover */
}

.default-btn_popup {
  background-color: #da291c;
  color: #fff;
}

.modal-close-icn {
  width: 30px;
  height: 30px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
}

.modal-close-icn:hover {
  rotate: 90deg;
  cursor: pointer;
}

/* Custom Dropdown Styling */
.custom-dropdown {
  background-color: white;
  /* Background color of the dropdown */
  color: black;
  /* Text color */
  border: 1px solid #ccc;
  /* Border color */
  border-radius: 4px;
  /* Rounded corners */
  padding: 2px 5px;
  /* Padding inside the dropdown */
}

/* Customize the selected option */
.custom-dropdown option {
  background-color: #ffff;
  /* Background color for options */
  color: black;
  /* Text color for options */

}

.custom-dropdown option:hover {
  background-color: #258c25;
  /* Optional: Style individual options on hover */
  color: black;
}

/* Remove the blue default focus outline */
.custom-dropdown:focus {
  outline: none;
  background-color: #da291c;
  border: 1px solid #2fa365;
  /* Add your own border color when focused */
}

.custom-file-button input[type=file] {
  width: 2px;
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  width: 2px;

  display: none;
}

.custom-file-button input[type=file]::file-selector-button {
  width: 2px;
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

::ng-deep .swal2-title {
  font-size: 16px !important;
  /* Ensure it overrides SweetAlert2's default */
  color: #000;
  /* Optional: Adjust color for readability */
}

::ng-deep .swal2-actions .swal2-confirm {
  font-size: 12px !important;
  /* Smaller text in Confirm button */
  padding: 5px 10px !important;
  /* Adjust Confirm button size */
  background-color: #28a745 !important;
  /* Green Confirm button */
}

::ng-deep .swal2-actions .swal2-cancel {
  font-size: 12px !important;
  /* Smaller text in Cancel button */
  padding: 5px 10px !important;
  /* Adjust Cancel button size */
  background-color: #d33 !important;
  /* Red Cancel button */
}

/* .blur-background {
  filter: blur(10px);
  transition: filter 0.3s ease; 
} */

::ng-deep .custom-swal-popup {
  z-index: 1060;
  /* Higher z-index to overlap background */
  position: relative;
  /* Avoid overlap issues */
}


.default-btn_popup {
  margin: 0;
  /* Ensures no extra space around the button */
  background-color: #da291c;
  color: #fff;
}

.default-btn {
  padding: 0.375rem 0.75rem;
  /* Default Bootstrap button padding */
  font-size: 0.875rem;
  /* Font size matching btn-sm */
  line-height: 1.5;
  /* Line height for better alignment */
  margin: 0;
  /* Ensures no extra space around the button */
}

.modal-dialog {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 70%;
  /* Adjust width as needed */
}

* {
  font-family: Helvetica, Arial !important;
}

h1 {
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 5px 0;
}

.custom-modal-size {
  max-width: 90%;
}

.custom-button {
  margin: 10px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  background-color: #0f3b6a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #6486ab;
}

.custom-button1 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
  background-color: #da291c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button1:hover {
  background-color: #6486ab;
}

.custom-button.active {
  background-color: #da291c;
  color: white;
  border: 2px solid #da291c;
}
.modal{
  background: rgba(0, 0, 0, .5);
}

.table {
  font-size: 12px !important;

}


.filterlabel {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  font-family: Helvetica, Arial !important;


} 
.my-icon{
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}
/* .sortable-header {
  position: relative;
}

.sort-icon {
  position: absolute;
  bottom: -3px;  
  right: 1px;  
  cursor: pointer;
} */

/* .filterlabel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 */




/* .gradient-icon {
  font-size: 17px;
  cursor: pointer;
  margin-left: 10px;
  background: linear-gradient(to right, #2fa365, #34d1bf, #00aaff); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
} */

.view-btn {
  margin-left: 10px;
  text-align: center;
  width: 75px;
  /* Same width for all inputs */
  height: 35px;
  /* Same height for all inputs */
  font-size: 15px;
  /* Smaller button */
  padding: 7px 10px;
  background-color: #ffffff !important;
  border-color: #da291c !important;
  color: #da291c;

}

.view-btn:hover {
  text-align: center;
  font-size: 15px;
  /* Smaller button */
  padding: 7px 10px;
  background-color: #da291c !important;
  border-color: #da291c !important;
  color: #fff;

}

.custom-input {
  width: 150px;
  /* Same width for all inputs */
  height: 35px;
  /* Same height for all inputs */
  border-radius: 8px;
  font-family: Helvetica, Arial !important;
  font-size: 12px;
  padding: 7px 10px;
  box-sizing: border-box;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.custom-input:focus {
  outline: none;
  /* Remove default outline */
  border-color: #da291c;
}




.table-responsive {
  max-height: 400px;
  overflow-y: auto;
  /* Change */
  position: relative;
}


/* Cost3 Management */
* {
  font-family: Helvetica, Arial !important;
}


#clearFilter {
  padding: 10px 0px;
  color: #fff;
}

#clearFilterall {
  padding: 10px 0px;
  color: #ffffffa7;
  font-weight: 400;
}

#clearFilterall:hover {
  cursor: pointer;
}

#Id_Filters {
  /* height: 100vh; */
  /* border: 1px solid #808080; */
  /* overflow-y: scroll; */
  /* margin-top: 10px; */
  /* background-color: rgb(21, 32, 43);   */
  /* max-height: 100vh; */
  /* overflow-y: scroll;  */
  width: 25%;
  padding-bottom: 100px;
  scrollbar-width: thin;
  scrollbar-color: #da291c #da291c17;
}

#Id_Filtersform {
  /* padding: 0px; */
  color: #000;
}

#SearchFiltersdiv {
  margin-top: 50px;
  width: 75%;
  margin-left: 25%;
  animation: showopacity 1s normal;
  opacity: 1;
}



#SearchFilters {
  /* background-color: #80808011;  */
  padding: 10px;
  /* height: 100vh;
  overflow-y: scroll;  */
}

.searchbox {
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #0000001f;
}

.font-size {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.rangeControl {
  width: 100%;
}

/* .prdIcon {
  width: 100%;
  height: 100px;
} */
.prdIcon {
  width: 100px;
  /* Adjust the size as needed */
  height: 100px;
}


.prdDescription {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Centra No. 1';
}

.prodDetails {
  width: 12%;
  padding: 10px;
  transition: all .3s ease-in-out;
  display: inline-table;
  animation: prodDetails 1s normal;
  margin-top: 0px;
}

.prodDetails:hover {
  box-shadow: 0px 0px 10px #15202B;
  transition: all .3s ease-in-out;
  transform: scale(1.02, 1.02);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .prodDetails {
    width: 20%;
    padding: 10px;
    transition: all .3s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .prodDetails {
    width: 50%;
    padding: 10px;
    transition: all .3s ease-in-out;
  }
}

.Categoryheader {
  color: #014d9a;
  padding: 5px 10px;
  border-bottom: 1px solid #014d9a;
  animation: headerdown 1s normal;
  margin-left: 10px;
}

.Categoryheader:hover {
  background-color: #014d9a14;
  color: #014d9a;
}


@keyframes headerdown {
  from {
    opacity: 0;
    margin-left: -60px;
  }

  to {
    opacity: 1;
    margin-left: 10px;
  }
}

@keyframes prodDetails {
  from {
    opacity: 0;
    margin-top: 60px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}


#PartNumber {
  font-size: 13px;
  font-weight: 600;
  /* color:rgb(108, 71, 2); */
  color: #15202B;
}

#PartName {
  font-size: 13px;
  font-weight: 500;
  /* color:rgb(145, 95, 2); */
  color: #15202B;
}

#PartNumber:hover,
#PartName:hover {
  cursor: pointer;
}

.SearchCheckbox {
  width: 15px;
  height: 15px;
  font-weight: 500;
  position: relative;
  left: 80px;
  top: 5px;
  background-color: rgb(205, 136, 9);
}

.searchboxheader {
  z-index: 10;
  position: fixed;
  top: 50px;
  background-color: #fff;
  height: 50px;
  padding: 5px;
}

.btncompare {
  background-color: #0691fb;
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 2px 30px 5px 30px;
  margin-right: 50px;
}

.scrollbarsearch {
  max-height: 100vh !important;
  padding: 5px;
  color: #000;
  font-weight: 400;
  padding-bottom: 50px !important;
  /* border: 1px solid #80808062; */
}

/* .scrollbarsearch:hover{
  background-color: #1f2f3f; 
} */

.dateBorder {
  width: 92%;
  border: 1px solid #80808062;
  display: inline-flex;
  margin-left: 10px;
  padding-bottom: 10px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dateBorder:hover {
  background-color: #1f2f3f;
}

.datecolor {
  color: #15202B;
}

.filtername {
  position: fixed;
  background-color: #1f2f3f;
  width: 25%;
}

/* 
#Cat2search{
  margin-left:50px;
} */

.Filterstextbox {
  background-color: #4d5d6e;
  border: none;
  outline: none;
  color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
}

.Filterstextbox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
}

.clearall {
  margin-left: 150px;
  transition: all .5s;
  color: #da291c;
}

.clearall:hover {
  cursor: pointer;
}

.cat3checkbox {
  margin-left: 6px;
}

.scroll1::-webkit-scrollbar {
  width: 5px;
}

.scroll1::-webkit-scrollbar-track {
  background: #da291c17;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #da291c;
}
.exportToExcel {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  transition: transform 0.2s ease;
}

.exportToExcel:hover {
  cursor: pointer !important;
  transform: scale(1.1);
}
.exportToExcel img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.text-underlinecolour {
  color: #da291c;
  cursor: pointer;
}


/* ////// checkbox  ////////////////////////////////////////////////////////////////// */


input[type=checkbox] {
  accent-color: #da291c;
}




:host ::ng-deep ngx-treeview-item {
  color: 000;
  font-weight: 400;
  padding-left: 5px;
}

:host ::ng-deep ngx-treeview-item .form-check-input {
  background-color: #da291c;
  border: none;
}

:host ::ng-deep ngx-treeview-item .form-check-input:focus {
  box-shadow: none;
}

:host ::ng-deep ngx-treeview-item .ng-valid {
  background-color: #da291c !important;
  border: none;
}

:host ::ng-deep .treeview-container {
  scrollbar-width: thin;
  scrollbar-color: #da291c #da291c17;
  padding-bottom: 50px;
  /* height: auto; */
}

:host ::ng-deep .treeview-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

:host ::ng-deep .treeview-container::-webkit-scrollbar-track {
  background: #da291c17;
}

:host ::ng-deep .treeview-container::-webkit-scrollbar-thumb {
  background: #da291c;
}

:host ::ng-deep .treeview-header .form-control {
  color: #000000ee;
  font-family: 400;
  height: 30px;
  border-radius: 0px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #80808041;
}

:host ::ng-deep .treeview-header .form-control:focus {
  border-color: #da291c;
  box-shadow: none;

  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
}

:host ::ng-deep ngx-treeview .treeview-wrapper .treeview-text {
  margin-left: 20px;
}

:host ::ng-deep ngx-treeview {
  padding-bottom: 50px;
}

.instructionLabel {
  position: fixed;
  top: 101px;
  background-color: #fff;
  z-index: 10;
  font-family: Helvetica, Arial !important;
  color: #da291c;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  height: 40px;
  line-height: 40px;
 
}



.CategoryWelcome {
  position: fixed;
  padding: 5px 10px;
  /* border-bottom: 1px solid #014d9a; */
  /* animation: headerdown 1s normal; */
  color: #000;
  background-color: #fff;
  height: 52px;
  top: 50px;
  width: 75%;
  padding-top: 15px;
  font-family: Helvetica, Arial !important;
  z-index: 10;
  font-size: 13px;
}

/* .checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-checkbox {
  margin-left: auto;
} */

input[type=checkbox][_ngcontent-ng-c1223772666] {
  accent-color: #da291c;
  margin-left: 80px;
}

/* .input1{
  accent-color: #da291c;
  margin-left: 80px;
} */
.input1 {
  position: absolute;
  top: 5px;
  /* Adjust as needed */
  right: 5px;
  /* Adjust as needed */
  z-index: 1;
}


.select-all-btn {
  background-color: #da291c;
  color: white;
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-left: 810px;
}

.select-all-btn:hover {
  background-color: #b2221a;
}

/* .cost-insight-btn{
  background-color: #da291c;
  color: white;
  border: none;
 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.cost-insight-btn:hover{
  background-color: #b2221a;
  
  
} */

.costbtn {
  /* margin-top: 25px; */
  font-size: 13px !important;
  background-color: #fff;
  color: #da291c;
  padding: 4px 15px;
  border: 1px solid #da291c;
  font-family: Helvetica, Arial !important;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.costbtn:hover {
  background-color: #da291c;
  color: #fff;
  border: 1px solid #da291c;
}


.btnbackLeft {
  margin-top: 25px;
  font-size: 15px !important;
  background-color: #da291c;
  color: #fff;
  padding: 4px 15px;
  border: 1px solid #da291c;
  font-family: Helvetica, Arial !important;
  border-radius: 5px;
  margin-left: 1300px;
}



.btnback {
  font-size: 15px !important;
  background-color: #da291c;
  color: #fff;
  padding: 4px 15px;
  border: 1px solid #da291c;
  font-family: Helvetica, Arial !important;
  border-radius: 5px;
}

.image-container {
  position: relative;
  display: inline-block;
}
.pagination{
  width: 80%;
  /* margin-left: 10%; */
}

th.sortable::after {
  content: "▲"; /* Default to ascending */
  padding-left: 5px;
}
th.sortable.descending::after {
  content: "▼";
}
/* .input-group {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
} */

.compact-input {
  padding: 3px 6px;
  font-size: 12px;
  width: 160px;
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
