<div class="setHeight">
    <form [formGroup]="MasterMaintenanaceForm">
        <div class="MasterHeader">
            <div style="width: 50%;">
                <h2>Supplier Manufacturing Location</h2>
            </div>
            <div  class="text-end" style="width: 50%;">
                <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
              </div>
        </div>
        <div class="MasterHeaderlable">
            <div class="searchDiv" >
                <div class="form-group has-search" style="width: 50%;">
                    <span class="bi bi-search form-control-feedback"></span>
                    <input type="text" class="form-control search-input" placeholder="Search"
                        formControlName="textsearch" [(ngModel)]="textsearch" >
                </div>
            </div>
            <div style="width: 50%;" class="text-end">
                <button type="button" class="btn btn-sm default-btn" id='add-btn' data-toggle="tooltip"
                    data-placement="top" title="Add Location" (click)="editModal=false" (click)="openModal()">Add Location</button>
            </div>
        </div>

        <!-- <div class="searchDiv">
            <div class="form-group has-search">
                <span class="bi bi-search form-control-feedback"></span>
                <input type="text" class="form-control search-input" placeholder="Search" formControlName="textsearch"
                    [(ngModel)]="textsearch">

            </div>
        </div> -->
        <div class="d-flex justify-content-center">
            <table class="table table-bordered table-striped "  style="font-size: 13px !important;">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>Sr. No.</th>
                        <th>Location Name</th>
                        <th hidden>Local Currency</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of masterManintenance | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page }  let i=index">
                        <td hidden>{{data.LocationId}}</td>
                        <td>{{(page - 1) * 10 + i + 1}}</td>
                        <td>{{data.LocationName}}</td>
                        <td hidden>{{data.Currency}}</td>
                        <!-- <td>{{data.IsActive?'Active':'Inactive'}}</td> -->
                        <td>{{data.IsActive}}</td>
                        <td>{{data.CreatedBy}}</td>
                        <td>{{data.CreatedOn | date:'dd-MMM-yyyy'}}</td>
                        <td><i class="bi bi-trash-fill" style="color: #da291c; font-size:larger;" (click)="deleteRow(data.LocationId)"></i>
                            <i class="bi bi-pencil-fill" style="padding-left: 20px; color: #da291c; font-size:larger;"
                                (click)="editModalMethod(data)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="d-flex justify-content-between p-2 pagination">
                             
            <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm" >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
            <br>
        </div>
    </form>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{header}}</h4>
                    <label class="close modal-close-icn" (click)="onCloseHandled()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </label>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInput" class="default-lbl">Location Name</label>
                            <input class="form-control form-control-sm" type="text" value="{{locName}}" id="locName"
                                placeholder="Please enter Location Name" name="locName"
                                 (blur)="locationNameOnBlur($event)">
                            <div class="error-message" *ngIf="showError1"> Please enter Location Name.</div>

                        </div>
                        <div class="form-group">
                            <label for="exampleInput" class="default-lbl">Local Currency</label>
                            <input class="form-control form-control-sm" type="text" value="{{localCurr}}" id="localCurr"
                                placeholder="Please enter Local Currency" name="localCurr"
                                
                                (blur)="localCurrencyOnBlur($event)">
                            <div class="error-message" *ngIf="showError2"> Please enter Local Currency.</div>

                        </div>

                        <!-- <div class="form-group">
                            <label for="exampleInput" class="default-lbl">Status</label>
                            <select class="form-select form-select-sm " (change)="onSelected($event)"
                                value="{{status}}">
                                <option value="" selected hidden>Please select</option>
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismis="modal"
                        (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-sm  btn-default default-btn_popup"
                        (click)="onSaveButton()">{{txt_btn}}</button>
                </div>
            </div>
        </div>
    </div>
</div>