<div class="container">
    <h1 class="heading">VPI-EBU-Barracuda-India/China/USA-HOUSING,FLYWHEEL-6427371</h1>
  
    <!-- <div class="buttons">
      <button class="btn">Button 1</button>
      <button class="btn">Button 2</button>
      <button class="btn">Button 3</button>
      <button class="btn">Button 4</button>
    </div> -->
  
    <div class="content">
      <div class="left-pane">
        <img src="assets/housing1.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing2.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing3.jpg" alt="Placeholder Image" class="image" />
        <img src="assets/housing4.jpg" alt="Placeholder Image" class="image" />
        <!-- <img src="assets/housing5.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing6.jpg" alt="Placeholder Image" class="image" /> -->
        <div class="image-row">
            <img src="assets/housing5.png" alt="Placeholder Image" class="image half-width" />
            <img src="assets/housing6.jpg" alt="Placeholder Image" class="image half-width" />
        </div>
        <img src="assets/housing7.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing8.jpg" alt="Placeholder Image" class="image" />
        <img src="assets/housing9.jpg" alt="Placeholder Image" class="image" />
        <img src="assets/diagram1.jpg" alt="Placeholder Image" class="image"/>

      </div>
      
      <div class="right-pane">
        <!-- <img src="assets/table1.jpg" alt="Placeholder Image" class="image" /> -->
        <table class="table table-bordered part-details">
            <thead>
              <tr>
                <th>Part Name</th>
                <th>Part Number</th>
                <th>Part Number Revision</th>
                <th>Model/Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HOUSING, FLYWHEEL</td>
                <td>6387726</td>
                <td>6389168 Finishing</td>
                <td>STP</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered part-information">
            <thead>
              <tr>
                <th colspan="4">Part Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Part Size</td>
                <td>608</td>
                <td>572</td>
                <td>160 mm</td>
              </tr>
              <tr>
                <td>Aprox Mold Size</td>
                <td>1508</td>
                <td>1472</td>
                <td>800 mm</td>
              </tr>
              <tr>
                <td>Aprox Mold Weight</td>
                <td>11152</td>
                <td>Kg</td>
                <td></td>
              </tr>
              <tr>
                <td>Aprox M/c Tonnage</td>
                <td>3478</td>
                <td>Tonne</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered tool-material">
            <thead>
              <tr>
                <th>Tool Material</th>
                <th></th>
                <th></th>
                <th>Material Grade / Steel Mill Name</th>
                <th>kg</th>
                <th>Rate / kg</th>
                <th>Amount USD/CNY/INR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cavity</td>
                <td>908</td>
                <td>872</td>
                <td>H13</td>
                <td>1430</td>
                <td>9.1</td>
                <td>13075</td>
              </tr>
              <tr>
                <td>Core</td>
                <td>908</td>
                <td>872</td>
                <td>H13</td>
                <td>1430</td>
                <td>9.1</td>
                <td>13075</td>
              </tr>
              <tr>
                <td>Mould base</td>
                <td>1508</td>
                <td>1472</td>
                <td>C45</td>
                <td>9932</td>
                <td>1.5</td>
                <td>15262</td>
              </tr>
              <tr>
                <td>Side Core</td>
                <td>300</td>
                <td>120</td>
                <td>H13</td>
                <td>102</td>
                <td>9.1</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Graphite / Copper</td>
                <td>300</td>
                <td>200</td>
                <td>Graphite</td>
                <td>41</td>
                <td>18.3</td>
                <td>757</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">Material Cost Sub Total</td>
                <td>42170</td>
              </tr>
            </tfoot>
          </table>
          <table class="table table-bordered standard-parts">
            <thead>
              <tr>
                <th>Standard Description</th>
                <th>QTY</th>
                <th>Rate</th>
                <th>Amount USD/CNY/INR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bought out parts / Standard parts</td>
                <td>5</td>
                <td>8434</td>
                <td></td>
              </tr>
              <tr>
                <td>Quick Mold Change</td>
                <td>0</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>HRS</td>
                <td>0</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Coating</td>
                <td>1,858</td>
                <td>10</td>
                <td>18131</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">Standard Parts Sub Total</td>
                <td>26565</td>
              </tr>
            </tfoot>
          </table>
          <table class="table table-bordered manufacturing-cost">
            <thead>
              <tr>
                <th>Manufacturing</th>
                <th>Description</th>
                <th>Aprox Hr</th>
                <th>Rate Per Hour</th>
                <th>Amount USD/CNY/INR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mould Design</td>
                <td>Catia/UG/Pro-E</td>
                <td>378</td>
                <td>10</td>
                <td>3780</td>
              </tr>
              <tr>
                <td>MFA/CFD</td>
                <td>Moldflow Autocad</td>
                <td>48</td>
                <td>10</td>
                <td>480</td>
              </tr>
              <tr>
                <td>NC/CNC Programming</td>
                <td></td>
                <td>120</td>
                <td>10</td>
                <td>1197</td>
              </tr>
              <tr>
                <td>Mold base Mfg.</td>
                <td>Standard or Manufactured?</td>
                <td>217</td>
                <td>27</td>
                <td>5852</td>
              </tr>
              <tr>
                <td>Grinding / Conv</td>
                <td></td>
                <td>96</td>
                <td>10</td>
                <td>960</td>
              </tr>
              <tr>
                <td>Conv Mching</td>
                <td></td>
                <td>175</td>
                <td>10</td>
                <td>1750</td>
              </tr>
              <tr>
                <td>WEDM</td>
                <td></td>
                <td>10</td>
                <td>10</td>
                <td>98</td>
              </tr>
              <tr>
                <td>EDM</td>
                <td></td>
                <td>224</td>
                <td>10</td>
                <td>2237</td>
              </tr>
              <tr>
                <td>CNC</td>
                <td></td>
                <td>718</td>
                <td>27</td>
                <td>19386</td>
              </tr>
              <tr>
                <td>Gun drilling</td>
                <td></td>
                <td>80</td>
                <td>10</td>
                <td>804</td>
              </tr>
              <tr>
                <td>Heat treatment</td>
                <td></td>
                <td>1858</td>
                <td>3</td>
                <td>5575</td>
              </tr>
              <tr>
                <td>Benchwork</td>
                <td></td>
                <td>279</td>
                <td>10</td>
                <td>2792</td>
              </tr>
              <tr>
                <td>Assy/ Spotting</td>
                <td>Die spotting press</td>
                <td>164</td>
                <td>10</td>
                <td>1641</td>
              </tr>
              <tr>
                <td>Polishing</td>
                <td></td>
                <td>290</td>
                <td>10</td>
                <td>2902</td>
              </tr>
              <tr>
                <td>Texturing</td>
                <td></td>
                <td>10</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>CMM</td>
                <td></td>
                <td>48</td>
                <td>14</td>
                <td>672</td>
              </tr>
              <tr>
                <td>Tryout</td>
                <td></td>
                <td>96</td>
                <td>14</td>
                <td>1344</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">Manufacturing Cost Sub Total</td>
                <td>51469</td>
              </tr>
            </tfoot>
          </table>

           <img src="assets/table4.jpg" alt="Placeholder Image" class="image" />
           <img src="assets/table5.jpg" alt="Placeholder Image" class="image" />
           <table class="table table-bordered">
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData">
                <td>{{ row.property }}</td>
                <td>{{ row.value }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Description</th>
                <th>Material Grade</th>
                <th>Unit</th>
                <th>Height Z axis</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData2">
                <td>{{ row.description }}</td>
                <td>{{ row.materialGrade }}</td>
                <td>{{ row.unit }}</td>
                <td>{{ row.heightZaxis }}</td>
              </tr>
            </tbody>
          </table>
          
          
          
    
      </div>
    </div>
    <!-- <img src="assets/diagram.jpg" alt="Placeholder Image" class="image1"/> -->

  </div>
  