<div class="container">
    <h1 class="heading"> Cost Details</h1>
    <h2 class="heading">VPI-EBU-Barracuda-India/China/USA-HOUSING,FLYWHEEL-6427371</h2>
  
    <div class="content">
      <div class="left-pane">
        <img src="assets/housing1.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing2.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing3.jpg" alt="Placeholder Image" class="image" />
        <img src="assets/housing4.jpg" alt="Placeholder Image" class="image" />
        <!-- <img src="assets/housing5.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing6.jpg" alt="Placeholder Image" class="image" /> -->
        <div class="image-row">
            <img src="assets/housing5.png" alt="Placeholder Image" class="image half-width" />
            <img src="assets/housing6.jpg" alt="Placeholder Image" class="image half-width" />
        </div>
        <img src="assets/housing7.png" alt="Placeholder Image" class="image" />
        <img src="assets/housing8.jpg" alt="Placeholder Image" class="image" />
        <img src="assets/housing9.jpg" alt="Placeholder Image" class="image" />
        <img src="assets/diagram1.jpg" alt="Placeholder Image" class="image"/>

      </div>
      
      <div class="right-pane">
        <!-- <img src="assets/table1.jpg" alt="Placeholder Image" class="image" /> -->
        <table class="table table-bordered part-details">
            <thead>
              <tr>
                <th>Particular</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HPDC</td>
                <td>$1,38,233</td>
              </tr>
              <tr>
                <td>Trimming Die</td>
                <td>$12,381</td>
              </tr>
              <tr>
                <td>VMC 3 no's</td>
                <td>$32,123</td>
              </tr>
              <tr>
                <td>HMC 1 no's</td>
                <td>$13,532</td>
              </tr>
              <tr>
                <td>Assembly fixture 2 no's</td>
                <td>$6,098</td>
              </tr>
              <tr>
                <td>Inspection fixture</td>
                <td>$4,878</td>
              </tr>
              <tr>
                <td>Leak test</td>
                <td>$6,098</td>
              </tr>
              <tr>
                <td><strong>Total Cost</strong></td>
                <td><strong>$2,13,343</strong></td>
              </tr>
            </tbody>
          </table>
          
          
          
        <table class="table table-bordered part-details">
            <thead>
              <tr>
                <th>Part Name</th>
                <th>Part Number</th>
                <th>Part Number Revision</th>
                <th>Model/Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HOUSING, FLYWHEEL</td>
                <td>6387726</td>
                <td>6389168 Finishing</td>
                <td>STP</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered part-information">
            <thead>
              <tr>
                <th colspan="4">Part Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Part Size (mm)</td>
                <td>608</td>
                <td>572</td>
                <td>160</td>
              </tr>
              <tr>
                <td>Aprox Mold Size (mm)</td>
                <td>1508</td>
                <td>1472</td>
                <td>800 </td>
              </tr>
              <tr>
                <td>Aprox Mold Weight (kg)</td>
                <td>11152</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Aprox M/c Tonnage (Tonne)</td>
                <td>3478</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered tool-material">
            <thead>
              <tr>
                <th>Tool Material</th>
                <th>Length (mm)</th>
                <th>width (mm)</th>
                <th>height (mm)</th>
                <th>Material Grade / Steel Mill Name</th>
                <th>kg</th>
                <th>Material Rate- USD / kg</th>
                <th>Amount USD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cavity</td>
                <td>908</td>
                <td>872</td>
                <td>230</td>
                <td>H13</td>
                <td>1430</td>
                <td>$9.1</td>
                <td>$13075</td>
              </tr>
              <tr>
                <td>Core</td>
                <td>908</td>
                <td>872</td>
                <td>230</td>
                <td>H13</td>
                <td>1430</td>
                <td>$9.1</td>
                <td>$13075</td>
              </tr>
              <tr>
                <td>Mould base</td>
                <td>1508</td>
                <td>1472</td>
                <td>520</td>
                <td>C45</td>
                <td>9932</td>
                <td>$1.5</td>
                <td>$15262</td>
              </tr>
              <tr>
                <td>Side Core</td>
                <td>300</td>
                <td>120</td>
                <td>150</td>
                <td>H13</td>
                <td>102</td>
                <td>$9.1</td>
                <td>$0</td>
              </tr>
              <tr>
                <td>Graphite / Copper</td>
                <td>300</td>
                <td>200</td>
                <td>120</td>
                <td>Graphite</td>
                <td>41</td>
                <td>$18.3</td>
                <td>$757</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7" style="text-align: center;">Material Cost Sub Total</td>
                <td>$42170</td>
              </tr>
            </tfoot>
          </table>
          <table class="table table-bordered standard-parts">
            <thead>
              <tr>
                <th>Standard</th>
                <th>Description</th>
                <th>QTY</th>
                <th>Rate</th>
                <th>Amount USD/CNY/INR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bought out parts / Standard parts</td>
                <td></td>
                <td></td>
                <td></td>
                <td>$8,434</td>
              </tr>
              <tr>
                <td>Quick Mold Change</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>HRS</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Coating</td>
                <td></td>
                <td>1,858</td>
                <td>$10</td>
                <td>$18,131</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" style="text-align: center;">Standard Parts Sub Total</td>
                <td>$26,565</td>
              </tr>
            </tfoot>
          </table>
          <table class="table table-bordered manufacturing-cost">
            <thead>
              <tr>
                <th>Manufacturing</th>
                <th>Description</th>
                <th>Aprox Hr</th>
                <th>Rate Per Hour- USD</th>
                <th>Amount USD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mould Design</td>
                <td>Catia/UG/Pro-E</td>
                <td>378</td>
                <td>$10</td>
                <td>$3,780</td>
              </tr>
              <tr>
                <td>MFA/CFD</td>
                <td>Moldflow Autocad</td>
                <td>48</td>
                <td>$10</td>
                <td>$480</td>
              </tr>
              <tr>
                <td>NC/CNC Programming</td>
                <td></td>
                <td>120</td>
                <td>$10</td>
                <td>$1,197</td>
              </tr>
              <tr>
                <td>Mold base Mfg.</td>
                <td>Standard or Manufactured?</td>
                <td>217</td>
                <td>$27</td>
                <td>$5,852</td>
              </tr>
              <tr>
                <td>Grinding / Conv</td>
                <td></td>
                <td>96</td>
                <td>$10</td>
                <td>$960</td>
              </tr>
              <tr>
                <td>Conv Mching</td>
                <td></td>
                <td>175</td>
                <td>$10</td>
                <td>$1,750</td>
              </tr>
              <tr>
                <td>WEDM</td>
                <td></td>
                <td>10</td>
                <td>$10</td>
                <td>$98</td>
              </tr>
              <tr>
                <td>EDM</td>
                <td></td>
                <td>224</td>
                <td>$10</td>
                <td>$2,237</td>
              </tr>
              <tr>
                <td>CNC</td>
                <td></td>
                <td>718</td>
                <td>$27</td>
                <td>$19,386</td>
              </tr>
              <tr>
                <td>Gun drilling</td>
                <td></td>
                <td>80</td>
                <td>$10</td>
                <td>$804</td>
              </tr>
              <tr>
                <td>Heat treatment</td>
                <td></td>
                <td>1,858</td>
                <td>$3</td>
                <td>$5,575</td>
              </tr>
              <tr>
                <td>Benchwork</td>
                <td></td>
                <td>279</td>
                <td>1$0</td>
                <td>$2,792</td>
              </tr>
              <tr>
                <td>Assy/ Spotting</td>
                <td>Die spotting press</td>
                <td>164</td>
                <td>$10</td>
                <td>$1,641</td>
              </tr>
              <tr>
                <td>Polishing</td>
                <td></td>
                <td>290</td>
                <td>$10</td>
                <td>$2,902</td>
              </tr>
              <tr>
                <td>Texturing</td>
                <td></td>
                <td></td>
                <td>$10</td>
                <td></td>
              </tr>
              <tr>
                <td>CMM</td>
                <td></td>
                <td>48</td>
                <td>$14</td>
                <td>$672</td>
              </tr>
              <tr>
                <td>Tryout</td>
                <td></td>
                <td>96</td>
                <td>$14</td>
                <td>$1,344</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4"style="text-align:center">Manufacturing Cost Sub Total</td>
                <td>$51,469</td>
              </tr>
            </tfoot>
          </table>
            <table class="custom-table table-bordered table-striped">
              <thead>
                <!-- Main header row -->
                <tr>
                  <th colspan="11" style="text-align: center; font-weight: bold; background-color: #da291c ;color: #fff;">Machine Fixture's</th>
                </tr>
                <!-- Row with Part1 and Part2 headers on the same line -->
                <tr>
                  <th colspan="5" style="text-align: center;">Part Information</th> <!-- Spans 4 columns -->
                  <td style="width: 60px; border:0px;"> </td>
                  <th colspan="5" style="text-align: center;">Part Information</th> <!-- Spans 4 columns -->
                </tr>
              </thead>
              <tbody>
                <!-- Row below Part1 with 4 columns -->
                <tr>
                  <th>Part Size (mm)</th>
                  <td>608</td>
                  <td>572</td>
                  <td>160</td>
                  <td></td>
           
                  <td></td>
           
                  <th>Part Size (mm)</th>
                  <td>608</td>
                  <td>572</td>
                  <td>160</td>
                  <td></td>
                </tr>
                <tr>
                  <th></th>
                  <td>1008</td>
                  <td>872</td>
                  <td>70</td>
                  <td></td>
           
                  <td></td>
           
                  <th></th>
                  <td>1008</td>
                  <td>872</td>
                  <td>70</td>
                  <td></td>
                </tr>
                <tr>
                  <th style="text-align: center;">VMC</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
           
                  <td></td>
           
                  <th style="text-align: center;">HMC</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th></th>
                  <td>Size</td>
                  <td>Material</td>
                  <td>Wt</td>
                  <td>Rate</td>
           
                  <td></td>
           
                  <th></th>
                  <td>Size</td>
                  <td>Material</td>
                  <td>Wt</td>
                  <td>Rate</td>
                </tr>
                <tr>
                  <th>Base Plate</th>
                  <td>1050x950x70</td>
                  <td>C-45</td>
                  <td>483</td>
                  <td>77280</td>
           
                  <td></td>
           
                  <th>Base Plate</th>
                  <td>1166x508x70</td>
                  <td>C-45</td>
                  <td>483</td>
                  <td>77280</td>
                </tr>
                <tr>
                  <th>Face Holder Plate</th>
                  <td></td>
                  <td>C-45</td>
                  <td></td>
                  <td>0</td>
           
                  <td></td>
           
                  <th>Face Holder Plate</th>
                  <td>1166x508x70</td>
                  <td>C-45</td>
                  <td>966</td>
                  <td>154559</td>
                </tr>
                <tr>
                  <th>Hyd Clamps</th>
                  <td>550</td>
                  <td>3</td>
                  <td></td>
                  <td>135300</td>
           
                  <td></td>
           
                  <th>Hyd Clamps</th>
                  <td>550</td>
                  <td>3</td>
                  <td></td>
                  <td>135300</td>
                </tr>
                <tr>
                  <th>Resting Pads & Arm Clamps</th>
                  <td>250</td>
                  <td>3</td>
                  <td></td>
                  <td>61500</td>
           
                  <td></td>
           
                  <th>Resting Pads & Arm Clamps</th>
                  <td>250</td>
                  <td>3</td>
                  <td></td>
                  <td>61500</td>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>0</td>
           
                  <td></td>
           
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>0</td>
                </tr>
                <tr>
                  <th>Design & camp Path</th>
                  <td>120</td>
                  <td></td>
                  <td>650</td>
                  <td>78000</td>
           
                  <td></td>
           
                  <th>Design & camp Path</th>
                  <td>112</td>
                  <td></td>
                  <td>650</td>
                  <td>72800</td>
                </tr>
                <tr>
                  <th>Machining</th>
                  <td>80</td>
                  <td></td>
                  <td>800</td>
                  <td>64000</td>
           
                  <td></td>
           
                  <th>Machining</th>
                  <td>96</td>
                  <td></td>
                  <td>800</td>
                  <td>76800</td>
                </tr>
                <tr>
                  <th>Bench Work</th>
                  <td>96</td>
                  <td></td>
                  <td>650</td>
                  <td>62400</td>
           
                  <td></td>
           
                  <th>Bench Work</th>
                  <td>96</td>
                  <td></td>
                  <td>650</td>
                  <td>62400</td>
                </tr>
                <tr>
                  <th>Drilling</th>
                  <td>80</td>
                  <td></td>
                  <td>650</td>
                  <td>52000</td>
           
                  <td></td>
           
                  <th>Drilling</th>
                  <td>80</td>
                  <td></td>
                  <td>650</td>
                  <td>52000</td>
                </tr>
                <tr>
                  <th>Manifold Plate</th>
                  <td>300*300*80</td>
                  <td></td>
                  <td>57</td>
                  <td>6217</td>
           
                  <td></td>
           
                  <th>Manifold Plate</th>
                  <td>300*300*80</td>
                  <td></td>
                  <td>57</td>
                  <td>6217</td>
                </tr>
                <tr>
                  <th>Assembly</th>
                  <td>80</td>
                  <td></td>
                  <td>650</td>
                  <td>52000</td>
           
                  <td></td>
           
                  <th>Assembly</th>
                  <td>80</td>
                  <td></td>
                  <td>650</td>
                  <td>52000</td>
                </tr>
                <tr>
                  <th>Tryout</th>
                  <td>24</td>
                  <td></td>
                  <td>4200</td>
                  <td>100800</td>
           
                  <td></td>
           
                  <th>Tryout</th>
                  <td>24</td>
                  <td></td>
                  <td>4200</td>
                  <td>100800</td>
                </tr>
                <tr>
                  <th>CMM</th>
                  <td>24</td>
                  <td></td>
                  <td>1000</td>
                  <td>24000</td>
           
                  <td></td>
           
                  <th>CMM</th>
                  <td>24</td>
                  <td></td>
                  <td>1000</td>
                  <td>24000</td>
                </tr>
                <tr>
                  <th>Surface Finish</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>8694</td>
           
                  <td></td>
           
                  <th>Surface Finish</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>26082</td>
                </tr>
                <tr>
                  <th>BOF</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>54816</td>
           
                  <td></td>
           
                  <th>BOF</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>85728</td>
                </tr>
                <tr>
                  <th>SG&A 5%</th>
                  <td></td>
                  <td></td>
                  <td>5</td>
                  <td>38850</td>
           
                  <td></td>
           
                  <th>SG&A 5%</th>
                  <td></td>
                  <td></td>
                  <td>5</td>
                  <td>49373</td>
                </tr>
                <tr>
                  <th>Profit 8%</th>
                  <td></td>
                  <td></td>
                  <td>8</td>
                  <td>62161</td>
           
                  <td></td>
           
                  <th>Profit 8%</th>
                  <td></td>
                  <td></td>
                  <td>8</td>
                  <td>72815</td>
                </tr>
                <tr>
                  <th>Total Cost</th>
                  <td></td>
                  <td></td>
                  <td style="font-weight: bold;">INR</td>
                  <td style="font-weight: bold;">878017</td>
           
                  <td></td>
           
                  <th>Total Cost</th>
                  <td></td>
                  <td></td>
                  <td style="font-weight: bold;">INR</td>
                  <td style="font-weight: bold;">1109654</td>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td style="font-weight: bold;">USD</td>
                  <td style="font-weight: bold;">10708</td>
           
                  <td></td>
           
                  <th></th>
                  <td></td>
                  <td></td>
                  <td style="font-weight: bold;">USD</td>
                  <td style="font-weight: bold;">13532</td>
                </tr>
           
           
           
              </tbody>
            </table>
            <table class="table table-bordered part-details">
                <thead>
                  <tr>
                    <th>Logistics</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Packaging</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Transportation</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>Logistics Cost Sub total</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Over Heads</td>
                    <td>5%</td>
                    <td>$6,010</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Profits</td>
                    <td>10% </td>
                    <td>$12,020</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Duties/Taxes</td>
                    <td>%</td>
                    <td>$</td>
                  </tr>
                  <tr>
                   
                    <td></td>
                    <td><strong>Total cost Mould</strong></td>
                    <td>USD</td>
                    <td><strong> $138,233</strong></td>
                  </tr>
                </tbody>
              </table>

           <!-- <img src="assets/table4.jpg" alt="Placeholder Image" class="image" /> -->
           <!-- <img src="assets/table5.jpg" alt="Placeholder Image" class="image" /> -->
           <table class="table table-bordered">
            <thead>
              <tr>
                <th>Particular</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData">
                <td>{{ row.property }}</td>
                <td>{{ row.value }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Description</th>
                <th>Material Grade</th>
                <th>Unit</th>
                <th>Height Z axis</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData2">
                <td>{{ row.description }}</td>
                <td>{{ row.materialGrade }}</td>
                <td>{{ row.unit }}</td>
                <td>{{ row.heightZaxis }}</td>
              </tr>
            </tbody>
          </table>
          
          
          
    
      </div>
    </div>
    <!-- <img src="assets/diagram.jpg" alt="Placeholder Image" class="image1"/> -->

  </div>
  