<div class="main-container">
    <h1 class="main-heading">Design for Manufacturing, Assembly & Cost</h1>

    <div class="row">
        <div class="col-md-12 text-center">
            <label class="sub-heading">Create a Design Package in 4 Simple Steps!!</label>
        </div>
    </div>

    <div class="row" style="width: 100%; ">
        <div class="col-md-3">
            <div class="step-container1">
                <div class="step11"></div>
                <div class="step1">
                    <span class="step-text1">STEP 01</span>
                </div>
            </div>
            <br>
            <div class="chat-bubble1">
                <div class="line1"></div>
                <div class="step1Text">
                    <img src="../../../../assets/DTO/search-icon.png" class="step-icon">
                    <h5>Pick up a Base Model</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="step-container2">
                <div class="step22"></div>
                <div class="step2">
                    <span class="step-text2">STEP 02</span>
                </div>
            </div>
            <br>
            <div class="chat-bubble2">
                <div class="line2"></div>
                <div class="step1Text">
                    <img src="../../../../assets/DTO/process.png" class="step-icon">
                    <h5>Optimize Material and Process</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="step-container3">
                <div class="step33"></div>
                <div class="step3">
                    <span class="step-text3">STEP 03</span>
                </div>
            </div>
            <br>
            <div class="chat-bubble3">
                <div class="line3"></div>
                <div class="step1Text">
                    <img src="../../../../assets/DTO/salary.png" class="step-icon">
                    <h5>Pick up or Add VAVE Ideas to Optimize the cost</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-container4">
                <div class="step44"></div>
                <div class="step4">
                    <span class="step-text4">STEP 04</span>
                </div>
            </div>
            <br>
            <div class="chat-bubble4">
                <div class="line4"></div>
                <div class="step1Text">
                    <img src="../../../../assets/DTO/add-document.png" class="step-icon">
                    <h5>Review outcome & share CAD/Print if required</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="start-button" (click)="Step1()">Let's Start !</button>
        </div>
    </div>

    <!-- 
    <div class="steps-container">
        <div class="step-block">
            <div class="step-arrow step1">STEP 01</div>
            <div class="step-card">
                <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" class="step-icon" />
                <h3>Pick up a Base Model</h3>
            </div>
        </div>
        <div class="step-block">
            <div class="step-arrow step2">STEP 02</div>
            <div class="step-card">
                <img src="https://cdn-icons-png.flaticon.com/512/4149/4149678.png" alt="Process Flow Icon"
                    class="step-icon" />
                <h3>Optimize Material Process</h3>
            </div>
        </div>
        <div class="step-block">
            <div class="step-arrow step3">STEP 03</div>
            <div class="step-card">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135706.png" alt="Salary Icon"
                    class="step-icon" />
                <h3>Pickup or Add VAVE Ideas to Optimize Cost Driver</h3>
            </div>
        </div>
        <div class="step-block">
            <div class="step-arrow step4">STEP 04</div>
            <div class="step-card">
                <img src="https://cdn-icons-png.flaticon.com/512/7727/7727282.png" alt="Add Document Icon"
                    class="step-icon" />
                <h3>Create & Send CAD/Print</h3>
            </div>
        </div>
    </div> -->

</div>