<div class="container-fluid maxheight">
    <div class="row searchbox">
        <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
            [fullScreen]="true">
            <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../assets/Spin-2.gif" />
        </ngx-spinner>

        <div class="fixsubheader">
            <div class="MasterHeader">
                <div style="width: 20%;">
                    <h2>Design to Cost</h2>
                </div>
                <div style="width: 60%;">
                    <div class="DTO_steps">
                        <p class="DTO_step1"> <span> Step 1 </span> <br>
                            Pick up a Base Model
                        </p>
                        <span class="DTO_connect1_2">
                            <i class="bi bi-arrow-right gradient-icon"></i>
                        </span>
                        <p class="DTO_step2"><span> Step 2 </span> <br>
                            Optimize Material and Process
                        </p>
                        <span class="DTO_connect1_2">
                            <i class="bi bi-arrow-right gradient-icon2"></i>
                        </span>
                        <p class="DTO_step3"><span> Step 3 </span> <br>
                            Pickup or Add VAVE Ideas to Optimize the cost
                        </p>
                        <span class="DTO_connect1_2">
                            <i class="bi bi-arrow-right gradient-icon3"></i>
                        </span>
                        <p class="DTO_step4"><span> Step 4 </span> <br>
                            Review outcome & share CAD/Print if required
                        </p>
                    </div>
                </div>
                <div style="width: 20%; text-align: center; align-items: center;">
                    <input type="button" class="btnback" value="back" Name="back" (click)="backToPreviousPage()">
                </div>
            </div>
        </div>



        <div class="step1_00" id="step1">

            <div class="row hellouser text-center" id="hellouser">
                <h4>Hello <span class="userfullname">{{userfullname}}</span>, what would you like to design today?</h4>
                <div class="col-md-3"></div>
                <div class="col-md-6 text-start">
                    <label for="dropdown5" class="default-lbl">Part Name</label>
                    <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true" (change)="getPartName()"
                        [(ngModel)]='selectedPartName' placeholder="Please select">
                        <ng-option *ngFor="let item of PartName" [value]="item.partName">
                            {{item.partName}}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="col-md-3"></div>
                <div class="row  text-start additionalconstraint_none" id="additionalconstraint">
                    <h6>Please specify additional constraints</h6>
                    <div class="col-md-3">
                        <label for="dropdown5" class="default-lbl">Platform</label>
                        <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true" [multiple]="true"
                            [(ngModel)]='selectedPlatform' placeholder="Please select">
                            <ng-option *ngFor="let item of PlatformList" style="font-size: 12px;"
                                [value]="item.plat_form">{{item.plat_form}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-3">
                        <label for="dropdown5" class="default-lbl">Engine Displacement</label>
                        <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true" [multiple]="true"
                            [(ngModel)]='selectedEngineDisplacement' placeholder="Please select">
                            <ng-option *ngFor="let item of EngineDisplacementList"
                                [value]="item.edId">{{item.engineDisplacement}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-3">
                        <label for="dropdown5" class="default-lbl">Material Name</label>
                        <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true"
                            [(ngModel)]='selectedMaterialGrade' placeholder="Please select">
                            <ng-option *ngFor="let item of MaterialGradeList"
                                [value]="item.materialGrade">{{item.materialGrade}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-3">
                        <label for="dropdown5" class="default-lbl">Process Name</label>
                        <ng-select [ngModelOptions]="{standalone: true}" [searchable]="true"
                            [(ngModel)]='selectedHighProcess' placeholder="Please select">
                            <ng-option *ngFor="let item of HighLevelProcessList"
                                [value]="item.highLevelProcess">{{item.highLevelProcess}}</ng-option>
                        </ng-select>
                    </div>

                    <div class="text-center">
                        <input type="button" class="btnview" value="View" Name="View" (click)="ViewDataOnSelection()">
                    </div>
                </div>
            </div>



        </div>

        <!-- Filters Start -->

        <div class="col-md-3 border-bottom position-fixed Id_Filters_hide0" id="Id_Filters">
            <form [formGroup]="SearchboxForm" id="Id_Filtersform">
                <div class="col-md-12 ">
                    <div class="filtername">
                        <div class="row font-size">
                            <div class="col-md-6 ">
                                <label id="clearFilter">Filters</label>
                            </div>
                            <div class="col-md-6 text-end">
                                <label (click)="clearFilter(1)" id="clearFilterall"
                                    title="Clear All Selection & Text">Reset
                                    All</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row font-size" style="margin-top: 20px;">
                    <!-- <div class="col-md-12 "> -->
                    <div class="col-md-6 ">
                        <label id="clearFilter">Category 2</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearCategory2()" id="clearFilterall"
                            title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">
                        <div class="scrollbarsearchcat2">

                            <input #Cat2Search formControlName="Cat2search" placeholder="Search Category 2"
                                id="Cat2Search" (keyup)="SearchCat('Cat2Search','Cat2UL')" class="filter_input_Search">
                            <img src="../../../assets/closed.png" class="closedCat2Text" (click)="cleartext2('Cat2UL')"
                                title="Clear Text">

                            <ul #cat2 class="UL_List" id="Cat2UL">
                                <li *ngFor="let g of Catlist2">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat2list" class="checkboxsize"
                                            (change)="getCategoryIdcat2()" formControlName="cat2checkbox"
                                            value="{{g.value}}" [(ngModel)]="g.selected" />
                                        {{g.text}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row font-size">
                    <div class="col-md-6  ">
                        <label id="clearFilter">Category 3</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearCategory3()" id="clearFilterall"
                            title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">

                        <div class=" scrollbarsearchcat3">
                            <input #Cat3Search formControlName="Cat3Search" placeholder="Search Category 3"
                                id="Cat3Search" (keyup)="SearchCat('Cat3Search','Cat3UL')" class="filter_input_Search">

                            <img src="../../../assets/closed.png" class="closedCat2Text" (click)="cleartext3('Cat3UL')"
                                title="Clear Text">

                            <ul #cat2 class="UL_List" id="Cat3UL">
                                <li *ngFor="let g of Catlist3">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat3list" class="checkboxsize"
                                            (change)="getCategoryIdcat3()" formControlName="cat3checkbox"
                                            value="{{g.value}}" [(ngModel)]="g.selected" />
                                        {{g.text}}</label>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row font-size">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Category 4</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearCategory4()" id="clearFilterall"
                            title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">

                        <div class="scrollbarsearchcat4">
                            <input #Cat4Search formControlName="Cat4Search" placeholder="Search Category 4"
                                id="Cat4Search" (keyup)="SearchCat('Cat4Search','Cat4UL')" class="filter_input_Search">

                            <img src="../../../assets/closed.png" class="closedCat2Text" (click)="cleartext4('Cat4UL')"
                                title="Clear Text">

                            <ul class="UL_List" id="Cat4UL">
                                <li *ngFor="let g of Catlist4">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat3list" class="checkboxsize"
                                            (change)="getCategoryIdcat4()" formControlName="cat4checkbox"
                                            value="{{g.value}}" [(ngModel)]="g.selected" />
                                        {{g.text}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row font-size" [hidden]="IsHideBusinessUnit">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Business Unit</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearBusinessUnit()" id="clearFilterall"
                            title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">

                        <div class="scrollbarsearchcat4">
                            <input #BusinessUnitSearch formControlName="BusinessUnitsearch"
                                placeholder="Search Business Unit" id="BusinessUnitSearch"
                                (keyup)="SearchCat('BusinessUnitSearch','BusinessUnitUL')" class="filter_input_Search">

                            <img src="../../../assets/closed.png" class="closedCat2Text"
                                (click)="cleartextBusinessUnit('BusinessUnitUL')" title="Clear Text">

                            <ul class="UL_List" id="BusinessUnitUL">
                                <li *ngFor="let g of BusinessUnit" class="BUdisabled">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat3list" class="checkboxsize"
                                            (change)="getBusinessUnitValues()" formControlName="BusinessUnitcheckbox"
                                            value="{{g.value}}" [(ngModel)]="g.selected" id={{g.value}} />
                                        {{g.text}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row font-size">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Location</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearLocation()" id="clearFilterall"
                            title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">

                        <div class="scrollbarsearchcat4">

                            <input #LocationSearch formControlName="LocationSearch" placeholder="Search Location"
                                id="LocationSearch" (keyup)="SearchCat('LocationSearch','LocationUL')"
                                class="filter_input_Search">

                            <img src="../../../assets/closed.png" class="closedCat2Text"
                                (click)="cleartextLocation('LocationUL')" title="Clear Text">

                            <ul class="UL_List" id="LocationUL">
                                <li *ngFor="let g of Location">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat3list" class="checkboxsize"
                                            (change)="getLocationName()" formControlName="Locationcheckbox"
                                            value="{{g.value}}" [(ngModel)]="g.selected" />
                                        {{g.text}}</label>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row font-size">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Program Name</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearProgramName()" id="clearFilterall"
                            title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">

                        <div class=" scrollbarsearchcat3">
                            <input #ProgramNameSearch formControlName="ProgramNameSearch"
                                placeholder="Search Program Name" id="ProgramnameSearch"
                                (keyup)="SearchCat('ProgramnameSearch','ProgramnameUL')" class="filter_input_Search">

                            <img src="../../../assets/closed.png" class="closedCat2Text"
                                (click)="cleartextProgrmaname('ProgramnameUL')" title="Clear Text">

                            <ul #cat2 class="UL_List" id="ProgramnameUL">
                                <li *ngFor="let g of ProgramNameList">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat3list" class="checkboxsize"
                                            (change)="getProgramNamelist()" formControlName="ProgramNamecheckbox"
                                            value="{{g.programName}}" [(ngModel)]="g.selected" />
                                        {{g.programName}}</label>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="row font-size">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Debrief Date</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearDate()" id="clearFilterall" title="Clear Debrief Date">Clear</label>
                    </div>
                    <div class="dateBorder">
                        <div style="width:50%">
                            <label class="form-label">From</label>
                            <input type="date" id="FromDate" class="form-control font-size datecolor"
                                formControlName="FromDate" [(ngModel)]="DebriefFrom_Date" (change)="DebriefFilter()">
                        </div>
                        <div style="width:50%">
                            <label style="margin-left: 5px;" class="form-label">To</label>
                            <input style="margin-left: 5px;" type="date" id="ToDate"
                                class="form-control font-size datecolor" formControlName="ToDate"
                                (change)="DebriefFilter()" [(ngModel)]="DebriefTo_Date">
                        </div>
                    </div>
                </div>

                <div class="row font-size">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Should Cost ($)</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearShouldCost()" id="clearFilterall" title="Clear Should Cost">Clear</label>
                    </div>
                    <div class="dateBorder">
                        <div style="width:50%">
                            <label class="form-label">From</label>
                            <input type="text" id="FromShouldCost" class="form-control" formControlName="FromShouldCost"
                                [(ngModel)]="FromShouldCost" (keypress)="keyPressDecimal($event)"
                                (keyup)="ShouldCostFilter()" maxlength="10">
                        </div>
                        <div style="width:50%">
                            <label style="margin-left: 5px;" class="form-label">To</label>
                            <input style="margin-left: 5px;" type="text" id="ToShouldCost" class="form-control"
                                formControlName="ToShouldCost" (keypress)="keyPressDecimal($event)"
                                [(ngModel)]="ToShouldCost" (keyup)="ShouldCostFilter()" maxlength="10">
                        </div>
                    </div>
                </div>

                <div class="row font-size">
                    <div class="col-md-9">
                        <label id="clearFilter">Finish Weight</label>
                        <input type="radio" name="dolleroptions" id="doller" value="doller" class="radiodoller"
                            (click)="getFifnishWeightKG($event)" style="margin-left: 20px;" checked>
                        <label class="form-check-label" for="inlineRadio1" style="margin-left: 2px;">Kg</label>

                        <input type="radio" name="dolleroptions" id="pounds" value="pounds" class="radiopounds"
                            (click)="getFifnishWeightKG($event)" style="margin-left: 15px;">
                        <label class="form-check-label" for="inlineRadio2" style="margin-left: 2px;">Lbs</label>

                    </div>
                    <div class="col-md-3 text-end">
                        <label (click)="clearWeight()" id="clearFilterall" title="Clear Finish Weight">Clear</label>
                    </div>
                    <div class="dateBorder">
                        <div style="width:50%">
                            <label class="form-label">From</label>
                            <input type="text" id="FromFinishWeight" class="form-control"
                                formControlName="FromFinishWeight" [(ngModel)]="FromFinishWeight"
                                (keyup)="WeightFilter()" (keypress)="keyPressDecimal($event)" maxlength="10">
                        </div>
                        <div style="width:50%">
                            <label style="margin-left: 5px;" class="form-label">To</label>
                            <input style="margin-left: 5px;" type="text" id="ToFinishWeight" class="form-control"
                                formControlName="ToFinishWeight" [(ngModel)]="ToFinishWeight" (keyup)="WeightFilter()"
                                (keypress)="keyPressDecimal($event)" maxlength="10">
                        </div>
                    </div>
                </div>

                <div class="row font-size">
                    <div class="col-md-6 ">
                        <label id="clearFilter">Engine Displacement</label>
                    </div>
                    <div class="col-md-6 text-end">
                        <label (click)="clearEngine()" id="clearFilterall" title="Clear Selection & Text">Clear</label>
                    </div>
                    <div class="col-md-12 ">

                        <div class="scrollbarsearchcat4">
                            <input #EngineSearch formControlName="EngineSearch" placeholder="Search Engine Displacement"
                                id="EngineSearch" (keyup)="SearchCat('EngineSearch','EngineUL')"
                                class="filter_input_Search">

                            <img src="../../../assets/closed.png" class="closedCat2Text"
                                (click)="cleartextEngine('EngineUL')" title="Clear Text">

                            <ul class="UL_List" id="EngineUL">
                                <li *ngFor="let g of EngineList">
                                    <label style="display: block;">
                                        <input type="checkbox" name="cat3list" class="checkboxsize"
                                            (change)="getEnginelist()" formControlName="Enginecheckbox"
                                            value="{{g.value}}" [(ngModel)]="g.selected" />
                                        {{g.text}}</label>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <br>

            </form>
        </div>
        <!-- Filters End -->

        <div [hidden]="IsDatahidden" class="col-md-9" id="SearchFiltersdiv">

            <div class="row ModelFound" id="ModelFound">
                <div class="col-md-3 text-end"></div>
                <div class="col-md-6 text-center">
                    <label style="font-size: 14px;">We found "<b>{{ModelCount}}</b>" models for your search. <br>
                        <span style="font-style: italic;" [hidden]="ModelCount<100">"You can apply filters on left side
                            or enter specific part numbers" </span>
                    </label>
                </div>
                <div class="col-md-3 text-end">
                    <select [hidden]="ModelFound" name="sortingmodels" id="sortingmodels" (change)="FilterSearchData()"
                        [(ngModel)]='SortSearchData'>
                        <option value='0' class="sortingoption">Select Sorting... </option>
                        <option value='1' class="sortingoption">Debrief Date : Oldest to Newest </option>
                        <option value='2' class="sortingoption">Debrief Date : Newest to Oldest </option>

                        <option value='3' class="sortingoption">Manufacturing Location : by A-Z</option>
                        <option value='4' class="sortingoption">Manufacturing Location : by Z-A</option>

                        <option value='5' class="sortingoption">Tooling Cost : Low to High</option>
                        <option value='6' class="sortingoption">Tooling Cost : High to Low</option>

                        <option value='7' class="sortingoption">Should Cost : Low to High</option>
                        <option value='8' class="sortingoption">Should Cost : High to Low</option>
                    </select>
                </div>
                <!-- <div class="col-md-2 text-end">
                    <input type="button" class="btnback" value="back" Name="back" (click)="ViewDataOnSelection()">
                </div> -->

            </div>


            <div class="row setOpacity" id="SearchFilters">
                <div *ngFor="let t of SearchList  | paginate: { itemsPerPage: 100, currentPage: page }"
                    class="prodDetails">
                    <div class="prdImgDesc" (click)="getShouldeCost(t)">

                        <img *ngIf="t.imagePath == '' else multi" src="assets/No-Image.png" class="prdIcon"
                            style="width: 100%; height: 150px;">
                        <ng-template #multi>
                            <img src="{{t.imagePath}}" class="prdIcon" style="width: 100%; height: 150px;">
                        </ng-template>

                    </div>

                    <div class="prdDescription" (click)="getShouldeCost(t)">
                        <label id="PartNumber">{{ChekNull(t.partNumber)}}</label><br>
                        <label id="PartName">{{ChekNull(t.partName)}}</label><br>
                        <label id="programName">{{ChekNull(t.programName)}}</label><br>

                        <div class="labless">
                            <label class="labletest">Debrief Date : <b>{{ChekNull(t.debriefDateFormated)}}</b></label>
                            <label class="labletest">Business Unit : <b>{{ChekNull(t.businessUnit)}}</b></label>
                        </div>

                        <div class="prdDescription_div1">
                            <label id="AnnualVolume"> <b>{{ChekNull(t.mfgRegion)}} </b> <br> Location </label>
                        </div>
                        <div class="prdDescription_div2">
                            <label id="AnnualVolume"> <b>{{ChekNull(t.totalCost | number:'1.2-2')}} </b> <br> Should
                                Cost ($)
                            </label>
                        </div>
                        <div class="prdDescription_div3">
                            <label id="AnnualVolume"> <b>{{ChekNull(t.toolingCostModeller | number:'1.2-2')}}</b> <br>
                                Tooling
                                Cost ($)</label>
                        </div>
                        <div class="prdDescription_div4">
                            <label id="AnnualVolume"> <b>{{ChekNull('B-10L')}} </b> </label>
                        </div>
                        <div class="prdDescription_div5">
                            <label id="AnnualVolume"> <b>{{ChekNull('AL')}} </b> </label>
                        </div>
                        <div class="prdDescription_div6">
                            <label id="AnnualVolume"> <b>{{ChekNull('HPDC')}}</b> </label>
                        </div>
                    </div>
                    <div>
                        <input #Comparecheckbox class="form-check-input" type="checkbox" class="SearchCheckbox"
                            id="{{t.csHeaderId}}" (click)="getPartId(t,'M')" title="Select for Compate">
                    </div>
                    <div>
                        <img src="../../../assets/PDFIcon.png" class="PDFIcon" title="Download PDF"
                            (click)="DownloadPDF(t)">
                    </div>
                </div>

                <div class="d-flex justify-content-between p-2 pagination" *ngIf="ModelCount > 0">
                    <ngb-pagination [collectionSize]="this.ModelCount" [(page)]="page" [pageSize]="pageSize"
                        [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
                    <br>
                </div>
            </div>

            <!-- ---- Compare models ------- -->
            <div (click)="ShowSimulatedPopup()" class="comparerightPanel" id="comparerightPanel">
                Compare
            </div>

            <div class="compareBottomPanelhide" id="compareBottomPanel">
                <div class="part">

                    <div [hidden]="compareIdArraylength >= 1" (click)="ShowSimulatedPopup()" class="clicltoaddmodels">
                        <div>
                            <img src="../../../assets/costimg.png" style="width: 40px; height: 40px;">
                        </div>
                        <div>Select Simulated Model</div>
                    </div>
                    <div *ngIf="compareIdArraylength >= 1">
                        <label class="modal-close-icn1" (click)="RemoveModelfromCompare(this.compareIdArray,0)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <img *ngIf="this.compareIdArray[0].imagePath == '' else imgavailable" src="assets/No-Image.png"
                            class="prdIcon" style="width: 50px; height: 50px;">
                        <ng-template #imgavailable>
                            <img src="{{this.compareIdArray[0].imagePath}}" class="prdIcon"
                                style="width: 50px; height: 50px;">
                        </ng-template>
                        <br>
                        <div class="part1div">
                            {{this.compareIdArray[0].uniqueId}} <br>
                            {{this.compareIdArray[0].partNumber}} <br>
                            {{this.compareIdArray[0].partName}}
                        </div>
                    </div>

                </div>
                <span class="VS">VS</span>

                <div class="part">
                    <div [hidden]="compareIdArraylength >= 2" (click)="ShowSimulatedPopup()" class="clicltoaddmodels">
                        <div>
                            <img src="../../../assets/costimg.png" style="width: 40px; height: 40px;">
                        </div>
                        <div>Select Simulated Model</div>
                    </div>
                    <div *ngIf="compareIdArraylength >= 2">
                        <label class="modal-close-icn2" (click)="RemoveModelfromCompare(this.compareIdArray,1)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <img *ngIf="this.compareIdArray[1].imagePath == '' else imgavailable" src="assets/No-Image.png"
                            class="prdIcon" style="width: 50px; height: 50px;">
                        <ng-template #imgavailable>
                            <img src="{{this.compareIdArray[1].imagePath}}" class="prdIcon"
                                style="width: 50px; height: 50px;">
                        </ng-template>
                        <br>
                        <div class="part1div">
                            {{this.compareIdArray[1].uniqueId}} <br>
                            {{this.compareIdArray[1].partNumber}} <br>
                            {{this.compareIdArray[1].partName}}
                        </div>
                    </div>
                </div>
                <span class="VS1">VS</span>

                <div class="part">
                    <div [hidden]="compareIdArraylength >= 3" (click)="ShowSimulatedPopup()" class="clicltoaddmodels">
                        <div>
                            <img src="../../../assets/costimg.png" style="width: 40px; height: 40px;">
                        </div>
                        <div>Select Simulated Model</div>
                    </div>
                    <div *ngIf="compareIdArraylength >= 3">
                        <label class="modal-close-icn3" (click)="RemoveModelfromCompare(this.compareIdArray,2)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <img *ngIf="this.compareIdArray[2].imagePath == '' else imgavailable" src="assets/No-Image.png"
                            class="prdIcon" style="width: 50px; height: 50px;">
                        <ng-template #imgavailable>
                            <img src="{{this.compareIdArray[2].imagePath}}" class="prdIcon"
                                style="width: 50px; height: 50px;">
                        </ng-template>
                        <br>
                        <div class="part1div">
                            {{this.compareIdArray[2].uniqueId}} <br>
                            {{this.compareIdArray[2].partNumber}} <br>
                            {{this.compareIdArray[2].partName}}
                        </div>
                    </div>
                </div>
                <span class="VS2">VS</span>

                <div class="part">
                    <div [hidden]="compareIdArraylength >= 4" (click)="ShowSimulatedPopup()" class="clicltoaddmodels">
                        <div>
                            <img src="../../../assets/costimg.png" style="width: 40px; height: 40px;">
                        </div>
                        <div>Select Simulated Model</div>
                    </div>
                    <div *ngIf="compareIdArraylength >= 4">
                        <label class="modal-close-icn4" (click)="RemoveModelfromCompare(this.compareIdArray,3)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <img *ngIf="this.compareIdArray[3].imagePath == '' else imgavailable" src="assets/No-Image.png"
                            class="prdIcon" style="width: 50px; height: 50px;">
                        <ng-template #imgavailable>
                            <img src="{{this.compareIdArray[3].imagePath}}" class="prdIcon"
                                style="width: 50px; height: 50px;">
                        </ng-template>
                        <br>
                        <div class="part1div">
                            {{this.compareIdArray[3].uniqueId}} <br>
                            {{this.compareIdArray[3].partNumber}} <br>
                            {{this.compareIdArray[3].partName}}
                        </div>
                    </div>
                </div>
                <div class="part closecompare  align-items-center justify-content-center">

                    <input type="button" class="btn btn-primary btncompareN btnpopup" (click)="getComparison()"
                        value="Compare" Name="Compare"> <br>
                    <button type="button" class="btn btn-outline-dark  btn-save btnpopup" style="margin-top: 10px;"
                        (click)="CloseComparePopup()">Cancel</button>

                </div>
            </div>


            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaySimulatedPopup}">
                <div class="modelsize" role="document">
                    <div class="modal-content">
                        <form [formGroup]="SearchSilulatedForm">
                            <div class="modal-header">
                                <h3 class="modal-title">Select Simulated Model</h3>
                                <div class="form-group has-search" style="width: 50%; margin-left: 100px; ">
                                    <span class="bi bi-search form-control-feedback"></span>
                                    <input type="text" class="form-control search-input" placeholder="Search"
                                        formControlName="textsearch" [(ngModel)]="textsearch">
                                </div>
                                <label class="close modal-close-icn" (click)="onCloseHandled_Popup()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000"
                                        class="bi bi-x" viewBox="0 0 16 16">
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </label>
                            </div>
                            <div class="SimulatedTable">
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th class="simulatedheader" style="width: 20px;">Sr. No</th>
                                            <th class="simulatedheader">Action</th>
                                            <th class="simulatedheader">Part Image</th>
                                            <th class="simulatedheader" style="width: 100px;">Part Number</th>
                                            <th class="simulatedheader" style="width: 150px;">Part Name</th>
                                            <th class="simulatedheader" style="width: 100px;">Program Name</th>
                                            <th class="simulatedheader">Debrief Date</th>
                                            <th class="simulatedheader">Total Cost ($)</th>
                                            <th class="simulatedheader">Simulated Cost ($)</th>
                                            <th class="simulatedheader">Simulated Date</th>
                                            <th class="simulatedheader" hidden>csHeaderId</th>
                                            <th class="simulatedheader" hidden>scReportId</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let t of SearchListSimulated  | search: textsearch:filterMetadata ; let i=index">
                                            <td class="text-end">{{i + 1}}</td>
                                            <td class="text-center">
                                                <input class="form-check-input" type="checkbox" id="{{t.scReportId}}"
                                                    [value]="t.scReportId" class="SimulatedCheckbox"
                                                    (click)="getPartId(t,'S')" [checked]="t.isActive"
                                                    ngbTooltip="Select Part to Compare">

                                                <span (click)='viewReport(t)' class="viewReport"
                                                    ngbTooltip="View Simulated Report">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                        <path
                                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                                        <path
                                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                                    </svg>
                                                </span>
                                            </td>
                                            <td>
                                                <img *ngIf="t.imagePath == '' else multi" src="assets/No-Image.png"
                                                    class="prdIcon" style="width: 50px; height: 50px;">
                                                <ng-template #multi>
                                                    <img src="{{t.imagePath}}" style="width: 50px; height: 50px;">
                                                </ng-template>
                                            </td>
                                            <td> {{ChekNull(t.partNumber)}} </td>
                                            <td> {{ChekNull(t.partName)}} </td>
                                            <td> {{ChekNull(t.programName)}} </td>
                                            <td> {{ChekNull(t.debriefDateFormated)}} </td>
                                            <td class="text-end"> {{ChekNull(t.totalCost)}} </td>
                                            <td class="text-end"> {{ChekNull(t.simulated_TotalCost)}} </td>
                                            <td> {{ChekNull(t.simulated_Date)}} </td>
                                            <td hidden> t.csHeaderId </td>
                                            <td hidden> t.scReportId </td>
                                        </tr>
                                </table>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>