<div class="container-fluid maxheight">
    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../assets/Spin-2.gif" />
    </ngx-spinner>

    <div class="fixsubheader">
        <div class="MasterHeader">
            <div style="width: 20%;">
                <h2>Design to Cost</h2>
            </div>
            <div style="width: 60%;">
                <div class="DTO_steps">
                    <p class="DTO_step1" [routerLink]="['/home/designtocost/step1']"> <span> Step 1 </span> <br>
                        Pick up a Base Model
                    </p>
                    <span class="DTO_connect1_2">
                        <i class="bi bi-arrow-right gradient-icon"></i>
                    </span>
                    <p class="DTO_step2" [routerLink]="['/home/designtocost/step2']"><span> Step 2 </span> <br>
                        Optimize Material and Process
                    </p>
                    <span class="DTO_connect1_2">
                        <i class="bi bi-arrow-right gradient-icon2"></i>
                    </span>
                    <p class="DTO_step3"><span> Step 3 </span> <br>
                        Pickup or Add VAVE Ideas to Optimize the cost
                    </p>
                    <span class="DTO_connect1_2">
                        <i class="bi bi-arrow-right gradient-icon3"></i>
                    </span>
                    <p class="DTO_step4"><span> Step 4 </span> <br>
                        Review outcome & share CAD/Print if required
                    </p>
                </div>
            </div>
            <div style="width: 20%; text-align: center; align-items: center;">
                <input type="button" class="btnback" value="back" Name="back" (click)="backToPreviousPage()">
            </div>
        </div>
    </div>

    <div class="table-container">

        <div style="width: 85%; float: left; height: 50px;">
            <h3 class="title">VAVE Ideas for {{NounName}}<span *ngIf="filteredPartNumberTableData.length <= 0"
                    style="margin-left: 10px;">{{message}} </span> </h3>
        </div>
        <div style="width: 15%; float: left; height: 50px;  ">
            <button type="button" class="btn btn-sm default-btn" style="margin-top: 10px;" (click)="openIdeaModal()">
                Add </button>
            <img [hidden]="IsNoData" src="../../../../assets/exportexcel.png" class="exportToExcel"
                (click)="exportToExcel(filteredPartNumberTableData)" title="Export to Excel">
        </div>


        <div *ngIf="filteredPartNumberTableData.length > 0">


            <div style="overflow-x: auto; border: 1px solid #80808064; padding: 5px; border-radius: 5px;">
                <table>
                    <thead>
                        <tr>
                            <th
                                style=" position: sticky; left:-2px; top:0px; z-index: 4; min-width: 400px; background-color: white;">
                            </th>
                            <th class="header-box-id">
                                <div class="header-content-id">
                                    ID
                                    <div class="header-line"></div>
                                </div>
                            </th>
                            <th class="header-box">
                                <div class="header-content">
                                    Program
                                    <div class="header-line"></div>
                                </div>
                            </th>
                            <th class="header-box">
                                <div class="header-content">
                                    Part Number
                                    <div class="header-line"></div>
                                </div>
                            </th>
                            <th class="header-box">
                                <div class="header-content">
                                    Potential Savings PP($)
                                    <div class="header-line"></div>
                                </div>
                            </th>
                            <th class="header-box">
                                <div class="header-content">
                                    Idea Owner
                                    <div class="header-line"></div>
                                </div>
                            </th>
                            <th class="header-box header-box-selection">
                                <div class="header-content">
                                    Select
                                    <div class="header-line"></div>
                                </div>
                            </th>
                        </tr>

                        <!-- Search Filters Row -->
                        <tr>
                            <td style="position: sticky; left:-2px; z-index: 3; background-color: white;">
                                <input type="text" class="column-search" placeholder="Idea..." title="Search Idea..."
                                    [(ngModel)]="searchFilters.idea" (input)="applyFilter()">
                            </td>
                            <td>
                                <input type="text" class="column-search1" placeholder="ID..." title="Search ID..."
                                    [(ngModel)]="searchFilters.sharepoint_ID" (input)="applyFilter()">
                            </td>
                            <td>
                                <input type="text" class="column-search" placeholder="Program..."
                                    title="Search Program..." [(ngModel)]="searchFilters.program"
                                    (input)="applyFilter()">
                            </td>
                            <td>
                                <input type="text" class="column-search" placeholder="Part Number..."
                                    title="Search Part Number..." [(ngModel)]="searchFilters.partNumber"
                                    (input)="applyFilter()">
                            </td>
                            <td>
                                <input type="text" class="column-search" placeholder="Savings..."
                                    title="Search Savings..." [(ngModel)]="searchFilters.potentialSavingsPerPieceMDO"
                                    (input)="applyFilter()">
                            </td>
                            <td>
                                <input type="text" class="column-search" placeholder="Owner..." title="Search Owner..."
                                    [(ngModel)]="searchFilters.ideaOwner" (input)="applyFilter()">
                            </td>
                            <td>
                            </td>
                        </tr>

                    </thead>
                    <tbody>

                        <tr
                            *ngFor="let row of filteredPartNumberTableData_original | paginate: {itemsPerPage:itemonperpage, currentPage: page}">
                            <td id="freeze"> {{ row.idea }}</td>
                            <td class="id1" (click)="OpenVBD()" title="{{row.id}}"> {{row.id}}
                            </td>

                            <td style="text-align: start;" title="{{row.program}}">{{ row.program }}</td>
                            <td style="text-align: start;" title="{{row.partNumber}}">{{ row.partNumber }}</td>
                            <td style="text-align: start;" title="{{row.potentialSavingsPerPieceMDO}}">{{
                                row.potentialSavingsPerPieceMDO | number:'0.0-2' }}</td>
                            <td style="text-align: center;" title="{{row.ideaOwner}}">{{row.ideaOwner}}</td>

                            <td style="text-align: center;" class="idSelection">
                                <input type="checkbox" class="select-checkbox" [(ngModel)]="row.ideaSelected"
                                    (change)="onIdeaSelectedChange(row)">
                            </td>

                        </tr>
                    </tbody>
                </table>

                <div class="modal" tabindex="-1" role="dialog"
                    [ngStyle]="{'display': showIdeaModal ? 'block' : 'none'}">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modal-lg">

                            <!-- Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Add New Idea</h4>
                                <label class=" close modal-close-icn" (click)="showIdeaModal = false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000"
                                        class="bi bi-x" viewBox="0 0 16 16">
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </label>
                            </div>




                            <div class="modal-body">
                                <form #ideaForm="ngForm" novalidate>
                                    <div class="row">

                                        <div class="col-md-12 mb-3">
                                            <label class="default-lbl">Idea <span style="color: red;">*</span></label>

                                            <textarea class="form-control form-control-sm"
                                                [ngClass]="{'is-invalid': idea.invalid && idea.touched}"
                                                [(ngModel)]="newIdea.idea" name="Idea" rows="3"
                                                placeholder="Describe the Idea..." required #idea="ngModel"></textarea>

                                            <div class="error-message text-danger" *ngIf="idea.invalid && idea.touched"
                                                style="font-size: 12px;color: red;">
                                                Please enter a valid Idea.
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="default-lbl">Program <span
                                                    style="color: red;">*</span></label>
                                            <input class="form-control form-control-sm" type="text"
                                                [(ngModel)]="newIdea.program" name="Program" placeholder="Enter Program"
                                                required #program="ngModel">
                                            <div class="error-message text-danger"
                                                *ngIf="program.invalid && program.touched" style="font-size: 12px;">
                                                Please enter a valid Program.
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="default-lbl">Part Number <span
                                                    style="color: red;">*</span></label>
                                            <input class="form-control form-control-sm" type="text"
                                                [(ngModel)]="newIdea.partNumber" name="PartNumber"
                                                placeholder="Enter Part Number" required #partNumber="ngModel">
                                            <div class="error-message text-danger"
                                                *ngIf="partNumber.invalid && partNumber.touched"
                                                style="font-size: 12px;">
                                                Please enter a valid Part Number.
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="default-lbl">Potential Savings PP($) <span
                                                    style="color: red;">*</span></label>
                                            <input class="form-control form-control-sm" type="text"
                                                (keypress)="keyPressDecimal($event)"
                                                [(ngModel)]="newIdea.potentialSavingsPerPieceMDO"
                                                name="PotentialSavings" placeholder="Enter Savings" required
                                                #savings="ngModel">
                                            <div class="error-message text-danger"
                                                *ngIf="savings.invalid && savings.touched" style="font-size: 12px;">
                                                Please enter a valid Potential Saving.
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                                    (click)="showIdeaModal = false">
                                    Close
                                </button>
                                <button type="button" class="btn btn-sm btn-default default-btn_popup"
                                    [disabled]="ideaForm.invalid" (click)="submitIdea(newIdea)"
                                    style="background-color: #da291c; color: #fff;">
                                    Save
                                </button>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <div style="width: 70%;float: left;">
                <div class="d-flex justify-content-between p-2 pagination">
                    <ngb-pagination class="custom-pagination" [collectionSize]="filteredData.length" [(page)]="page"
                        [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" [maxSize]="100" size="sm">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>


        <div class="row nextbutton">
            <div class="col-md-12 text-center ">
                <input type="button" class="btn btn_go_next" value="Go to Next" Name="Go to Next" (click)="onNext()">
            </div>
        </div>
        <br><br><br>
    </div>

</div>