<div class="setHeight">
    <form [formGroup]="EngineFrom">
        <div class="MasterHeader">
            <div style="width: 50%;">
                <h2>Engine Displacement</h2>
            </div>
            <div  class="text-end" style="width: 50%;">
                <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
              </div>
        </div>
        <div class="MasterHeaderlable">
            <div class="searchDiv">
                <div class="form-group has-search" style="width: 50%;">
                    <span class="bi bi-search form-control-feedback"></span>
                    <input type="text" class="form-control search-input" placeholder="Search"
                        formControlName="textsearch" [(ngModel)]="textsearch">
                </div>
            </div>
            <div style="width: 50%;" class="text-end">
                <button type="button" class="btn btn-sm default-btn" id='add-btn' data-toggle="tooltip"
                    data-placement="top" title="Add Engine" (click)="editModal=false" (click)="openModal()">Add
                    Engine</button>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <table class="table table-bordered table-striped "  style="font-size: 13px !important;">
                <thead>
                    <!-- <tr>
                        <th [colSpan]="colspanhide1" (click)="hide1()" style="text-align: end;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                              </svg>
                        </th>
                        <th [colSpan]="colspanhide2" (click)="hide2()" style="text-align: end;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                              </svg>
                        </th>
                        <th [colSpan]="colspanhide3" (click)="hide3()" style="text-align: end;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                              </svg>
                        </th>
                    </tr> -->
                    <tr>
                        <th hidden>org_Id</th>
                        <th>Sr. No.</th>
                        <th  [hidden]="Ishide1">Engine Displacement (L)</th>
                        <th>Status</th>
                        <th  [hidden]="Ishide2">Created By</th>
                        <th>Created Date</th>
                        <th  [hidden]="Ishide3">Created time</th>
                        <th  [hidden]="Ishide3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let eng of engine | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page }  let i=index">
                        <td hidden>{{eng.EDId}}</td>
                        <td>{{(page - 1) * 10 + i + 1}}</td>
                        <td [hidden]="Ishide1">{{eng.Description}}</td>
                        <td>{{eng.IsActive}}</td>
                        <td [hidden]="Ishide2">{{eng.CreatedBy}}</td>
                        <td>{{eng.CreatedOn | date:'dd-MMM-yyyy'}}</td>
                        <td [hidden]="Ishide3">{{eng.CreatedOn | date:'HH:MM:ss'}}</td>
                        <td [hidden]="Ishide3"><i class="bi bi-trash-fill" style="color: #da291c; font-size:larger;"
                                (click)="deleteRow(eng.EDId)"></i>
                            <i class="bi bi-pencil-fill" style="padding-left: 20px; color: #da291c; font-size:larger;"
                                (click)="editModalMethod(eng)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- <div class="d-flex justify-content-between p-2 pagination"> -->
        <div class="d-flex justify-content-between p-2 pagination">
            <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
            <br>
        </div>

    </form>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{header}}</h4>
                    <label class="close modal-close-icn" (click)="onCloseHandled()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </label>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="engDis" class="default-lbl">Engine Displacement</label>
                            <input class="form-control form-control-sm" type="text" name="engDis" id="engDis"
                                placeholder="Please enter Engine Displacement"
                                (blur)="blurCheckBlankInputValidation('engDis')" 
                                value="{{engineDis}}">
                                <!-- (keypress)="keyPressDecimal($event)" -->
                            <div class="error-message" *ngIf="showError1">
                                Please enter Engine Displacement Length.
                            </div>
                        </div>

                        <!-- <div class="form-group">
                        <label for="exampleInput" class="default-lbl">Status</label>
                        <select class="form-select form-select-sm " (change)="onSelected($event)"
                            value="{{statusValue}}"name="status">
                            <option value="" selected hidden>Please select</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                        <div class="error-message" *ngIf="showError2">
                            Please select status.</div>
                    </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismis="modal"
                        (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-sm  btn-default default-btn_popup"
                        (click)="onSaveButton()">{{txt_btn}}</button>
                </div>
            </div>
        </div>
    </div>