<div class="setHeight">
    <div class="MasterHeader">
        <div style="width: 50%;">
            <h2>Request Update</h2>
        </div>
        <div class="text-end" style="width: 50%;">
            <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
        </div>
    </div>

    <div class="MasterHeaderlable">

        <form [formGroup]="ShouldCostView">
            <div class="row pb-2" onclick="filter()" *ngFor="let val of statusData">
                <div class="col-md-4">
                    <label><b>Request Id :</b></label>
                    <span style="margin-left: 10px;">{{data}}</span>
                </div>
                <div class="col-md-4">
                    <label><b>Created By :</b></label>
                    <span style="margin-left: 10px;">{{val.createdBy}}</span>
                </div>
                <div class="col-md-4">
                    <label><b>Created On :</b></label>
                    <span style="margin-left: 10px;">{{val.createdOn | date: 'dd-MMM-YYYY'}}</span>
                </div>
            </div>

            <div class="row pb-2">
                <div class="col-md-12">

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 18%; "><label for="ProjectName" class="default-lbl">Request ID :</label>
                            </td>
                            <td><label for="ProjectName" class="default-lblvalue">{{data[0].requestHeaderId}}</label>
                            </td>
                        </tr>
                    </table>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 18%;" class="align-baseline"><label for="ProjectName" class="default-lbl">Requester Name
                                    :</label></td>
                            <td><label for="ProjectName" class="default-lblvalue">{{data[0].userName}}</label></td>
                        </tr>
                    </table>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 18%;" class="align-baseline"><label for="ProjectName" class="default-lbl">Request Date :</label>
                            </td>
                            <td><label for="ProjectName" class="default-lblvalue">{{data[0].createdOn | date:
                                    'dd-MMM-YYYY  - HH:MM:SS' }}</label></td>
                        </tr>
                    </table>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 18%;" class="align-baseline"><label for="ProjectName" class="default-lbl">Previous Status
                                    :</label></td>
                            <td><label for="ProjectName" class="default-lblvalue">{{data[0].status}}</label></td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 18%;" class="align-baseline"><label for="ProjectName" class="default-lbl">COE Comments
                                    :</label></td>
                            <td><label for="ProjectName" class="default-lblvalue">{{data[0].scTeamComments}}</label></td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 18%;" class="align-baseline"><label for="ProjectName" class="default-lbl" >Requester Comments
                                    :</label></td>
                            <td><label for="ProjectName" class="default-lblvalue" >{{data[0].smComments}}</label></td>
                        </tr>
                    </table>
                </div>
            </div>

            <br>

            <div class="row pb-2">
                <div class="col-md-3">
                    <label for="dropdown" class="default-lbl"><b>Status</b></label>
                    <span>
                        <select #selectStatus id="dropdown1" class="form-select form-select-sm custom-dropdown"
                            (change)="GetStatus($event)" >
                            <option value="">Please Select Status</option>
                            <option value="Submitted">Submitted</option>
                            <option value="Under Review">Under Review</option>
                            <option value="Returned">Returned</option>
                            <option value="In Queue">In Queue</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Completed">Completed</option>
                            <option value="Partially Completed">Partially Completed</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </span>
                </div>
            </div>
            <br>

            <div class="row pb-4">
                <label><b>Comments</b></label>
                <div class="col-md-9">
                    <textarea id="commentss" class="form-control" placeholder="Leave a comment here"
                        formControlName="comments" [(ngModel)]="comments"></textarea>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                        (click)="submit()">Submit</button>
                </div>

            </div>
        </form>

    </div>
</div>