<div class="setHeight">

    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../../assets/Spin-2.gif" />
    </ngx-spinner>

    <form [formGroup]="useraccessform">
        <div class="MasterHeader">
            <div style="width: 50%;">
                <h2>User Access</h2>
            </div>
            <div class="text-end" style="width: 50%;">
                <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
            </div>
        </div>
        <div class="MasterHeaderlable">

            <div class="searchDiv">
                <div class="form-group has-search" style="width: 50%;">
                    <span class="bi bi-search form-control-feedback"></span>
                    <input type="text" class="form-control search-input" placeholder="Search"
                        formControlName="textsearch" [(ngModel)]="textsearch">
                </div>
            </div>

            <div style="width: 50%;" class="text-end">
                <!-- <button type="button" class="btn btn-sm default-btn" id='add-btn' data-toggle="tooltip"
                    data-placement="top" title="Add User" (click)="editModal=false" (click)="openModal()">Add
                    Access</button> -->
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <table class="table table-bordered table-striped " style="font-size: 12px !important;">
                <thead>
                    <tr>
                        <th hidden>org_Id</th>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Email Id</th>
                        <th>Role</th>
                        <th hidden>Role ID</th>
                        <th>Business Unit</th>
                        <!-- <th>BU ID</th> -->
                        <th>Status</th>
                        <th hidden>Created By</th>
                        <th hidden>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="let data of usernameandBu  | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page }  let i=index">
                        <td hidden>{{data.UserId}}</td>
                        <td>{{i+1}}</td>
                        <td>{{data.UserName}}</td>
                        <td class="text-start">{{data.FullName}}</td>
                        <td class="text-start">{{data.EmailId}}</td>
                        <td class="text-start">{{data.RoleDescription}}</td>
                        <td hidden>{{data.RoleId}}</td>
                        <td class="text-start">{{data.BUDescription}}</td>
                        <!-- <td>BU ID</td> -->
                        <td style="text-transform: capitalize;">{{data.Active}}</td>
                        <td hidden>{{data.CreatedBy}}</td>
                        <td hidden>{{data.CreatedOn | date:'dd-MMM-yyyy'}}</td>
                        <td><i class="bi bi-pencil-fill" style="padding-left: 0px; color: #da291c; font-size:larger;"
                                (click)="editModalMethod(data)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div class="d-flex justify-content-between p-2 pagination"> -->
        <div class="d-flex justify-content-between p-2 pagination">
            <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
            <br>
        </div>
    </form>

    <!-- pop up on add user -->

    <div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{header}}</h4>
                    <label class="close modal-close-icn" (click)="onCloseHandled()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </label>
                </div>
                <div class="modal-body" style="height:380px; width: 100%;">

                    <form [formGroup]="formGroup">
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <!-- First Column -->
                                    <div class="col-md-6">
                                        <label for="userUnitName" class="default-lbl">User Name</label>
                                        <ng-select [readonly]="this.editModal" formControlName="userId"
                                            [(ngModel)]="name" (change)="onselectUser($event)">
                                            <ng-option value="" selected hidden>Please select Name</ng-option>
                                            <ng-option *ngFor="let item of activeUsers"
                                                [value]="item.id">{{item.FullName}}</ng-option>
                                        </ng-select>
                                        <div *ngIf="formGroup.get('userId')?.invalid && formGroup.get('userId')?.touched"
                                            class="text-danger">
                                            User Name is required
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <label for="role" class="default-lbl">Role</label>
                                        <select [disabled]="false" class="form-select form-select-sm custom-dropdown"
                                            formControlName="roleid" (change)="onselectrole($event)">
                                            <option value="" selected hidden>Please select Role</option>
                                            <option *ngFor="let role of rolename" [value]="role.MST_Role_Id">{{
                                                role.Description }}</option>
                                        </select>
                                        <div *ngIf="formGroup.get('roleid')?.invalid && formGroup.get('roleid')?.touched"
                                            class="text-danger">
                                            Role is required
                                        </div>
                                        
                                        <div class="form-check" style="margin-top: 5px;">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault" [(ngModel)]="IsActive" (change)="IsCheckedBox()"
                                                [ngModelOptions]="{standalone: true}">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{Active}}
                                            </label>


                                        </div>
                                        <div [hidden]="dropdownOpen">
                                            <label for="buname" class="default-lbl">Select Business Unit</label>
                                            <!-- <div class="dropdown" [class.show]="dropdownOpen"> -->
                                            <!-- <button class="btn btn-secondary dropdown-toggle custom-dropdown"
                                                type="button" (click)="toggleDropdown()"
                                                [disabled]="formGroup.get('businessUnits')?.disabled ?? false">
                                                Select Business Unit
                                            </button> -->
                                            <div class="ShowBU">
                                                <ul class="UL_List" id="BusinessUnitUL">
                                                    <li *ngFor="let bu of bunames" class="BUdisabled">
                                                        <label style="display: block;">
                                                            <input type="checkbox" name="cat3list" class="checkboxsize"
                                                                (change)="getBusinessUnitValues()" value="{{bu.BUId}}"
                                                                id={{bu.BUId}} />
                                                            {{bu.Description}}
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                    </div>

                                    <!-- Second Column -->
                                    <div class="col-md-6">
                                        <label class="form-label" style="font-size: 13px;">Access Menus</label>
                                        <div class="scrollbarsearchcat2">
                                            <div class="clt ">
                                                <ul>
                                                    <li *ngFor="let menu of MenuSpecific">
                                                        {{menu.text}}
                                                        <ul>
                                                            <li *ngFor="let submenu of menu.children">
                                                                {{submenu.text}}
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="submit" class="btn btn-sm btn-default default-btn_popup"
                        (click)="onSaveButton()">{{txt_btn}}</button> <!--[disabled]="!isValidForm()" -->
                </div>
            </div>
        </div>
    </div>
</div>