<div class="services ">

    <div class="">
        <div>
            <button class="btnbackContact" (click)="backToPreviousPage()">Back</button>
        </div>
        <h1>Help & Support</h1>
        <h5>Have any questions? We'd love to hear from you.</h5>
    </div>

    <div class="">
        <div class="content">
            <div class="card">
                <div class="box">
                    <i class="bi bi-patch-question"></i>

                    <h3>FAQs</h3>
                    <p>Refer to our documentation on Model Mart application as well as Should Costing process.</p>
                    <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                        (click)="openPDF()">Visit Help Page</button>

                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="bi bi-clipboard-check-fill"></i>
                    <h3>Help & Support</h3>
                    <p>Reach out to our team for any unanswered question(s) or provide feedback on Model Mart. </p>
                    <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                        (click)="toSendMessagePage()">Get Support Page</button>

                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="bi bi-chat-left-text-fill"></i>
                    <h3>Survey Analysis</h3>
                    <p>Interested in taking a quick 1 min survey? </p>
                    <button type="button" class="btn btn-sm default-btn" data-bs-dismis="modal"
                        (click)="GotoFeedbackSurvey()">Take Survey</button><br>
                    <span class="title-corner-badge">NEW</span>
                </div>
            </div>
        </div>
    </div>
</div>