<div class="container-fluid maxheight">
    <ngx-spinner name="spinner" bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="square-jelly-box"
        [fullScreen]="true">
        <img alt="Loading Please Wait..." style="width:100px ; height:100px ;" src="../../../assets/Spin-2.gif" />
    </ngx-spinner>

    <div class="fixsubheader">
        <div class="MasterHeader">
            <div style="width: 20%;">
                <h2>Design to Cost</h2>
            </div>
            <div style="width: 60%;">
                <div class="DTO_steps">
                    <p class="DTO_step1" [routerLink]="['/home/designtocost/step1']"> <span> Step 1 </span> <br>
                        Pick up a Base Model
                    </p>
                    <span class="DTO_connect1_2">
                        <i class="bi bi-arrow-right gradient-icon"></i>
                    </span>
                    <p class="DTO_step2" [routerLink]="['/home/designtocost/step2']"><span> Step 2 </span> <br>
                        Optimize Material and Process
                    </p>
                    <span class="DTO_connect1_2">
                        <i class="bi bi-arrow-right gradient-icon2"></i>
                    </span>
                    <p class="DTO_step3"><span> Step 3 </span> <br>
                        Pickup or Add VAVE Ideas to Optimize the cost
                    </p>
                    <span class="DTO_connect1_2">
                        <i class="bi bi-arrow-right gradient-icon3"></i>
                    </span>
                    <p class="DTO_step4"><span> Step 4 </span> <br>
                        Review outcome & share CAD/Print if required
                    </p>
                </div>
            </div>
            <div style="width: 20%; text-align: center; align-items: center;">
                <input type="button" class="btnback" value="back" Name="back" (click)="backToPreviousPage()">
            </div>
        </div>
    </div>


    <div style="margin-top: 95px; font-size: 12px !important; ">
        <div class="MasterHeader2">
            <div class="text-center" style="width: 100%;">
                <h2>User Simulation</h2>
            </div>
        </div>
        <div class="datapanal">
            <form [formGroup]="ShouldCostReoprt">

                <div class="ShouldCostBreakdown" id="ShouldCostBreakdown">
                    <div class="row">
                       
                        <div class="col-md-12 " style="border-bottom: 1px solid #da291c; margin-bottom: 10px; ">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-9" style="padding: 10px 0px;">
                                    <table>
                                        <tr>
                                            <td style="width: 13%;"><label for="PartName" class="default-lbl">Part Name
                                                    :</label></td>
                                            <td style="width: 32%;"><label for="PartName"
                                                    class="default-lblvalue">{{PartName}}</label></td>
                                            <td style="width: 13%;"> <label for="PartNumber" class="default-lbl">Part
                                                    Number
                                                    :</label>
                                            </td>
                                            <td style="width: 32%;"><label for="PartNumber"
                                                    class="default-lblvalue">{{PartNumber}}</label></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 13%;"><label for="ProjectName" class="default-lbl">Program
                                                    Name
                                                    :</label></td>
                                            <td style="width: 32%;"><label for="ProjectName"
                                                    class="default-lblvalue">{{ProjectName}}</label></td>
                                            <td style="width: 13%;"> <label for="DebriefDate"
                                                    class="default-lbl">Debrief
                                                    Date
                                                    :</label></td>
                                            <td style="width: 32%;"><label for="DebriefDate"
                                                    class="default-lblvalue">{{DebriefDate}}</label></td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn btn-outline-danger btn-GetReport" name="GetReport"
                                        value="Save & Go to Next" (click)="GetReport()">
                                </div>
                                <div class="text-center">
                                    <label [hidden]="!IsCESmodel" class="text-center CSModelRemark"
                                        style="margin-left: 0px;">{{ModelwiseNote}}</label>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="IsHiddenDiv" class="col-md-2"></div>
                        <div class="col-md-6" id="Tier1Box">
                            <label class="CostHeading">Finish Part Cost</label>
                            <table class="table border" style="font-size: 12px !important;">
                                <thead>
                                    <tr>
                                        <th style="width: 40%;" class="ShouldCostBreakdowntableth">Cost Header </th>
                                        <th style="width: 25%;" class="ShouldCostBreakdowntableth text-end">Cost ($)
                                        </th>
                                        <th style="width: 0%;" class="ShouldCostBreakdowntableth text-center"></th>
                                        <th style="width: 25%;" class="ShouldCostBreakdowntableth text-center">Updated
                                            Cost ($)</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 12px !important;">
                                    <tr *ngFor="let val of TierCostReportList; let i=index"
                                        class="ShouldCostBreakdowntabletr">
                                        <td style="padding: 10px 10px; padding-right: 0px;"
                                            class="TierCostReportTextT1">
                                            {{val.particular}}
                                            <input [class.hideTextBox]="val.updateValue == 0"
                                                [hidden]="IsExternalCostmodel && val.particular != 'Direct Labour Cost' "
                                                id="getdataTier1" type="button" class="btn btn-sm btn-outline-danger"
                                                name="GetData" value="Update" (click)="openModal('T1',val,i)">
                                        </td>
                                        <td style="padding: 12px 8px 0px 0px;"
                                            class="text-end TierCostReportListusdValueT1" id="UpdateCostTD{{i}}">
                                            {{val.usdValue |
                                            number:'1.2-2' }}</td>
                                        <!-- class="hideTextBox" [class.hideTextBox]="val.particular != 'Direct Labor Cost'" -->
                                        <td class="hideTextBox">
                                            <input type="text" class="form-control percentText T1" maxlength="4"
                                                id="{{i}}" name="{{i}}" (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercent($event, val, 1)">
                                        </td>
                                        <td> <input #UpdateCost0 type="text"
                                                class="form-control UpdateText disabled NotNon T1" id="UpdateCost{{i}}"
                                                name="UpdateCost{{i}}" readonly
                                                value="{{val.usdValue  | number:'1.2-2'}}">
                                        </td>

                                    </tr>

                                    <!-- ----- User Added Cost ------ -->
                                    <tr>
                                        <td style="padding: 10px 10px; padding-right: 0px" class="TierCostReportTextT1">
                                            User Added Cost
                                            <input id="getdataUserAdded" type="button"
                                                class="btn btn-sm btn-outline-danger" name="GetData" value="Update"
                                                (click)="openModalProcess('T1')" />
                                        </td>
                                        <td style="padding: 12px 8px 0px 0px"
                                            class="text-end TierCostReportListusdValueT1">
                                            <!-- {{ Cal_totalInitialCost | number : '1.2-2' }} --> 0.00
                                        </td>
                                        <td class="hideTextBox">
                                            <input type="text" class="form-control percentText T1" maxlength="4"
                                                id="userAddedInput" name="userAddedInput"
                                                (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercent($event, null, 1)" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control UpdateText disabled NotNon T1"
                                                id="UpdateCostUserAddedT1" name="UpdateCostUserAddedT1" readonly
                                                value="{{ costDifference | number : '1.2-2' }}" />
                                        </td>
                                    </tr>

                                    <!-- ----- Total Manufacturing Cost ------ -->
                                    <tr>
                                        <td colspan="1" class="footer-color"><b>Total Manufacturing Cost</b></td>
                                        <td colspan="1" class="footer-color text-end"><b>{{Manu_TotalInUSD |
                                                number:'1.2-2'}}</b>
                                        </td>
                                        <td class="footer-color"></td>
                                        <td colspan="1" class="footer-color text-center"><b>{{Manu_TotalInLocal |
                                                number:'1.2-2'}}</b>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let val of TierCostReportNonList; let i=index"
                                        class="ShouldCostBreakdowntabletr">
                                        <td *ngIf="val.totalCostPer > 0 || val.compul == 1"
                                            class="particular_perValue TierCostReportNonTextT1"
                                            style="padding: 10px 10px;">
                                            {{val.particular}}
                                            <span style="display: none;" *ngIf="val.perValue > 0"> ({{val.perValue |
                                                number:'1.2-2'}} %) </span>
                                            <span style="display: none;">{{val.perValue}}</span>
                                            <input [class.hideTextBox]="val.updateValue == 0" id="getdataTierNon1"
                                                type="button" class="btn btn-sm btn-outline-danger" name="GetData"
                                                value="Update" (click)="openModal('T1',val,i)">
                                        </td>
                                        <td *ngIf="val.totalCostPer > 0 || val.compul == 1"
                                            style="padding: 12px 8px 0px 0px;" class="text-end NonusdValueT1"
                                            id="UpdateCostTDdata{{i}}">{{val.usdValue | number:'1.2-2' }}</td>

                                        <td class="hideTextBox" *ngIf="val.totalCostPer > 0 || val.compul == 1">
                                            <input type="text" class="form-control percentText Non T1" maxlength="5"
                                                id="UpdateCostNonPer{{i}}" name="{{i}}"
                                                (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercentNon($event, val, 2,i)" tabindex="1">
                                        </td>
                                        <td *ngIf="val.totalCostPer > 0 || val.compul == 1">
                                            <input type="text" class="form-control UpdateText Notdisabled Non T1"
                                                style="background-color: #8080801a;" id="UpdateCostNon{{i}}"
                                                value="{{val.usdValue  | number:'1.2-2'}}" name="{{val.particular}}"
                                                (keypress)="keyPressDecimal($event)" tabindex="2" readonly>
                                            <!-- (keyup)="CalculateAmount($event, val,2,i)" -->
                                        </td>
                                    </tr>
                                    <!-- ----- Total Non-Manufacturing Cost ------ -->
                                    <!-- <tr>
                                    <td colspan="1" class="footer-color"><b>Total Non-Manufacturing Cost</b></td>
                                    <td colspan="1" class="footer-color text-end"><b>{{Non_TotalInUSD |
                                            number:'1.2-2'}}</b></td>
                                    <td class="footer-color"></td>
                                    <td colspan="1" class="footer-color text-center"><b>{{Non_TotalInLocal |
                                            number:'1.2-2'}}</b>
                                    </td>
                                </tr> -->
                                    <!-- ----- Terif Cost ------ -->
                                    <tr>
                                        <td colspan="1" class=""> Tariff </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="text-center">
                                            <input type="text" class="form-control UpdateTarif Notdisabled Non T1"
                                                id="TarifUpdatedT1" name="TarifUpdatedT1" [(ngModel)]="TarifValueT1"
                                                (keyup)="updateTotalCost('T1')" (keypress)="keyPressDecimal($event)" />
                                        </td>
                                    </tr>

                                    <!-- ----- Total Cost ------ -->
                                    <tr>
                                        <td colspan="1" class="footer-color tfoot"><b>Part Cost</b></td>
                                        <td colspan="1" class="footer-color tfoot text-end"><b>{{TotalInUSD |
                                                number:'1.2-2'}}</b>
                                        </td>
                                        <td class="footer-color tfoot"></td>
                                        <td colspan="1" class="footer-color tfoot text-center"><b>{{TotalInLocal |
                                                number:'1.2-2'}}</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- -----------  Tier 2 ----------------------------------------------- -->
                        <div class="col-md-6 " id="hideTier2Box">
                            <label class="CostHeading">Tier#2 Cost or Rough Part Cost or Casting Cost</label>
                            <table class="table border">
                                <thead>
                                    <tr>
                                        <th style="width: 45%;" class="ShouldCostBreakdowntableth">Cost Header </th>
                                        <th style="width: 20%;" class="ShouldCostBreakdowntableth text-end">Cost ($)
                                        </th>
                                        <th style="width: 0%;" class="ShouldCostBreakdowntableth text-center"></th>
                                        <th style="width: 20%;" class="ShouldCostBreakdowntableth text-center">Updated
                                            Cost ($)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let val of Tier2CostReportList; let i=index"
                                        class="ShouldCostBreakdowntabletr">
                                        <td style="padding: 10px 10px;" class="TierCostReportTextT2">{{val.particular}}
                                            <input [class.hideTextBox]="val.updateValue == 0"
                                                [hidden]="IsExternalCostmodel && val.particular != 'Direct Labour Cost' "
                                                id="getdataTier2" type="button" class="btn btn-sm btn-outline-danger"
                                                name="GetData" value="Update" (click)="openModal('T2',val,i)">
                                        </td>
                                        <td style="padding: 12px 8px 0px 0px;"
                                            class="text-end TierCostReportListusdValueT2" id="UpdateCostT2TD{{i}}">
                                            {{val.usdValue |
                                            number:'1.2-2' }}</td>
                                        <!-- class="hideTextBox" [class.hideTextBox]="val.particular != 'Direct Labor Cost'" -->
                                        <td class="hideTextBox">
                                            <input type="text" class="form-control percentText T2" maxlength="4"
                                                id="{{i}}" name="{{i}}" (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercentT2($event, val, 1)">
                                        </td>
                                        <td> <input type="text" class="form-control UpdateText disabled NotNon T2"
                                                id="UpdateCostT2{{i}}" name="UpdateCostT2{{i}}" readonly
                                                value="{{val.usdValue  | number:'1.2-2'}}"> </td>

                                    </tr>
                                    <!-- ----- User Added Cost ------ -->
                                    <tr>
                                        <td style="padding: 10px 10px; padding-right: 0px" class="TierCostReportTextT2">
                                            User Added Cost
                                            <input id="getdataUserAddedT2" type="button"
                                                class="btn btn-sm btn-outline-danger" name="GetData" value="Update"
                                                (click)="openModalProcess('T2')" />
                                        </td>
                                        <td style="padding: 12px 8px 0px 0px"
                                            class="text-end TierCostReportListusdValueT2">
                                            <!-- {{ Cal_totalInitialCostT2 | number : '1.2-2' }} --> 0.00
                                        </td>
                                        <td class="hideTextBox">
                                            <input type="text" class="form-control percentText T2" maxlength="4"
                                                id="userAddedInputT2" name="userAddedInputT2"
                                                (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercent($event, null, 1)" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control UpdateText disabled NotNon T2"
                                                id="UpdateCostUserAddedT2" name="UpdateCostUserAddedT2" readonly
                                                value="{{ costDifferenceT2 | number : '1.2-2' }}" />
                                        </td>
                                    </tr>
                                    <!-- ----- Total Manufacturing Cost Tier 2 ------ -->
                                    <tr>
                                        <td colspan="1" class="footer-color"><b>Total Manufacturing Cost</b></td>
                                        <td colspan="1" class="footer-color text-end"><b>{{Manu_TotalInUSDT2 |
                                                number:'1.2-2'}}</b>
                                        </td>
                                        <td class="footer-color"></td>
                                        <td colspan="1" class="footer-color text-center"><b>{{Manu_TotalInLocalT2 |
                                                number:'1.2-2'}}</b>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let val of Tier2CostReportNonList; let i=index"
                                        class="ShouldCostBreakdowntabletr">
                                        <td *ngIf="val.totalCostPer > 0 || val.compul == 1"
                                            class="particular_perValueT2 TierCostReportNonTextT2"
                                            style="padding: 10px 10px;">{{val.particular}}
                                            <span style="display: none;" *ngIf="val.perValue > 0"> ({{val.perValue |
                                                number:'1.2-2'}} %) </span>
                                            <span style="display: none;">{{val.perValue}}</span>
                                            <input [class.hideTextBox]="val.updateValue == 0" id="getdataTierNon1"
                                                type="button" class="btn btn-sm btn-outline-danger" name="GetData"
                                                value="Update" (click)="openModal('T2',val,i)">
                                        </td>
                                        <td *ngIf="val.totalCostPer > 0 || val.compul == 1"
                                            style="padding: 12px 8px 0px 0px;" class="text-end NonusdValueT2">
                                            {{val.usdValue
                                            | number:'1.2-2' }}</td>
                                        <td class="hideTextBox" *ngIf="val.totalCostPer > 0 || val.compul == 1">
                                            <input type="text" class="form-control percentText Non T2" maxlength="5"
                                                id="UpdateCostNonPerT2{{i}}" name="{{i}}"
                                                (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercentNonT2($event, val, 2,i)" tabindex="1">
                                        </td>
                                        <td *ngIf="val.totalCostPer > 0 || val.compul == 1">
                                            <input type="text" class="form-control UpdateText Notdisabled Non T2"
                                                style="background-color: #8080801a;" id="UpdateCostNonT2{{i}}"
                                                value="{{val.usdValue  | number:'1.2-2'}}" name="{{val.particular}}"
                                                (keypress)="keyPressDecimal($event)" tabindex="2" readonly>
                                            <!-- (keyup)="CalculateAmountT2($event, val,2,i)" -->


                                        </td>
                                    </tr>
                                    <!-- ----- Total Non-Manufacturing Cost Tier 2 ------ -->
                                    <!-- <tr>
                                    <td colspan="1" class="footer-color"><b>Total Non-Manufacturing Cost</b></td>
                                    <td colspan="1" class="footer-color text-end"><b>{{Non_TotalInUSDT2 |
                                            number:'1.2-2'}}</b></td>
                                    <td class="footer-color"></td>
                                    <td colspan="1" class="footer-color text-center"><b>{{Non_TotalInLocalT2 |
                                            number:'1.2-2'}}</b>
                                    </td>
                                </tr> -->

                                    <!-- ----- Terif Cost ------ -->
                                    <tr>
                                        <td colspan="1" class=""> Tariff </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="text-center">
                                            <input type="text" class="form-control UpdateTarif Notdisabled Non T2"
                                                id="TarifUpdatedT2" name="TarifUpdatedT2" [(ngModel)]="TarifValueT1"
                                                (keyup)="updateTotalCost('T2')" (keypress)="keyPressDecimal($event)" />
                                        </td>
                                    </tr>
                                    <!-- ----- Total Cost Tier 2 ------ -->
                                    <tr>
                                        <td colspan="1" class="footer-color tfoot"><b>Part Cost</b></td>
                                        <td colspan="1" class="footer-color tfoot text-end"><b>{{TotalInUSDT2 |
                                                number:'1.2-2'}}</b>
                                        </td>
                                        <td class="footer-color tfoot"></td>
                                        <td colspan="1" class="footer-color tfoot text-center"><b>{{TotalInLocalT2 |
                                                number:'1.2-2'}}</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="button" class="btn btn-outline-danger btn-GetReport" name="GetReport"
                            value="Get Report" (click)="GetReport()">
                    </div>
                </div> -->
                </div>
            </form>
        </div>

        <!-- existing code -->
        <!-- modal-dialog modal-dialog-centered -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display_Material}">
            <div class="modelsize" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Update Direct Material Cost¹</h3>
                        <label class="close modal-close-icn" (click)="onCloseHandled()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                    </div>
                    <div class="tableFixHead">
                        <form>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">supplyLevel</th>
                                        <!-- <th style="width: 5%;" class="ShouldCostBreakdowntableth">Sr. No.</th> -->
                                        <th style="width: 35%;" class="ShouldCostBreakdowntableth">Material Grade</th>
                                        <th style="width: 10%;" class="ShouldCostBreakdowntableth">Model Material Rate²
                                            ($ /
                                            kg) </th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Material Scrap Rate
                                            ($)
                                        </th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Part Finish Weight
                                            (kg)
                                        </th>
                                        <th style="width: 15%;" class="ShouldCostBreakdowntableth">Gross Weight of
                                            Material
                                            used (kg)</th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Current Material
                                            Rate
                                            ($)</th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Not quantity Net
                                            Weight
                                            of material
                                            used (kg)</th>
                                        <th style="width: 15%;" class="ShouldCostBreakdowntableth">Net Weight of
                                            Material
                                            used (kg)</th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Scrap Rate ($)</th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Unit Scrap Rate ($)
                                        </th>
                                        <th style="display: none" class="ShouldCostBreakdowntableth">Existing Material
                                            Cost
                                            ($)</th>
                                        <th style="width: 10%;" class="ShouldCostBreakdowntableth">New Material Rate³ ($
                                            /
                                            kg)
                                        </th>
                                        <th style="width: 10%;" class="ShouldCostBreakdowntableth">Updated Material Cost
                                            ($)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let val of MaterialGrade; let i=index">

                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr" style="display: none ">
                                            {{val.supplyLevel}}</td>
                                        <!-- <td class="HideRow"
                                        [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                        class="ShouldCostBreakdowntabletr" style="text-align: right;">{{i + 1}}</td> -->
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr">{{val.materialType }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr" style="text-align: right;">
                                            {{val.unitMaterialRate | number:'1.2-2' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr"
                                            style="text-align: right; display: none ">
                                            {{val.materialScrapRate | number:'1.4-4' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr"
                                            style="text-align: right; display: none ">
                                            {{val.partFinishWeight | number:'1.4-4' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr" style="text-align: right;">
                                            {{val.grossWeightKG | number:'1.4-4' }}

                                            <!-- <input type="text" class="form-control PopupText RMText" id="PopUpGross{{i}}"
                                            name="PopUpGross{{i}}" (keypress)="keyPressDecimal($event)"
                                            value="{{val.grossWeightKG}}"
                                            (keyup)="CalculateMaterialRate($event, val, i)" maxlength="8"> -->

                                        </td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr"
                                            style="text-align: right; display: none ">
                                            {{val.materialCost | number:'1.4-4' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr" style="text-align: right;display: none">
                                            {{val.netWeightKG | number:'1.4-4' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr" style="text-align: right; ">
                                            {{val.grossNetWeightKG | number:'1.4-4' }}

                                            <!-- <input type="text" class="form-control PopupText RMText" id="PopUpNet{{i}}"
                                        name="PopUpGross{{i}}" (keypress)="keyPressDecimal($event)"
                                        value="{{val.grossNetWeightKG}}"
                                        (keyup)="CalculateMaterialRate($event, val, i)" maxlength="8"> -->

                                        </td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr"
                                            style="text-align: right; display: none ">
                                            {{val.scrapRate | number:'1.4-4' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            class="ShouldCostBreakdowntabletr"
                                            style="text-align: right; display: none ">
                                            {{val.unitScrapRate | number:'1.4-4' }}</td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null"
                                            style="display: none ">
                                            <input type="text" class="form-control PopupText disabled Existing"
                                                id="PopUpResultExisting{{i}}" name="PopUpResultExisting{{i}}"
                                                value="{{val.updateMaterialCostExisting}}" readonly>
                                        </td>
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null">
                                            <input type="text" class="form-control PopupText RMText" id="PopUp{{i}}"
                                                name="PopUp{{i}}" (keypress)="keyPressDecimal($event)"
                                                value="{{val.updateMaterialRate}}"
                                                (keyup)="CalculateMaterialRate($event, val, i)" maxlength="8">
                                        </td>
                                        <!-- [class.HideRow]="val.supplyLevel == 'T1' && IsCastingSheet == true" -->
                                        <td class="HideRow"
                                            [class.HideRow]="val.casting == 1 && val.unitMaterialRate == null">
                                            <input type="text" class="form-control PopupText RMUpdateRate disabled"
                                                id="PopUpResult{{i}}" name="PopUpResult{{i}}"
                                                value="{{val.updateMaterialCost}}" readonly>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="5" class="footer-color tfoot text-end"><b>Total Material cost</b>
                                        </td>
                                        <td colspan="1" class="footer-color tfoot text-center">
                                            <b>{{TotalMaterialRate_Update
                                                | number:'1.2-2'}} ($)
                                            </b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-9 Remark_nopadding">
                                <b>Remarks : </b>
                                <ol type="1">
                                    <li>Use this pop-up window to update direct
                                        material rates used in previously costed models to
                                        recent market rates. If you are not aware on recent market rates, please reach
                                        out
                                        to COE team through Help & Support or send the model for refresh through
                                        "Refresh
                                        Model" button
                                        on previous page.</li>
                                    <li>Material rate used during model execution</li>
                                    <li>If you are unsure of current rates, reach out to COE or send the model for
                                        refresh</li>
                                    <li>This model was costed on {{DebriefDate}}</li>
                                </ol>
                            </div>
                            <div class="col-md-3 text-center">

                                <button type="button" class="btn btn-outline-dark btn-save" data-bs-dismis="modal"
                                    (click)="onCloseHandled()">Close</button>
                                <input [hidden]="IsHiddenT1" type="button" class="btn btn-outline-danger btn-save"
                                    name="GetData" id="btnT1" value="Update" (click)="GetMaterialData('T1')">
                                <input [hidden]="IsHiddenT2" type="button" class="btn btn-outline-danger btn-save"
                                    name="GetData" id="btnT2" value="Update" (click)="GetMaterialData('T2')">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modelsize_DirectCost" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Update {{ModelPopUpheaderLable}}</h3>
                        <label class="close modal-close-icn" (click)="onCloseHandled_Popup()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                    </div>
                    <div class="tableFixHead_DirectCost">
                        <form>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th style="width: 30%;" class="ShouldCostBreakdowntableth">Cost Header </th>
                                        <th style="width: 15%;" class="ShouldCostBreakdowntableth text-end">
                                            {{Direct_haeder2}} ($)</th>
                                        <th [class.HideRow]="Direct_haeder1 == Direct_Labor_Cost " style="width: 15%;"
                                            class="ShouldCostBreakdowntableth text-center">
                                            {{Direct_haeder5}} </th>
                                        <th style="width: 15%;" class="ShouldCostBreakdowntableth text-center">
                                            {{Direct_haeder3}} </th>
                                        <th style="width: 20%;" class="ShouldCostBreakdowntableth text-center">
                                            {{Direct_haeder4}} ($)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ShouldCostBreakdowntabletr">
                                        <td style="padding: 10px 10px;">{{Direct_haeder1}}</td>
                                        <td style="padding: 12px 8px 0px 0px;" class="text-end">
                                            {{ModelPopUp_usdValue |
                                            number:'1.2-2' }}</td>
                                        <td [class.HideRow]="Direct_haeder1 == Direct_Labor_Cost "
                                            style="padding: 12px 8px 0px 0px;" class="text-end">
                                            {{perValue |
                                            number:'1.2-2' }}</td>
                                        <td>
                                            <input autofocus type="text" class="form-control percentText DirectCost"
                                                maxlength="4" id="UpdateCostNonPer_Popup"
                                                (keypress)="keyPressDecimal($event)"
                                                (keyup)="CalculatePercentNon_DirectCost()">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control UpdateText disabled DirectCost"
                                                value="{{ModelPopUp_usdValue_Updated  | number:'1.2-2'}}" readonly>
                                        </td>

                                    </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-9 Remark_nopadding">
                                <b>Remarks : </b>
                                <ol type="1">
                                    <li>{{Notes1}}</li>
                                    <li>{{Notes2}}</li>
                                    <li>{{Notes3}}</li>
                                    <li>{{Notes4}}</li>
                                    <li class="HideRow" [class.HideRow]="IsNotes == true">{{Notes5}}</li>
                                    <li class="HideRow" [class.HideRow]="IsNotes == false">{{Notes6}}</li>
                                </ol>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn btn-outline-dark  btn-save" data-bs-dismis="modal"
                                    (click)="onCloseHandled_Popup()">Close</button>
                                <input [hidden]="IsHiddenT1_DirectCost" type="button"
                                    class="btn btn-outline-danger btn-save" name="GetData" id="btn_DirectCost_T1"
                                    value="Update" (click)="UpdateCost('T1')">
                                <input [hidden]="IsHiddenT2_DirectCost" type="button"
                                    class="btn btn-outline-danger btn-save" name="GetData" id="btn_DirectCost_T2"
                                    value="Update" (click)="UpdateCost('T2')">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ================== CUSTOM MODAL for process ================== -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display_process}">
            <div class="modelsize_DirectCostProcess" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Update {{ModelPopUpheaderLable}}</h3>
                        <label class="close modal-close-icn" (click)="onCloseHandled_ProcessPopup()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                    </div>
                    <div class="tableFixHead_Process">
                        <form>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th class="ShouldCostBreakdowntableth">Part Number</th>
                                        <th class="ShouldCostBreakdowntableth">Process</th>
                                        <th class="ShouldCostBreakdowntableth" style="width: 120px;">Initial Cost ($)
                                        </th>
                                        <th class="ShouldCostBreakdowntableth" style="width: 140px;">Process Active</th>
                                        <th class="ShouldCostBreakdowntableth" style="width: 120px;">Updated Cost ($)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of userAddedCostList; let i = index">
                                        <td class="processtr">{{ item.partNumber }}</td>
                                        <td class="processtr">{{ item.manufacturingProcessName }}</td>
                                        <td class="processtrnumber text-end" style="width: 120px;">{{
                                            item.manufacturingCost| number : "1.2-2"}}
                                        </td>
                                        <td class="processtr text-center" style="width: 140px;">

                                            <button *ngIf="item.csHeaderId != 0 else removeProcess"
                                                (click)="toggleCost(i)" class="toggle-btn">
                                                <svg *ngIf="isEnabled(i)" xmlns="http://www.w3.org/2000/svg" width="30"
                                                    height="28" fill="green" viewBox="0 0 20 20">
                                                    <path
                                                        d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8" />
                                                </svg>
                                                <svg *ngIf="!isEnabled(i)" xmlns="http://www.w3.org/2000/svg" width="30"
                                                    height="28" fill="gray" viewBox="0 0 20 20">
                                                    <path
                                                        d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm-6 5a4 4 0 1 1 8 0 4 4 0 0 1-8 0" />
                                                </svg>
                                            </button>
                                            <ng-template #removeProcess>
                                                <span (click)="removeAddedProcess(i)" class="removeAddedProcess"
                                                    ngbTooltip="Remove Added Process">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                        fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                        <path
                                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                                    </svg>
                                                </span>
                                            </ng-template>
                                        </td>
                                        <td class="processtr" style="width: 120px;">
                                            <input type="text" class="form-control PopupTextProcess RMText"
                                                id="PopUpProcess{{i}}" name="PopUpProcess{{i}}"
                                                (keypress)="keyPressDecimal($event)" value="{{item.updatedCost}}"
                                                (keyup)="updateRowCost(i, $event, item)" maxlength="8">
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="Processtablefooterth">
                                            <input type="button" class="btn btn-sm btn-outline-danger" name="GetData"
                                                value="Add New Process" (click)="ShowNewProcessPopup()">
                                        </td>
                                        <td class="Processtablefooterth text-end "><b>Total Initial Cost</b></td>
                                        <td class="Processtablefooterth text-end">
                                            <b style="margin-right: 5px;">
                                                {{ (totalInitialCost | number : "1.2-2") }}
                                            </b>
                                        </td>
                                        <td class="Processtablefooterth  text-end "><b>Total Updated Cost</b></td>
                                        <td class="Processtablefooterth text-center">
                                            <b>
                                                {{ (totalUpdatedCost | number : "1.2-2") }}
                                            </b>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                    <div class="ProcessPopup" id="ProcessPopup">
                        <input type="text" style="width:150px;height: 30px;" name="newPart" id="newPart"
                            placeholder="Enter Part Number" class="form-control" />
                        <input type="text" style="width:250px;height: 30px;" name="newProcess" id="newProcess"
                            placeholder="Enter Process" class="form-control" />
                        <input type="text" style="width: 100px;height:30px;" (keypress)="keyPressDecimal($event)"
                            name="newUpdatedCost" id="newUpdatedCost" placeholder="Enter Cost" class="form-control" />

                        <input type="button" class="btn btn-sm btn-outline-danger" name="Add" value="Add"
                            (click)="addNewProcess()">

                        <label class="close process-close-icn" (click)="closeaddNewProcess()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>

                    </div>

                    <div class="ProcessCostDifference">
                        <p>Updated Cost Difference: <b style="margin-left: 5px;"> $ {{ costDifference1 | number :
                                '1.2-2' }}
                            </b>
                        <p>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="width: 100%;">

                            <div class="col-md-9 Remark_nopadding">
                                <b>Remarks : </b>
                                <ol type="1">
                                    <li>This cost is inclusive of labor, direct overhead and indirect overhead for each
                                        processes</li>
                                </ol>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn btn-outline-dark  btn-save" data-bs-dismis="modal"
                                    (click)="onCloseHandled_ProcessPopup()">Close</button>
                                <input [hidden]="!IsHiddenT1_process" type="button"
                                    class="btn btn-outline-danger btn-save" name="GetData" id="btn_DirectCost_T1"
                                    value="Update" (click)="saveUserAddedCost('T1')">
                                <input [hidden]="IsHiddenT1_process" type="button"
                                    class="btn btn-outline-danger btn-save" name="GetData" id="btn_DirectCost_T2"
                                    value="Update" (click)="saveUserAddedCost('T2')">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>