<div class="setHeight">
    <form [formGroup]="userUnitMasterForm">
        <div class="MasterHeader">
            <div style="width: 50%;">
                <h2>User Master</h2>
            </div>
            <div class="text-end" style="width: 50%;">
                <button class="btnbackLeft" (click)="backToPreviousPage()">Back</button>
            </div>
        </div>
        <div class="MasterHeaderlable">

            <div class="searchDiv">
                <div class="form-group has-search" style="width: 50%;">
                    <span class="bi bi-search form-control-feedback"></span>
                    <input type="text" class="form-control search-input" placeholder="Search"
                        formControlName="textsearch" [(ngModel)]="textsearch">
                </div>
            </div>

            <div style="width: 50%;" class="text-end">
                <button type="button" class="btn btn-sm default-btn" id='add-btn' data-toggle="tooltip"
                    data-placement="top" title="Add Data" (click)="editModal=false" (click)="openModal()">Add
                    User</button>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <table class="table table-bordered table-striped " style="font-size: 12px !important;">
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Email Id</th>
                        <th>Role</th>
                        <th hidden>Team</th>
                        <th hidden>OrganizationName</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of userUnitMaster  | search: textsearch:filterMetadata | paginate: { itemsPerPage: 10, currentPage: page }  let i=index">
                        <td hidden>{{data.Id}}</td>
                        <td class="text-start">{{data.UserName}}</td>
                        <td class="text-start">{{data.FullName}}</td>
                        <td class="text-start">{{data.EmailId}}</td>
                        <td class="text-start">{{data.RoleName}}</td>
                        <td hidden>{{data.Team}}</td>
                        <td hidden>{{data.OrganizationName}}</td>
                        <td class="text-start">{{data.ActiveString}}</td>
                        <td class="text-start"> {{data.CreatedByName}}</td>

                        <td>{{data.CreatedOn | date:'dd-MMM-yyyy'}}</td>
                        <td>
                            <!-- <i class="bi bi-trash3" style="color: #da291c;" (click)="deleteRow(data.id)"></i> -->
                            <i class="bi bi-pencil-fill" style="padding-left: 0px; color: #da291c; font-size:larger;"
                                (click)="editModalMethod(data)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between p-2 pagination">
            <ngb-pagination [collectionSize]="filterMetadata.count" [(page)]="page" [pageSize]="pageSize"
                [rotate]="true" [boundaryLinks]="true" [maxSize]="5" size="sm">
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
            <br>
        </div>

    </form>

    <!-- pop up on add user -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
            <div class="modal-content  modal-lg ">
                <div class="modal-header">
                    <h4 class="modal-title">{{header}}</h4>
                    <label class="close modal-close-icn" (click)="onCloseHandled()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </label>
                </div>
                <!-- <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userUnitName" class="default-lbl"> User Name <span
                                            style="color: red;">*</span></label>
                                    <input class="form-control form-control-sm" type="text" value="{{userUnitName}}"
                                        placeholder="Please Enter User Name" name="userUnitName"
                                        (blur)="userNameOnBlur($event)">
                                    <div class="error-message" *ngIf="showError1"> Please Enter User Name.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="FullName" class="default-lbl">Full Name <span
                                        style="color: red;">*</span></label>
                                <input class="form-control form-control-sm" type="text" value="{{FullName}}"
                                    placeholder="Please Enter Full Name" name="FullName"
                                    (blur)="FullNameOnBlur($event)">
                                <div class="error-message" *ngIf="showError2"> Please Enter Full Name.</div>
                            </div>
                            <div class="col-md-12" style="height: 20px;"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput" class="default-lbl">Email Address <span
                                            style="color: red;">*</span></label>
                                    <input class="form-control form-control-sm" type="text"
                                        value="{{userUnitName}}@cummins.com" placeholder="Please enter email id"
                                        name="emailId" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput" class="default-lbl">Team <span
                                            style="color: red;">*</span></label>
                                    <input class="form-control form-control-sm" type="text" value="{{Team}}"
                                        placeholder="Please Enter Team" name="Team" (blur)="TeamOnBlur($event)">
                                    <div class="error-message" *ngIf="showError3"> Please Enter Team.</div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px;"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput" class="default-lbl">Organization Name <span
                                            style="color: red;">*</span></label>
                                    <input class="form-control form-control-sm" type="text" value="{{OrganizationName}}"
                                        placeholder="Please Enter Organization Name" name="OrganizationName"
                                        (blur)="OrgNameOnBlur($event)">
                                    <div class="error-message" *ngIf="showError4"> Please Enter Organization Name.</div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div> -->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <!-- User Name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userUnitName" class="default-lbl">User Name <span
                                            style="color: red;">*</span></label>
                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="userUnitName"
                                        placeholder="Please Enter User Name" name="userUnitName"
                                        (blur)="userNameOnBlur($event)">
                                    <div class="error-message" *ngIf="showError1"> Please Enter User Name.</div>
                                </div>
                            </div>

                            <!-- Full Name -->
                            <div class="col-md-6">
                                <label for="FullName" class="default-lbl">Full Name <span
                                        style="color: red;">*</span></label>
                                <input class="form-control form-control-sm" type="text" [(ngModel)]="FullName"
                                    placeholder="Please Enter Full Name" name="FullName"
                                    (blur)="FullNameOnBlur($event)">
                                <div class="error-message" *ngIf="showError2"> Please Enter Full Name.</div>
                            </div>

                            <div class="col-md-12" style="height: 20px;"></div>

                            <!-- Email -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailId" class="default-lbl">Email Address <span
                                            style="color: red;">*</span></label>
                                    <input class="form-control form-control-sm" type="text"
                                        [value]="userUnitName + '@cummins.com'" placeholder="Please enter email id"
                                        name="emailId" disabled>
                                </div>
                            </div>

                            <!-- Team Dropdown -->
                            <div class="col-md-6">
                                <div class="form-group custom-select-wrapper">
                                    <label for="Team" class="default-lbl">Team <span
                                            style="color: red;">*</span></label>
                                    <div class="custom-select-container">
                                        <select class="form-control form-control-sm custom-select" name="Team"
                                            [(ngModel)]="Team" (blur)="TeamOnBlur($event)">
                                            <option value="" disabled>Please Select Team</option>
                                            <option value="Category Sourcing">Category Sourcing</option>
                                            <option value="Engineering">Engineering</option>
                                            <option value="Indirect Purchasing">Indirect Purchasing</option>
                                            <option value="Manufacturing">Manufacturing</option>
                                            <option value="Sourcing COE">Sourcing COE</option>
                                            <option value="Supply Continuity">Supply Continuity</option>
                                            <option value="VPI Sourcing">VPI Sourcing</option>
                                            <option value="Aftermarket">Aftermarket</option>
                                            <option value="Environmental Sustainability and Compliance Strategy">Environmental Sustainability and Compliance Strategy</option>

                                        </select>
                                        <span class="custom-select-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="error-message" *ngIf="showError3"> Please Enter Team.</div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px;"></div>

                            <!-- Organization Name Dropdown -->
                            <div class="col-md-6">
                                <div class="form-group custom-select-wrapper">
                                    <label for="OrganizationName" class="default-lbl">Organization Name <span
                                            style="color: red;">*</span></label>
                                    <div class="custom-select-container">
                                        <select class="form-control form-control-sm custom-select"
                                            name="OrganizationName" [(ngModel)]="OrganizationName"
                                            (blur)="OrgNameOnBlur($event)">
                                            <option value="" disabled>Please Select Organization</option>
                                            <option value="Corporate">Corporate</option>
                                            <option value="Cummins Components and Software">Cummins Components and
                                                Software</option>
                                            <option value="Engine Business">Engine Business</option>
                                            <option value="Power Systems Business">Power Systems Business</option>
                                            <option value="Accelera Business">Accelera Business</option>
                                        </select>
                                        <span class="custom-select-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="error-message" *ngIf="showError4"> Please Enter Organization Name.</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismis="modal"
                        (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-sm  btn-default default-btn_popup"
                        (click)="onSaveButton()">{{txt_btn}}</button>
                </div>
            </div>
        </div>
    </div>

</div>